.ace_text-input {
    position: absolute !important
}

.exposeNewPort {
    margin-top: 18px;
}

.greenAccordion {
    border-color: #3c763d !important;
}

.greenAccordion .panel-heading {
    background-color: #dff0d8 !important;
}

.greenAccordion .panel-body {
    border-top-color: #337ab7 !important;
}

#settingsRepo {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
}

#settingsRepo td, #settingsRepo th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}

#settingsRepo tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

#settingsRepo tr:hover {
    background-color: #ddd !important;
}

#settingsRepo th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    background-color: #4CAF50 !important;
    color: white !important;
}

.tokens-box {
    width: 100% !important;
    margin: 0 0 15px 5px;
    padding: 12px;
    display: table;
    border-radius: 8px;
    border: solid 1px #cccccc;
}

.tokens-box .leftActions {
    float: left;
    max-width: 8%;
}

.tokens-box .leftActions a {
    margin-top: 6px;
    margin-right: 8px;
    float: left;
}

.tokens-box .rightActions {
    float: right;
    max-width: 45%;
}

.tokens-box .rightActions a {
    float: left !important;
    margin-right: 12px;
    min-width: 90px;
    padding: 5px;
}

.tokens-box label {
    padding-top: 4px;
    font-size: 16px;
}

.ownerLabel {
    color: #A9A9A9;
}

.tokenStatus {
    top: 5px;
    position: relative;
}

.token-value {
    margin-left: 25px;
}