<section ng-controller="infraCertificateCtrl">
	<div ng-switch="currentInfraName">
		<div ng-switch-when="aws">
			<div ng-include="'modules/dashboard/infra/_drivers/aws/directives/certificate.tmpl'"></div>
		</div>
	</div>
</section>
