<div class="header closed">
	<table width="100%" class="servicesList">
		<tr>
			<td>
				<a href="" ng-click="showHide(service)">
					<span class="icon icon-{{service.icon || 'plus'}}"></span>
				</a>
				<span ng-show="service['name'] !== 'controller'"><b style="margin:0;">{{service['name']|uppercase}}</b></span>
				<span ng-show="service['name'] === 'controller'"><b style="margin:0;">SOAJS API GATEWAY</b></span>
				<span>[ {{service.configuration['port']}} ]</span>
			</td>
			
			<td class="t-right"
			    ng-if="envDeployeType === 'manual' && awareness[service.name] && awareness[service.name].healthy">
				Deployed v({{awareness[service.name].version}})<span class="icon icon-checkmark green"></span>
			</td>
			<td class="t-right" ng-if="!service.favorite">
				<a href="" ng-click="setFavorite(service)" title="click to set as favorite">
					<span class="icon icon-star-empty"></span>
				</a>
			</td>
			<td class="t-right" ng-if="service.favorite">
				<a href="" ng-click="removeFavorite(service)" title="click to set as favorite">
					<span class="icon icon-star-full"></span>
				</a>
			</td>
		</tr>
	</table>
</div>

<div class="body grid" style="display:none;">
	<br>
	<div ng-if="service.description">
		<br>
	</div>
	<tabset>
		<tab ng-repeat="version in service.versions">
			<tab-heading ng-click="getDeployment(service, version)" style="cursor: pointer">
				Version {{version.version}} <a><i class="icon icon-loop2"></i></a>
			</tab-heading>
			<br>
			<div ng-if="envDeployeType === 'manual'">
				<div ng-include="'modules/dashboard/deployMarketplace/directives/global/manual.tmpl'"></div>
			</div>
		
			<div ng-if="envDeployeTechnology === 'kubernetes'">
				<div ng-include="'modules/dashboard/deployMarketplace/directives/global/kubernetes.tmpl'"></div>
			</div>
		</tab>
	</tabset>
</div>
