<div class="header closed">
	<table width="100%" class="servicesList">
		<tr>
			<td>
				<a href="" ng-click="showHide(service)">
					<span class="icon icon-{{service.icon || 'plus'}}"></span>
				</a>
				<span ng-show="service['name'] !== 'controller'"><b style="margin:0;">{{service['name']|uppercase}}</b></span>
				<span ng-show="service['name'] === 'controller'"><b style="margin:0;">SOAJS API GATEWAY</b></span>
				<span>[ {{service.configuration['port']}} ]</span>
			</td>
			
			<td class="t-right"
			    ng-if="envDeployeType === 'manual' && awareness[service.name] && awareness[service.name].healthy">
				Deployed v({{awareness[service.name].version}})<span class="icon icon-checkmark green"></span>
			</td>
			<td class="t-right" ng-if="!service.favorite">
				<a href="" ng-click="setFavorite(service)" title="click to set as favorite">
					<span class="icon icon-star-empty"></span>
				</a>
			</td>
			<td class="t-right" ng-if="service.favorite">
				<a href="" ng-click="removeFavorite(service)" title="click to set as favorite">
					<span class="icon icon-star-full"></span>
				</a>
			</td>
		</tr>
	</table>
</div>

<div class="body grid" style="display:none;">
	<br>
	<div ng-if="service.description">
		<br>
	</div>
	<tabset>
		<tab ng-repeat="version in service.versions" heading="Version {{version.version}}"
		     ng-click="getDeployment(service, version)">
			<br>
			<div ng-if="envDeployeTechnology === 'kubernetes'">
				<div ng-include="'modules/dashboard/deployMarketplace/directives/global/kubernetes.tmpl'"></div>
			</div>
			<div ng-if="access.marketplace.maintenance" class="dropdown serviceOpsDropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id=""
				        data-toggle="dropdown" aria-haspopup="true"
				        aria-expanded="true">
					Service Operations
					<span class="caret"></span>
				</button>
				<ul ng-show="version.maintenance && version.maintenance.commands" class="dropdown-menu"
				    aria-labelledby="serviceOpsDropdown">
					<li><a href=""
					       ng-show="version.maintenance.readiness"
					       ng-click="executeOperation(service, version, version.maintenance.readiness, 'Heartbeat')"><span
							class="fas fa-heart"></span> Heart Beat</a></li>
					
					<li ng-repeat="operation in version.maintenance.commands"><a href=""
					                                                             ng-if="operation.path !=='/heartbeat'"
					                                                             ng-click="executeOperation(service, version, operation.path, operation.label)"><i
							class="{{operation.icon}}"></i>&nbsp;{{operation.label}}</a>
					</li>
					<li><a href=""
					       ng-if=""
					       ng-click="deleteService(service,  version)"
					       ng-confirm-click="Are you sure you want to delete this service?"><span
							class="icon icon-cross"></span>&nbsp;Delete Service</a></li>
				</ul>
			</div>
		</tab>
	</tabset>
</div>
