<script type="text/ng-template" id="infoBox.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body"><pre><code class="javascript">{{data}}</code></pre></div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

<section ng-controller="myModuleCtrl">
    <div>
        <!-- if scope.access.add is allowed, show button-->
        <input type="button" value="Add New Entry" ng-click="addEntry();" ng-if="access.add" class="btn btn-primary btn-sm"/>
        <!-- UI Grid directive -->
        <nglist></nglist>
    </div>
</section>