<div class="modal-footer">
	<br/>
	<input ng-repeat="formAction in wizard.form.actions" ng-show="formAction.visible" type="{{formAction.type}}" value="{{formAction.label}}" ng-click="wizard.form.do(formAction)" class="btn btn-sm btn-{{formAction.btn}}"/>
</div>