<section ng-controller="addEnvCtrl">
	<div ng-switch="wizard.currentStep">
		<div ng-switch-when="type">
			<form>
				<div class="header"><h3>Environment Type</h3></div>
				<div ng-include="'modules/dashboard/environments/addEnv/directives/type.tmpl'"></div>
			</form>
		</div>
		<div ng-switch-when="gi">
			<form>
				<div class="header"><h3>Environment Code & Description</h3></div>
				<div ng-include="'modules/dashboard/environments/addEnv/directives/gi.tmpl'"></div>
			</form>
		</div>
		<div ng-switch-when="manual">
			<form>
				<div class="header"><h3>Manual Deployment</h3></div>
				<div ng-include="'modules/dashboard/environments/addEnv/directives/manual.tmpl'"></div>
			</form>
		</div>
		
		<div ng-switch-when="container">
			<form>
				<div class="header"><h3>Container Technology</h3></div>
				<div ng-include="'modules/dashboard/environments/addEnv/directives/container.tmpl'"></div>
			</form>
		</div>
		
		<div ng-switch-when="overview">
			<form>
				<div class="header"><h3>Overview</h3></div>
				<div ng-include="'modules/dashboard/environments/addEnv/directives/overview.tmpl'"></div>
			</form>
		</div>
		
		<div ng-switch-when="status">
			<form>
				<div class="header"><h3>Progress</h3></div>
				<div ng-include="'modules/dashboard/environments/directives/add/status.tmpl'"></div>
			</form>
		</div>
	</div>
</section>