<accordion close-others=false>
	<accordion-group is-open="true">
		<accordion-heading>Environment Details</accordion-heading>
		<div class="addEnvTable">
			<table>
				<tbody>
					<tr>
						<td><label>Type</label></td>
						<td>
							<span ng-if="wizard.envType ==='manual'">Manual Development</span>
							<span ng-if="wizard.envType ==='container'">Containerized Development</span>
						</td>
					</tr>
					<tr>
						<td><label>Code</label></td>
						<td><span>{{wizard.form.data.code}}</span></td>
					</tr>
					<tr>
						<td><label>Description</label></td>
						<td><span>{{wizard.form.data.description}}</span></td>
					</tr>
					<tr>
						<td><label>Template</label></td>
						<td><span>{{wizard.form.data.template}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</accordion-group>
	
	<accordion-group is-open="true">
		<accordion-heading>Template</accordion-heading>
		
		<accordion-group is-open="true" ng-if="wizard.envType ==='container'">
			<div>
				<accordion-heading>Container Technology</accordion-heading>
				<div ng-include="'modules/dashboard/environments/addEnv/directives/overviewCluster.tmpl'"></div>
			</div>
			<br>
		</accordion-group>
		
		<accordion-group is-open="true" ng-if="wizard.envType ==='manual'">
			<accordion-heading>Deployment Strategy</accordion-heading>
			
			<fieldset>
				<!--Manual-->
				<div class="alert alert-info">
					<h4><span class="icon icon-info"></span> Info:</h4>
					<p> I will not use any container technology to deploy my Service(s) and Daemon(s).
						I will also handle pulling and applying updates on the machines of this Environment myself.
					</p>
				</div>
			</fieldset>
		</accordion-group>
	</accordion-group>
</accordion>

<div ng-include="'modules/dashboard/environments/addEnv/directives/actions.tmpl'"></div>