<div class="grid">
	<table width="100%" cellspacing="10">
		<tr class="odd first">
			<td width="50%">
				<b>Master Node IP</b>
			</td>
			<td>{{wizard.provider.configuration.url}}</td>
		</tr>
		<tr class="even">
			<td width="50%">
				<b>Port</b>
			</td>
			<td>{{wizard.provider.configuration.port}}</td>
		</tr>
		<tr class="odd">
			<td width="50%">
				<b>Namespace Configuration</b>
			</td>
			<td>
				<input type="text" style="width: 30%;display: inline-block;" class="form-control" ng-required="true" ng-model="wizard.form.data.namespace"/>
			</td>
		</tr>
	</table>
</div>