.tr-azure-wrapper {
    width: 30%;
    float: left;
    margin: 1%;
    border: solid 1px #cccccc;
    border-radius: 8px;
}

.tr-azure-wrapper:hover {
    border: solid 1px #bbbbbb;
    cursor: pointer;
    background-color: #efefef;
}

.tr-azure-wrapper td {
    width: 100%;
    display: block;
}

.tr-azure-wrapper #azure {
    padding: 10px;
    text-align: center;
}

