<div>
	<label>{{entry.label}}</label>
	<div ng-if="form.formData.file">
		<span class="icon icon-checkmark"></span> Already Selected<br />
		<a class="red" href="" ng-click="removFile(form);">
			<span class="icon icon-cross"></span> Remove
		</a>
	</div>
	<div ng-if="!form.formData.file">
		<input class="form-control" id="{{entry.name}}" name="{{entry.name}}" type="file" on-read-file="showContent(entry.name , $fileContent, form)" tooltip="{{entry.tooltip}}" ng-required="entry.required"/>
		<div ng-show="entry.fieldMsg" class="fieldMsg hint" ng-bind-html="entry.fieldMsg|toTrustedHtml"></div>
	</div>
</div>
