<section ng-controller="infraNetworkCtrl">
	<div ng-switch="currentInfraName">
		<div ng-switch-when="azure">
			<div ng-include="'modules/dashboard/infra/_drivers/azure/directives/network.tmpl'"></div>
		</div>
		<div ng-switch-when="aws">
			<div ng-include="'modules/dashboard/infra/_drivers/aws/directives/network.tmpl'"></div>
		</div>
		<div ng-switch-when="google">
			<div ng-include="'modules/dashboard/infra/_drivers/google/directives/network.tmpl'"></div>
		</div>
	</div>
</section>
