<div ng-if="selectedEnv.deployer.type === 'manual'">
	<fieldset>
		<div class="grid">
			<h4>Manual deployment detect:</h4>
			<br>
			<p>
				SOAJS Gateway creates the same awareness and mesh interconnect among your micoservices, you just
				need to set teh following environment variable before you start any microservice.
			</p>
			<br>
			<table width="100%">
				<tr class="first even">
					<td width="40%" valign="top"><b>SOAJS_ENV</b></td>
					<td valign="top">{{registry.code}}</td>
				</tr>
				<tr class="odd">
					<td width="40%" valign="top"><b>SOAJS_DEPLOY_MANUAL</b></td>
					<td valign="top">1</td>
				</tr>
				<tr class="even">
					<td width="40%" valign="top"><b>SOAJS_REGISTRY_API</b></td>
					<td valign="top">{{selectedEnv.deployer.manual.nodes}}:{{registry.services.config.ports.controller +
						registry.services.config.ports.maintenanceInc}}
					</td>
				</tr>
			</table>
			<br>
		</div>
	</fieldset>
</div>
<div ng-if="selectedEnv.deployer.type === 'container'">
	<fieldset>
		<div class="grid">
			<h4>Container deployment detect:</h4>
			<br>
			<p>
				SOAJS Gateway creates automatically awareness and mesh interconnect among your micoservices, you
				do not need to do anything.
			</p>
			<br>
		</div>
	</fieldset>
</div>
<br>
<p class="fieldMsg">
	For more information about SOASJ Gateway automated awareness and interconnect mesh among deployed microsrvices,
	<a href="https://soajsorg.atlassian.net/wiki/spaces/CON/pages/1914142723/Awareness" target="_blank">Click
		Here</a>
</p>
