<section ng-controller="registryCtrl">
	
	<div ng-show="!registry">
		<hr>
		<div class="table w100 c-both grid">
			<table width="100%" cellpadding="10" cellspacing="10">
				<tr class="odd">
					<td style='padding:12px; font-size:15px;'>Empty registry.</td>
				</tr>
			</table>
		</div>
		<br/>
	</div>
	<tabset ng-show="registry">
		<tab heading="{{translation.defaultRegistry[LANG]}}">
			<br/>
			
			<div class="entryBoxes">
				<div class="entryBox">
					<div class="header">
						<span>{{translation.code[LANG]}}: {{registry.code}}</span>
						<span ng-show="registry['sitePrefix'] && registry.domain"> / {{translation.siteDomain[LANG]}}: {{registry.sitePrefix}}.{{registry.domain}}</span>
						<span ng-show="registry['apiPrefix'] && registry.domain"> / {{translation.apiDomain[LANG]}} : {{registry.apiPrefix}}.{{registry.domain}}</span>
					</div>
					<div class="body">
						<div class="description">
							{{registry.description}}
						</div>
						<br/>
						
						<div ng-include="'modules/dashboard/environments/registry/directives/list-service-config.tmpl'"></div>
						<div class="entryAction">
							
							<a ng-if="access.editRegistry" href="" ng-click="updateRegisrty(registry);">
								<span class="icon icon-pencil2" tooltip="{{translation.editEnvironment[LANG]}}"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Throttling">
			<br/>
			<div ng-include="'modules/dashboard/environments/registry/directives/throttling.tmpl'"></div>
		</tab>
		<tab  heading="Databases">
			<br/>
			<div ng-include="'modules/dashboard/environments/registry/directives/list-databases.tmpl'"></div>
		</tab>
		<tab heading="Custom Registry">
			<br/>
			<div ng-include="'modules/dashboard/environments/customRegistry/directives/list.tmpl'"></div>
		</tab>
		<tab heading="Resource Configuration">
			<br/>
			<div ng-include="'modules/dashboard/environments/resource/directives/list.tmpl'"></div>
		</tab>
	</tabset>
</section>
<script type="text/ng-template" id="session.tmpl">
	<div class="modal-header custom-modal-header">
		<h3 class="modal-title">Edit Session Database
		</h3>
	</div>
	<div class="modal-body">
		<div class="form" ng-include="'modules/dashboard/environments/registry/directives/session.tmpl'"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="submit()">
			Save
		</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="db.tmpl">
	<div class="modal-header custom-modal-header">
		<h3 class="modal-title">Add Database
		</h3>
	</div>
	<div class="modal-body">
		<div class="form" ng-include="'modules/dashboard/environments/registry/directives/db.tmpl'"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="submit()">
			Save
		</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</script>
