.recipe-box {
    width: 100% !important;
    float: left !important;
    margin-right: 1% !important;
    text-align: left;
    min-height: 120px;
}

.recipe-box label {
    margin-bottom: 0;
}

.catalogIcon {
    margin: 1% !important;
    float: left;
}

.blueRecipeBox {
    border: solid 1px #337ab7 !important;
}

.blueBoxHeader {
    background-color: #DEF1F7 !important;
    border-bottom-color: #337ab7 !important;
}

.greenRecipeBox {
    border: solid 1px #3c763d !important;
}

.greenBoxHeader {
    background-color: #dff0d8 !important;
    border-bottom-color: #3c763d !important;
}

.searchBoxContainer {
    margin-right: 2%;
}

#page .volumesAppCtrl div.entryBoxes div.entryBox, .entryOneBox {
    height: 116px;
}

#page .volumesAppCtrl div.entryBoxes div.entryBox, .entryOneBox .body {

}

fieldset h4:not(alert h4){
    background-color:#dff0d8 !important;
    /*color:white;*/
}

fieldset pre{
    background-color:white;
    /*color: rgb(49, 132, 149);*/
}

.volumesForm h2{
    background-color:#d9edf7;
    color:#31708f;
    border-color: #bce8f1;
    padding:15px;
    margin-top:10px;
    border-radius: 5px;
}

.volumesForm table tr td{
    width: 98% !important;
    display: block;
    margin-right: 2%;
}

.volumesForm .tr-imagePrefix-wrapper,
.volumesForm .tr-imageName-wrapper,
.volumesForm .tr-imageTag-wrapper{
    float:left;
    width:33%;
}
.volumesForm .tr-Label-wrapper{
  float:left;
  width:25%;
}
.volumesForm .tr-repo-wrapper{
   float:left;
   width:25%;
 }
.volumesForm .tr-branch-wrapper{
  float:left;
  width:25%;
}
.catalogRecipeForm .tr-required-wrapper{
  float:left;
  width:25%;
}

.volumesForm .tr-customLabel-wrapper{
  float:left;
  width:20%;
}

.volumesForm .tr-customRepo-wrapper{
  float:left;
  width:20%;
}

.volumesForm .tr-customType-wrapper{
  float:left;
  width:20%;
}

.volumesForm .tr-customBranch-wrapper{
  float:left;
  width:20%;
}

.volumesForm .tr-customRequired-wrapper{
  float:left;
  width:20%;
}
.volumesForm tr[class^="form-group tr-labelGroup"],
.volumesForm tr[class^="form-group tr-volumeGroup"]{
    position:relative;
}

.volumesForm tr[class^="form-group tr-rLabel"]{
    color:#a94442;
    float:right;
    position: absolute;
    right: 30px;
    cursor:pointer;
}

.volumesForm tr[class^="form-group tr-rVolume"]{
    color:#a94442;
    float:right;
    top: 35px;
    position: absolute;
    right: 20px;
    cursor:pointer;
}

.volumesForm tr[class^="form-group tr-envVarRemove"],
.volumesForm tr[class^="form-group tr-rPort"]{
    color:#a94442;
    float:right;
    position: absolute;
    right: 60px;
    cursor:pointer;
}

.volumesForm tr[class^="form-group tr-label"],
.volumesForm tr[class^="form-group tr-userInputVar"],
.volumesForm tr[class^="form-group tr-staticVar"],
.volumesForm tr[class^="form-group tr-computedVar"],
.volumesForm tr[class^="form-group tr-docker"],
.volumesForm tr[class^="form-group tr-port"]{
    float: left;
    width: 100%;
}

.volumesForm tr[class^="form-group tr-userInputVar"] td,
.volumesForm tr[class^="form-group tr-staticVar"] td,
.volumesForm tr[class^="form-group tr-computedVar"] td,
.volumesForm tr[class^="form-group tr-port"] td{
    width:99% !important;
}

.volumesForm tr[class^="form-group tr-labelName"],
.volumesForm tr[class^="form-group tr-labelValue"],
.volumesForm tr[class^="form-group tr-envVarName"],
.volumesForm tr[class^="form-group tr-envVarType"],
.volumesForm tr[class^="form-group tr-volumeGroup"],
.volumesForm .tr-workingDir-wrapper,
.volumesForm .tr-network-wrapper,
.volumesForm .tr-maxAttempts-wrapper,
.volumesForm .tr-condition-wrapper,
.volumesForm .tr-imagePullPolicy-wrapper,
.volumesForm .tr-imageOverride-wrapper{
    float:left;
    width:50%;
}

.form .modal-header{
    background-color: #5BC0DE;
    color: white;
}

.ace_text-input {position:absolute!important}

#configButton-wrapper .toggleSwitch {
    margin-left : 7px;
}

#customButton-wrapper .toggleSwitch {

}
