<section ng-controller="releaseAppCtrl" class="releaseAppCtrl">
	<div ng-if="access.list">
		<div class="entryBoxes">
			<br/>
			<fieldset>
				<legend>Current Release: {{currentRelease.label}}</legend>
				<span style="font-style: italic;">{{currentRelease.description}}</span>
				<br>
				<br>
				<accordion close="true">
					<accordion-group class="greenAccordion">
						<accordion-heading>Repositories</accordion-heading>
						<table id="settingsRepo">
							<tr>
								<th>Name</th>
								<th>Repository</th>
								<th>Version</th>
							</tr>
							<tr ng-repeat="repository in currentRelease.repositories">
								<td>{{repository.label}}</td>
								<td>{{repository.repo}}</td>
								<td>{{repository.ver}}</td>
							</tr>
						</table>
					</accordion-group>
				</accordion>
			</fieldset>
			<hr>
			<div class="alert alert-info">
				<h4><span class="icon icon-info"></span> Update:</h4>
				<p style="font-size: 16px" ng-show="ready && update">Currently you are using {{currentRelease.label}} release and this is the latest release.</p>
				<p style="font-size: 16px" ng-show="ready && !update">Currently you are using {{currentRelease.label}} release and this is not the latest release. Stingray is the latest release, please contact soajs team for more information.</p>
			</div>
		</div>
	</div>
</section>
