<script type="text/ng-template" id="editRecipe.tmpl">
	<div class="form">
		<div class="modal-header">
			<h3 class="modal-title" ng-show="recipe.name">{{recipe.name}} / Version {{recipe.v}}<span class="pull-right">{{recipe.ts | date}}</span></h3>
			<h3 class="modal-title" ng-show="!recipe.name">Creating New Recipe</h3>
		</div>
		<div class="catalogRecipeForm modal-body">
			<ngform></ngform>
		</div>
	</div>
</script>

<section ng-controller="soajsCatalogAppCtrl" class="soajsCatalogAppCtrl">
	<div ng-if="recipes && recipes.length === 0">
		<br />
		<br />
		<alert type="warning">
			<p>No Catalog Recipes found.
				<span ng-if="showSOAJSStoreLink && showSOAJSStoreLink!== ''">
							You can download for free catalog recipes from the <a href="{{showSOAJSStoreLink}}" target="_blank"><b>SOAJS Store</b></a>.
						</span>
			</p>
		</alert>
	</div>
	<div ng-if="access.list">
		<div ng-if="recipes && recipes.length > 0" class="entryBoxes">
			<br />
			<tabset>
				<tab ng-repeat="(recipeType, recipeSubType) in recipeTypes" heading="{{recipeType}}">
					<br />
					<accordion close-others="false">
						<accordion-group ng-repeat="(subtype, recipes) in recipeSubType">
							<accordion-heading>{{subtype}}</accordion-heading>
							<div ng-repeat="recipe in recipes | orderBy:'-v'" class="entryBox" ng-class="{blueRecipeBox: !recipe.locked, greenRecipeBox: (recipe.subtype === 'soajs' && !recipe.locked)}">
								<div class="header" ng-class="{blueBoxHeader: !recipe.locked, greenBoxHeader: (recipe.subtype ==='soajs' && !recipe.locked)}">
									{{recipe.name}}<span><em>( v:{{recipe.v}} )</em></span> <span ng-if="recipe.locked" class="icon icon-lock"></span>
									<div class="rightActions" style="display:inline;">
										<a href="" ng-if="!recipe.locked && access.update" ng-click="updateRecipe(recipe)">
											<span class="icon icon-pencil" tooltip="Update Recipe"></span>
										</a>
										<a href="" ng-if="recipe.locked" ng-click="viewRecipe(recipe)">
											<span class="icon icon-search" tooltip="View Recipe"></span>
										</a>
									</div>
								</div>
								<div class="body">
									<table width="100%%">
										<tr>
											<td valign="middle" width="5%" align="center">
												<img ng-src="{{catalogImage}}" width="32px" height="32px"/>
											</td>
											<td valign="middle" align="left">
												<label>{{recipe.type|capitalizeFirst}} Recipe</label><br />
												{{recipe.description}}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</accordion-group>
					</accordion>
				</tab>
			</tabset>
		</div>
	</div>

</section>
