<h4>Features</h4>
<div>
	<p>
		The Microsoft Azure Driver driver allows you to provision virtual machine clusters using <b>Terraform</b> and connects to these clusters empowering you to manage and operate in a single pane of glass.
	</p>
	<p>The driver also extends the default functionality that Terraform offers by adding many features such as:</p>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Provisioning</h5>
			</div>
			<div class="body">
				<ul>
					<li>Virtual Machine Clustering over multi region</li>
					<li>Supports Infra Code Templates with terraform driver</li>
					<li>Templated environment support</li>
				</ul>
				<br /><br /><br /><br />
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Deployment</h5>
			</div>
			<div class="body">
				<ul>
					<li>Deploy from source code (any framework)</li>
					<li>Deployment catalog "recipes"</li>
					<li>Deploy from multi GIT server</li>
					<li>Resource management & deployment</li>
				</ul>
				<br /><br /><br />
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Operation</h5>
			</div>
			<div class="body">
				<ul>
					<li>Virtual Machines Layering & management</li>
					<li>Resource Groups management</li>
					<li>Network management</li>
					<li>Security & firewall management</li>
					<li>Load balancer management</li>
					<li>Public IP address management</li>
					<li>DNS & endpoints management</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<h4>Environments:</h4>
<div>
	<p>
		<span class="glyphicon glyphicon-chevron-right"></span> Supports creating <a href="https://soajsorg.atlassian.net/wiki/spaces/SOAJ/pages/483164173/Single+Cloud+Clustering" target="_blank"><b>Single Cloud Clustering Environments</b></a>, SOAJS will use this <b>Microsoft Azure Account</b> to provisioning multiple  <b>Virtual Machine Clusters</b> as the infrastructure to deploy from source code and deploy resources inside containers.
	</p>
	<p>
		<span class="glyphicon glyphicon-chevron-right"></span> Supports sharing the same provisioned <b>Virtual Machine Cluster</b> as infrastructure with multiple single cloud clustering environments.
	</p>
</div>
<hr>
<h4>Next Step</h4>
<p>
	<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Manage <a href="#/infra-templates">Infra Code Templates</a><br />
</p>
<hr>
<!--<h4>Driver Speific</h4>-->
<!--<div class="grid">-->
	<!--<table width="100%">-->
		<!--<thead>-->
			<!--<tr>-->
				<!--<th width="12%">Driver</th>-->
				<!--<th width="12%">Template Storage</th>-->
				<!--<th>Storage Details</th>-->
			<!--</tr>-->
		<!--</thead>-->
		<!--<tbody>-->
			<!--<tr>-->
				<!--<td><b>Terraform</b></td>-->
				<!--<td valign="top">SOAJS Console</td>-->
				<!--<td valign="top">Infra code templates are stored within the <b>SOAJS Console</b> Database and used whenever a <b>Virtual Machine Layer</b> is being provisioned using <b>Terraform</b>.</td>-->
			<!--</tr>-->
		<!--</tbody>-->
	<!--</table>-->
<!--</div>-->
<!--<hr>-->
<h4>Documentation</h4>
<p>
	<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;For more information about SOAJS <b>Microsoft Azure</b> Driver, <a href="https://soajsorg.atlassian.net/wiki/spaces/DSBRD/pages/729579529/Microsoft+Azure" target="_blank">Click Here</a>
</p>