<h4>Features</h4>
<div>
	<p>The Docker Swarm driver connects to any existing Docker Swarm cluster empowering you to manage and operate that
		cluster in a single pane of glass.
	</p>
	<p>The driver also extends the default functionality that Docker Swarm offers by adding	many features such as:</p>
</div>
<div class="row">
	
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Deployment</h5>
			</div>
			<div class="body">
				<ul>
					<li>Deploy from source code (any framework)</li>
					<li>Deployment catalog "recipes"</li>
					<li>Deploy from multi GIT server</li>
					<li>Resource management & deployment</li>
					<li>Custom CI/CD pipelines</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Operation</h5>
			</div>
			<div class="body">
				<ul>
					<li>Container orchestration</li>
					<li>Containers resources Awareness</li>
					<li>Metrics & analytics</li>
					<li>Reload configuration w/o downtime</li>
				</ul>
				<br />
			</div>
		</div>
	</div>
	<div class="col-lg-4">
	
	</div>
</div>
<hr>
<h4>Environments:</h4>
<div>
	<p>
		<span class="glyphicon glyphicon-chevron-right"></span> Supports creating <a href="https://soajsorg.atlassian.net/wiki/spaces/SOAJ/pages/831684810/Containerized+Environment" target="_blank"><b>Containerized Environments</b></a>, SOAJS will use this <b>Docker Swarm Cluster</b> as the infrastructure to deploy from source code and deploy resources inside containers.
	</p>
	<p>
		<span class="glyphicon glyphicon-chevron-right"></span> Supports sharing the same <b>Docker Swarm Cluster</b> as infrastructure with multiple containerized environments.
	</p>
</div>
<hr>
<h4>Documentation:</h4>
<div>
	<p>
		<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;For more information about SOAJS <b>Docker Swarm</b> Driver, <a href="https://soajsorg.atlassian.net/wiki/spaces/DSBRD/pages/600539248/How+to+Get+Docker+Token" target="_blank">Click Here</a>
	</p>
</div>
