<h4>Features</h4>
<div>
	<p>
		The Google Cloud driver allows you to provision Kubernetes clusters using <b>Google Kubernetes Engine (GKE)</b> and connects to these clusters empowering you to manage and operate in a single pane of glass.
	</p>
	<p>The driver also extends the default functionality that GKE and Kubernetes offer by adding many features such as:</p>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Provisioning</h5>
			</div>
			<div class="body">
				<ul>
					<li>Container Clustering over multi region</li>
					<li>Supports Infra Code Templates with native driver (GKE)</li>
					<li>Templated environment support</li>
				</ul>
				<br /><br /><br />
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Deployment</h5>
			</div>
			<div class="body">
				<ul>
					<li>Deploy from source code (any framework)</li>
					<li>Deployment catalog "recipes"</li>
					<li>Deploy from multi GIT server</li>
					<li>Resource management & deployment</li>
					<li>Custom CI/CD pipelines</li>
				</ul>
				<br />
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="entryBox">
			<div class="header">
				<h5>Operation</h5>
			</div>
			<div class="body">
				<ul>
					<li>Container orchestration</li>
					<li>Load balancer management</li>
					<li>DNS & endpoints management</li>
					<li>Containers resources awareness</li>
					<li>Metrics & analytics</li>
					<li>Reload configuration w/o downtime</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr>
<h4>Next Step</h4>
<p>
	<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Manage <a href="#/infra-templates">Infra Code Templates</a><br />
</p>
<hr>
<!--<h4>Driver Speific</h4>-->
<!--<div class="grid">-->
	<!--<table width="100%">-->
		<!--<thead>-->
			<!--<tr>-->
				<!--<th width="12%">Driver</th>-->
				<!--<th width="12%">Template Storage</th>-->
				<!--<th>Storage Details</th>-->
			<!--</tr>-->
		<!--</thead>-->
		<!--<tbody>-->
			<!--<tr>-->
				<!--<td><b>GKE</b></td>-->
				<!--<td valign="top">SOAJS Console</td>-->
				<!--<td valign="top">Infra code templates are stored within the <b>SOAJS Console</b> Database and used whenever a <b>Kubernetes</b> cluster is being provisioned using <b>GKE</b> Engine.</td>-->
			<!--</tr>-->
		<!--</tbody>-->
	<!--</table>-->
<!--</div>-->
<!--<hr>-->
<h4>Documentation</h4>
<p>
	<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;For more information about SOAJS <b>Google Cloud</b> Driver, <a href="https://soajsorg.atlassian.net/wiki/spaces/DSBRD/pages/729546773/Google+Cloud" target="_blank">Click Here</a>
</p>