<section ng-controller="infraCtrl">
	<div ng-if="!noInfraProvidersConfigured">
		<div class="w100">
			<div class="col-lg-2">
				<img ng-src="{{currentSelectedInfra.icon}}" alt="" height="48"/>
			</div>
			<div class="col-lg-10 t-right">
				<a href="" ng-click="editProvider(currentSelectedInfra)" class="btn btn-sm btn-success" ng-if="access.edit">
					<span class="icon icon-pencil"></span> Reconfigure
				</a>&nbsp;
				<a href="" ng-confirm-click="Are you sure you want to deactivate this Provider ?" ng-click="deactivateProvider(currentSelectedInfra)" class="btn btn-sm btn-danger" ng-if="access.deactivate">
					<span class="icon icon-cross"></span> Deactivate
				</a>
			</div>
		</div>
		<div class="w-100 c-both entryBoxes" id="driver-specs">
			<div>
				<hr>
				<div ng-if="currentSelectedInfra.name === 'local'">
					<div ng-if="currentSelectedInfra.technologies[0] === 'docker'">
						<div ng-include="'modules/dashboard/infra/main/directives/docker-machine.tmpl'"></div>
					</div>
					<div ng-if="currentSelectedInfra.technologies[0] === 'kubernetes'">
						<div ng-include="'modules/dashboard/infra/main/directives/kubernetes-machine.tmpl'"></div>
					</div>
				</div>
				
				<div ng-if="currentSelectedInfra.name === 'google'">
					<div ng-include="'modules/dashboard/infra/main/directives/google.tmpl'"></div>
				</div>
				
				<div ng-if="currentSelectedInfra.name === 'aws'">
					<div ng-include="'modules/dashboard/infra/main/directives/aws.tmpl'"></div>
				</div>
				
				<div ng-if="currentSelectedInfra.name === 'azure'">
					<div ng-include="'modules/dashboard/infra/main/directives/azure.tmpl'"></div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="noInfraProvidersConfigured">
		<alert type="warning">No infra providers detected. <br /> <a href="" ng-click="activateProvider()">Click here</a> to connect your first infra cloud provider.</alert>
	</div>
</section>
