<section ng-controller="soajsCatalogApp">
	<div ng-if="access.listServices" class="f-right">
		<a href="" ng-click="listSoajsCatalog()" class="btn btn-primary f-right">
			<span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}
		</a>
		<br/><br/>
	</div>
	
	<tabset>
		<tab ng-repeat="(main, subTabs) in mainTabs track by $index" heading="{{main}}">
			<br>
			<tabset>
				<tab ng-repeat="(sub, groups) in subTabs track by $index" heading="{{sub}}">
					<br>
					<div  ng-repeat="(group, records) in groups track by $index">
						<fieldset class="custom-fieldset" ng-show="group">
							<legend>{{group}}</legend>
							<div class="entryBoxes">
								<div  id="s_{{service._id}}" ng-repeat="service in records" class="entryBox" ng-init="service.hide = true;">
									<div ng-include="'modules/dashboard/marketplace/directives/soajs/recordListing.tmpl'"></div>
								</div>
							</div>
						</fieldset>
					</div>
				
				</tab>
			</tabset>
		
		</tab>
	</tabset>
</section>
