<div class="header closed">
	<table width="100%" class="servicesList">
		<tr>
			<td>
				<a href="" ng-click="showHide(service)">
					<span class="icon icon-{{service.icon || 'plus'}}"></span>
				</a>
				<span ng-show="service['name'] !== 'controller'"><b style="margin:0;">{{service['name']|uppercase}}</b></span>
				<span ng-show="service['name'] === 'controller'"><b style="margin:0;">SOAJS API GATEWAY</b></span>
				<span>[ {{service.configuration['port']}} ]</span>
			</td>
			<td>
				<span ng-if="service.src['repo']"><b>{{translation.repository[LANG]}}</b>:<span>{{service.src['repo']}}</span></span>
			</td>
			<td>
				<b>{{translation.requestTimeout[LANG]}}</b>:<span>{{service['requestTimeout'] || 0}}</span>
			</td>
			<td>
				<b>{{translation.requestTimeoutRenewal[LANG]}}</b>:<span>{{service['requestTimeoutRenewal'] || 0}}</span>
			</td>
			<td class="t-right" ng-if="!service.favorite">
				<a href=""   ng-click="setFavorite(service)" title="click to set as favorite" >
					<span class="icon icon-star-empty"></span>
				</a>
			</td>
			<td class="t-right" ng-if="service.favorite">
				<a href=""   ng-click="removeFavorite(service)" title="click to set as favorite" >
					<span class="icon icon-star-full"></span>
				</a>
			</td>
			<td class="t-right">
				<a href="" ng-click="openSettings(service.name, service.type)" class="icon icon-cog" title="click to run Service Configuration" >
								<span>
								</span>
				</a>
			</td>
			<td class="t-right">
				<a href="" ng-click="openServiceView(service.name, service.type)" title="click to run Service Detail View" >
								<span><img style="height: 25px; width:25px;" src="modules/dashboard/marketplace/directives/images/service-detail.png">
								</span>
				</a>
			</td>
		</tr>
	</table>
</div>
<div class="entryAction">
</div>
<div class="body grid" style="display:none;">
	<br>
	<div ng-if="service.description">
		<em>description: {{service.description}}</em>
		<br>
		<br>
	</div>
	<tabset>
		<tab ng-repeat="oneList in service.versions" heading="Version {{oneList.version}}">
			<br />
			<div ng-if="oneList.lastSync" >
				<div>
					<span><b>Last Sync:</b></span>
					<span style="margin-right: 10px; margin-left: 10px;"><b>{{oneList.lastSync.branch}}</b> - {{oneList.lastSync.ts | date: 'd/M/yy h:mm a'}}</span>
					<b>Branches</b>:<span class="lastSyncBranches" tooltip="{{oneList.branches.join(', ')}}"  tooltip-placement="bottom" tooltip-class="customClass"> [ {{oneList.branches.join(', ')}} ] </span>
				</div>
			</div>
			<br />
			<div ng-show="oneList.type==='service'">
				<accordion close-others="true">
					<accordion-group is-open="true" class="blueAccordion">
						<accordion-heading><span class="icon icon-cog"></span>Configuration</accordion-heading>
						<fieldset>
							<legend>Environment(s)</legend>
							<div class="entryBoxes entryBoxesGrid">
								<div ng-repeat="env in envs">
									<div class="entryBox greyBox" ng-style="{'width': '200px'}" ng-class="{ blueBox: oneList.settings[env] }">
										<b>{{env}} {{translation.environment[LANG]}}</b>&nbsp;&nbsp;
										<a href="" ng-style="{'float': 'right'}" ng-click="updateServiceSettings(env, oneList.version, service)">
											<span class="icon icon-pencil" tooltip="{{translation.editServiceConfiguration[LANG]}}"></span>
										</a>
									</div>
								</div>
							</div>
						</fieldset>
					</accordion-group>
					<accordion-group class="greenAccordion">
						<accordion-heading><span class="icon icon-cloud"></span>API</accordion-heading>
						<alert ng-if="!oneList.fixList.groups" type="warning">No APIs found, please update your service or endpoint schema to proceed.</alert>
						<fieldset ng-repeat="(grp, val) in oneList.fixList.groups" class="" >
							<legend>{{grp}}</legend>
							<span ng-if="val.defaultApi"><label>{{translation.defaultRoute[LANG]}}:</label> {{val.defaultApi}}<br></span>
							
							<div ng-if="val.Read">
								<fieldset>
									<legend> Read</legend>
									<div  ng-repeat="myApi in val.Read.apis">
										<div class ="readApi">
											<span class="readMethodApi">{{myApi.m}}</span>
											<span class="readRouteApi">{{myApi.v}}</span>
											<span class="readDescriptionApi">{{myApi.l}}</span>
										</div>
									</div>
								</fieldset>
							</div>
							
							<div ng-if="val.Add">
								<fieldset>
									<legend>Add</legend>
									<div  ng-repeat="myApi in val.Add.apis">
										<div class ="addApi">
											<span class="addMethodApi">{{myApi.m}}</span>
											<span class="addRouteApi">{{myApi.v}}</span>
											<span class="addDescriptionApi">{{myApi.l}}</span>
										</div>
									</div>
								</fieldset>
							</div>
							
							<div  ng-if="val.Update">
								<fieldset>
									<legend>Update</legend>
									<div  ng-repeat="myApi in val.Update.apis">
										<div class ="updateApi">
											<span class="updateMethodApi">{{myApi.m}}</span>
											<span class="updateRouteApi">{{myApi.v}}</span>
											<span class="updateDescriptionApi">{{myApi.l}}</span>
										</div>
									</div>
								</fieldset>
							</div>
							
							<div ng-if="val.Delete">
								<fieldset>
									<legend>Delete</legend>
									<div  ng-repeat="myApi in val.Delete.apis">
										<div class ="deleteApi">
											<span class="deleteMethodApi">{{myApi.m}}</span>
											<span class="deleteRouteApi">{{myApi.v}}</span>
											<span class="deleteDescriptionApi">{{myApi.l}}</span>
										</div>
									</div>
								</fieldset>
							</div>
							
							<div ng-if="val.Patch">
								<fieldset>
									<legend>Patch</legend>
									<div  ng-repeat="myApi in val.Patch.apis">
										<div class ="patchApi">
											<span class="patchMethodApi">{{myApi.m}}</span>
											<span class="patchRouteApi">{{myApi.v}}</span>
											<span class="patchDescriptionApi">{{myApi.l}}</span>
										</div>
									</div>
								</fieldset>
							</div>
							
							<div ng-if="val.Head">
								<fieldset>
									<legend>Head</legend>
									<div  ng-repeat="myApi in val.Head.apis">
										<div class ="headApi">
											<span class="headMethodApi">{{myApi.m}}</span>
											<span class="headRouteApi">{{myApi.v}}</span>
											<span class="headDescriptionApi">{{myApi.l}}</span>
										</div>
									</div>
								</fieldset>
							</div>
							
							<div ng-if="val.Other">
								<fieldset>
									<legend>Other</legend>
									<div  ng-repeat="myApi in val.Other.apis">
										<div class ="otherApi">
											<span class="otherMethodApi">{{myApi.m}}</span>
											<span class="otherRouteApi">{{myApi.v}}</span>
											<span class="otherDescriptionApi">{{myApi.l}}</span>
										</div>
									</div>
								</fieldset>
							</div>
						
						</fieldset>
					</accordion-group>
				</accordion>
			</div>
		</tab>
	</tabset>
</div>

<script type="text/ng-template" id="updateServiceSettings.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body text-align-center">
		<div class="grid">
			<table width="100%" border="0" cellpadding="5" cellspacing="3">
				<tbody>
				<tr class="first odd">
					<td width="80%" align="left">External Key Required</td>
					<td width="20%">
						<a href="" ng-click="onOff('extKeyRequired')" class="btn btn-sm" ng-class="{'btn-success': settings.extKeyRequired, 'btn-danger': !settings.extKeyRequired}">
							<span class="icon icon-switch"></span>Turned {{(settings.extKeyRequired)? 'On' : 'Off'}}
						</a>
					</td>
				</tr>
				<tr class="even">
					<td align="left">oAuth</td>
					<td>
						<a href="" ng-click="onOff('oauth')" class="btn btn-sm" ng-class="{'btn-success': settings.oauth, 'btn-danger': !settings.oauth}">
							<span class="icon icon-switch"></span>Turned {{(settings.oauth)? 'On' : 'Off'}}
						</a>
					</td>
				</tr>
				<tr class="odd">
					<td align="left">URAC</td>
					<td>
						<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
							<span class="icon icon-switch"></span>Turned {{(settings.urac)? 'On' : 'Off'}}
						</a>
					</td>
				</tr>
				
				<tr class="even">
					<td align="left">URAC Profile</td>
					<td>
						<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
							<span class="icon icon-switch"></span>Turned {{(settings.urac_Profile)? 'On' : 'Off'}}
						</a>
					</td>
				</tr>
				
				<tr class="odd">
					<td align="left">URAC ACL</td>
					<td>
						<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
							<span class="icon icon-switch"></span>Turned {{(settings.urac_ACL)? 'On' : 'Off'}}
						</a>
					</td>
				</tr>
				
				<tr class="last even">
					<td align="left">Provision ACL</td>
					<td>
						<a href="" disabled="true" class="btn btn-sm btn-link" style="color:#333;">
							<span class="icon icon-switch"></span>Turned {{(settings.provision_ACL)? 'On' : 'Off'}}
						</a>
					</td>
				</tr>
				
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Update</button>
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>