<div class="modal-footer">
	<br/>
	<input ng-repeat="formAction in form.actions" type="{{formAction.type}}" value="{{formAction.label}}" ng-click="form.do(formAction)" class="btn btn-sm btn-{{formAction.btn}}"/>
</div>