<script type="text/ng-template" id="infraProvider.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<ngform></ngform>
	</div>
</script>
<accordion close-others="true">
	<accordion-group is-open="platforms.previous" ng-click="switchDriver('previous')" ng-show="restrictions.previousEnv && availableEnvironments.length > 0">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.previous" value="true" name="previous" disabled/>&nbsp;
			Use an existing Infra Cloud Provider
		</accordion-heading>
		I want to deploy this environment on the same Infra Cloud Provider i used for environment
		<select ng-change="changeLikeEnv()" ng-model="form.formData.deployment.previousEnvironment" class="form-control w30" style="display: inline-block">
			<option value=""> -- Choose Environment --</option>
			<option ng-repeat="oneBtn in availableEnvironments" value="{{oneBtn.code}}">{{oneBtn.code}}</option>
		</select>
		<div ng-show="previousPlatformDeployment">
			<hr>
			<fieldset>
				<legend style="width:15%;">
					<img ng-if="platform === 'docker'" ng-src="{{dockerImagePath}}" width="100%" alt="Docker Logo"/>
					<img ng-if="platform === 'kubernetes'" ng-src="{{kubernetesImagePath}}" width="100%" alt="Kubernetes Logo"/>
				</legend>
				<br/>
				<div class="entryBoxes entryBoxesGrid">
					<div class="entryBox driverEntryBox" style="display:block;">
						<div class="header">
							{{driver|uppercase}}
						</div>
						<div class="body">
							<div ng-include="'modules/dashboard/environments/directives/platform-display-table.tmpl'"></div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</accordion-group>
	<accordion-group is-open="platforms.docker" ng-click="switchDriver('docker')" ng-show="restrictions.docker">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.docker" value="true" name="docker" disabled/>&nbsp;
			Use Docker as my Container Deployment Technology
		</accordion-heading>
		
		<div>
			<div class="w100 c-both"><label>Select an Infra Cloud Provider</label><br></div>
			<div class="infraProvider f-left" ng-repeat="oneProvider in infraProviders" ng-if="oneProvider.technologies.indexOf('docker') !== -1" ng-click="selectProvider(oneProvider, 'docker')" ng-class="{'selectedInfraProvider': oneProvider.deploy}">
				<img ng-src="{{oneProvider.image}}" alt="" height="18"/>&nbsp;{{oneProvider.label}}
			</div>
		</div>
		<div ng-show="wizard.selectedInfraProvider.deploy.grid" ng-include="'modules/dashboard/environments/directives/add/selectedInfraDeployment.tmpl'"></div>
	</accordion-group>
	<accordion-group is-open="platforms.kubernetes" ng-click="switchDriver('kubernetes')" ng-show="restrictions.kubernetes">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.kubernetes" value="true" name="kubernetes" disabled/>&nbsp;
			Use Kubernetes as my Container Deployment Technology
		</accordion-heading>
		
		<div>
			<div class="w100 c-both"><label>Select an Infra Cloud Provider</label><br></div>
			<div class="infraProvider f-left" ng-repeat="oneProvider in infraProviders" ng-if="oneProvider.technologies.indexOf('kubernetes') !== -1" ng-click="selectProvider(oneProvider, 'kubernetes')" ng-class="{'selectedInfraProvider': oneProvider.deploy}">
				<img ng-src="{{oneProvider.image}}" alt="" height="18"/>&nbsp;{{oneProvider.label}}
			</div>
		</div>
		<div ng-show="wizard.selectedInfraProvider.deploy.grid" ng-include="'modules/dashboard/environments/directives/add/selectedInfraDeployment.tmpl'"></div>
	</accordion-group>
	<accordion-group is-open="platforms.manual" ng-click="switchDriver('manual')" ng-show="restrictions.showManual">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.manual" value="true" name="manual" disabled/>&nbsp;
			Do not need any Container Deployment Technology
		</accordion-heading>
		<p>
			I will Deploy Everything Myself on the Machine.<br />
			I will also handle pulling and applying updates on the machine of this Environment.
		</p>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr class="form-group machinePort-wrapper">
					<td>
						<div id="manualIP-wrapper">
							<label class="f-left">Machine IP</label>
							<input type="text" ng-required="platforms.manual" ng-model="form.formData.deployment.manual.nodes" class="form-control" placeholder="127.0.0.1"/>
							<div class="fieldMsg hint">Provide the IP Address of your machine.</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<hr/>
		<alert type="warning">
			<p>
				Please make sure that the machine you will will be reachable so that the dashboard can communicate with your environment.
			</p>
		</alert>
	</accordion-group>
</accordion>
<div ng-include="'modules/dashboard/environments/directives/add/actions.tmpl'"></div>