<div ng-switch="dynamicStep.predefinedStepFunction">
	<div ng-switch-when="custom_registry">
		<h4>Configuring Custom Registries</h4>
		<accordion close-others="false">
			<accordion-group ng-repeat="(key,value) in dynamicStep.inputs" is-open="true">
				<accordion-heading>{{key}}</accordion-heading>
				<div id="ci_{{key}}"></div>
			</accordion-group>
		</accordion>
	</div>
	
	<div ng-switch-when="resources">
		<h4>Configuring Resources</h4>
		<accordion close-others="false">
			<accordion-group ng-repeat="(key,value) in dynamicStep.inputs" is-open="true">
				<accordion-heading>{{value.label}} {{$index + 1}}</accordion-heading>
				<div id="resource_{{key}}"></div>
			</accordion-group>
		</accordion>
	</div>
	
	<div ng-switch-when="secrets">
		<h4>Configuring Secrets</h4>
		<accordion close-others="false">
			<accordion-group ng-repeat="(key,value) in dynamicStep.inputs" is-open="true">
				<accordion-heading>{{key}}</accordion-heading>
				<div id="secret_{{key}}"></div>
			</accordion-group>
		</accordion>
	</div>
	
	<div ng-switch-when="repo">
		<h4>Configuring Repositories</h4>
		<accordion close-others="false">
			<accordion-group ng-repeat="(key,value) in dynamicStep.inputs" is-open="true">
				<accordion-heading ng-show="key !== 'controller'">{{key}}</accordion-heading>
				<accordion-heading ng-show="key === 'controller'">SOAJS API Gateway</accordion-heading>
				<div id="repo_{{key}}"></div>
			</accordion-group>
		</accordion>
	</div>
	
</div>
<div class='modal-footer'>
	<br/>
	<input type="button" class="btn btn-sm btn-success" value="Back" ng-click="back()" />
	<input type="button" class="btn btn-sm btn-primary" value="Next" ng-click="saveData()" />
	<input type="button" class="btn btn-sm btn-danger" value="Cancel" ng-click="reset()" />
</div>