<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tbody>
		<tr>
			<td colspan="3">
				<div id="code-wrapper">
					<label>Code</label>
					<input class="form-control" ng-model="form.formData.code" type="text" placeholder="DEV | QA | CAT | STG | PROD | TEST" ng-required="tempFormEntries.code.required" ng-disabled="tempFormEntries.code.disabled" ng-change="tempFormEntries.code.onAction()"/>
					<div class="fieldMsg hint">Provide a Code for your Environment</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div id="description-wrapper">
					<label>Description</label>
					<textarea rows="3" ng-model="form.formData.description" class="form-control" placeholder="My Environment Description..." ng-required="tempFormEntries.description.required"></textarea>
					<div class="fieldMsg hint">Provide a description for your environment</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>