<div>
	
	<alert type="info">
		<h4>SOAJS Nginx</h4>
		<hr/>
		<p>
			The Nginx is a web server that serves static UI content to your frontend and forwards requests to APIs deployed in your environment.<br />
			The Nginx binds itself to the environment sub domain(s) and listens on their ports.
		</p>
		<h4 class="capitalize">Sub Domains:</h4>
		<ul>
			<li>&raquo;&nbsp;&nbsp;<b>API:</b>&nbsp;&nbsp;forwards requests to APIs deployed in this environment <span ng-show="form.formData.domain">—></span> <span class="red" ng-show="form.formData.domain">{{form.formData.apiPrefix}}.{{form.formData.domain}}</span></li>
			<li>&raquo;&nbsp;&nbsp;<b>SITE:</b>&nbsp;&nbsp;servers static UI content (HTML) <span ng-show="form.formData.domain">—></span> <span class="red" ng-show="form.formData.domain">{{form.formData.sitePrefix}}.{{form.formData.domain}}</span></li>
		</ul>
	</alert>
	
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr class="form-group">
				<td>
					<div id="domain-wrapper">
						<div>
							<label class="ng-binding">Domain</label>
							<input class="form-control" ng-model="form.formData.domain" ng-pattern="domainRegex" type="text" placeholder="mydomain.com" ng-required="false"/>
							<div class="fieldMsg hint">Enter the domain associated with this environment</div>
						</div>
					</div>
				</td>
			</tr>
			<tr class="form-group">
				<td>
					<div id="apiPrefix-wrapper">
						<div>
							<label class="ng-binding">API (Sub Domain)</label> <span class="red">{{form.formData.apiPrefix}}.{{form.formData.domain}}</span>
							<input class="form-control" ng-model="form.formData.apiPrefix" type="text" placeholder="api" ng-required="false"/>
							<div class="fieldMsg hint">What is the API prefix associated with this domain ?</div>
						</div>
					</div>
				</td>
			</tr>
			<tr class="form-group">
				<td>
					<div id="sitePrefix-wrapper">
						<div>
							<label class="ng-binding">Site (Sub Domain)</label>&nbsp;<span class="red">{{form.formData.sitePrefix}}.{{form.formData.domain}}</span>
							<input class="form-control" ng-model="form.formData.sitePrefix" type="text" placeholder="site" ng-required="false"/>
							<div class="fieldMsg hint">What is the frontend site prefix associated with this domain ?
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-include="'modules/dashboard/environments/directives/add/actions.tmpl'"></div>