
<fieldset>
	<legend style="width:15%;">
		<img ng-if="overview.data.deploy.technology === 'docker'" ng-src="themes/default/img/docker_logo.png" width="100%" alt="Docker Logo"/>
		<img ng-if="overview.data.deploy.technology === 'kubernetes'" ng-src="themes/default/img/kubernetes_logo.png" width="100%" alt="Kubernetes Logo"/>
	</legend>
	<br />
	<!--Docker-->
	<div ng-if="overview.data.deploy.technology =='docker'">
		<div ng-show="overview.data.deploy.previousEnvironment">
			<div class="alert alert-info">
				<p> I am using the same machine(s) i configured for {{overview.data.deploy.previousEnvironment}} Environment</p>
			</div>
			<div>
				<hr>
				<br />
				<div class="entryBoxes entryBoxesGrid">
					<div class="entryBox driverEntryBox" style="display:block;">
						<div class="header">
							{{driver|uppercase}}
						</div>
						<div class="body">
							<div ng-include="'modules/dashboard/environments/infra/directives/platform-display-table.tmpl'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="!overview.data.deploy.previousEnvironment && overview.data.deploy.selectedInfraProvider.deploy">
			<p>Deploying on: <img ng-if="overview.data.deploy.selectedInfraProvider.image" ng-src="{{overview.data.deploy.selectedInfraProvider.image}}" alt="" height="18"/>&nbsp;{{overview.data.deploy.selectedInfraProvider.label}}</p><br />
		</div>
		<div ng-show="overview.data.deploy.selectedInfraProvider.name === 'local'" ng-include="'modules/dashboard/environments/infra/directives/platform-display-table.tmpl'"></div>
		<div ng-show="!overview.data.deploy.previousEnvironment && overview.data.deploy.selectedInfraProvider.deploy.grid" ng-include="'modules/dashboard/environments/infra/directives/selectedInfraDeployment.tmpl'"></div>
	</div>
	<!--Kuberenetes-->
	<div ng-if="overview.data.deploy.technology =='kubernetes'">
		<div ng-show="overview.data.deploy.previousEnvironment">
			<div class="alert alert-info">
				<p> I am using the same machine(s) i configured for {{overview.data.deploy.previousEnvironment}} Environment</p>
			</div>
			<div>
				<hr>
				<br />
				<div class="entryBoxes entryBoxesGrid">
					<div class="entryBox driverEntryBox" style="display:block;">
						<div class="header">
							{{driver|uppercase}}
						</div>
						<div class="body">
							<div ng-include="'modules/dashboard/environments/infra/directives/platform-display-table.tmpl'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="!overview.data.deploy.previousEnvironment && overview.data.deploy.selectedInfraProvider.deploy">
			<p>Deploying on: <img ng-if="overview.data.deploy.selectedInfraProvider.image" ng-src="{{overview.data.deploy.selectedInfraProvider.image}}" alt="" height="18"/>&nbsp;{{overview.data.deploy.selectedInfraProvider.label}}</p><br />
		</div>
		<div ng-show="overview.data.deploy.selectedInfraProvider.name === 'local'" ng-include="'modules/dashboard/environments/infra/directives/platform-display-table.tmpl'"></div>
		<div ng-show="!overview.data.deploy.previousEnvironment && overview.data.deploy.selectedInfraProvider.deploy.grid" ng-include="'modules/dashboard/environments/infra/directives/selectedInfraDeployment.tmpl'"></div>
	</div>
	<!--Manual-->
	<div ng-if="wizard.deploy.selectedDriver=='manual'">
		<div class="alert alert-info">
			<h4><span class="icon icon-info"></span> Info:</h4>
			<p> I will not use any container technology to deploy my Service(s) and Daemon(s).
				I will also handle pulling and applying updates on the machines of this Environment myself.
			</p>
		</div>
	</div>
</fieldset>