<div id="progressAddEnv" ng-show="showProgress">
	<alert ng-if="statusMsg" type="{{statusType}}">
		{{statusMsg}}
	</alert>
	<br/>
	<progressbar ng-show="response && response.current > 0" class="progress-striped active" value="response.overall * 100" type="info">
		{{(response.overall * 100).toFixed(2)}}%
	</progressbar>
	
	<div ng-repeat="(key, oneResponse) in response">
		
		<div ng-if="oneResponse.multi" style="margin-bottom: 10px;">
			<span ng-repeat="oneChild in oneResponse.children">
				<div ng-if="oneChild.data && oneChild.data.done" style="margin-bottom: 10px;" class="capitalize">
					<span class="icon icon-checkmark green"></span>{{key}} {{oneChild.child}} Created ...<br>
					
					<div ng-if="oneChild.child === 'deploy'">
						<alert type="success">
							<p>
								Your Machines have been created and deployed. You can access them using the following:<br />
							CNAME / IP Details:
							</p>
							<div ng-repeat="oneData in oneChild.data.data">
								<div ng-bind-html="oneData|object"></div>
							</div>
						</alert>
					</div>
					<div ng-if="oneChild.child === 'dns'">
						<alert type="success">
							<p>
								The Nginx has been deployed, but you need to update your DNS configuration so you can connect to it:
							</p>
						</alert>
						<div ng-repeat="oneData in oneChild.data.data">
							<div ng-bind-html="oneData.dns.msg" class="grid"></div>
						</div>
					</div>
				</div>
				<div ng-if="oneChild.data && !oneChild.data.done" style="margin-bottom: 10px;" class="capitalize">
					<span class="icon icon-loop2 yellow"></span>{{key}} {{oneChild.child}} Next in Queue ...<br>
				</div>
			</span>
		</div>
		
		<div ng-if="!oneResponse.multi && oneResponse.done" class="capitalize" style="margin-bottom: 10px;">
			<span class="icon icon-checkmark green"></span> {{key}} Completed ...<br>
		</div>
	</div>

</div>
<div ng-include="'modules/dashboard/environments/directives/add/actions.tmpl'"></div>