<div id="progressAddEnv" ng-show="showProgress">
	<alert ng-if="statusMsg" type="{{statusType}}">
		{{statusMsg}}
	</alert>
	<br/>
	<progressbar ng-show="response && response.current > 0" class="progress-striped active" value="response.overall * 100" type="info">
		{{(response.overall * 100).toFixed(2)}}%
	</progressbar>
	
	<div ng-repeat="(key, oneResponse) in response">
		
		<div ng-if="oneResponse.multi" style="margin-bottom: 10px;">
			<span ng-repeat="oneChild in oneResponse.children">
				<div ng-if="oneChild.data && oneChild.data.done" style="margin-bottom: 10px;" class="capitalize">
					<span class="icon icon-checkmark green"></span>{{key}} {{oneChild.child}} Created ...<br>
					
					<div ng-show="oneChild.data.data">
						<pre ng-if="typeof(oneChild.data.data) === 'object'"><code>{{oneChild.data.data}}</code></pre>
					</div>
				</div>
				<div ng-if="oneChild.data && !oneChild.data.done" style="margin-bottom: 10px;" class="capitalize">
					<span class="icon icon-loop2 yellow"></span>{{key}} {{oneChild.child}} Next in Queue ...<br>
				</div>
			</span>
		</div>
		
		<div ng-if="!oneResponse.multi && oneResponse.done" class="capitalize" style="margin-bottom: 10px;">
			<span class="icon icon-checkmark green"></span> {{key}} Completed ...<br>
		</div>
	</div>

</div>
<div ng-include="'modules/dashboard/environments/directives/add/actions.tmpl'"></div>