<div class="envType">
	<div ng-if="!showTemplates">
		<form>
			<div class="header">
				<h3>Environment Type</h3>
			</div>
		</form>
		
		<p class="fieldMsg">
			Choose the type of environment you would like to create
		</p>
		<div class="table" ng-if="!showDockerAccordion && !showKubeAccordion">
			<alert type="info" >
				<h4>No Infra Provider!</h4>
				<hr>
				<a href="#/infra" class="btn btn-primary connectInfra f-right" style="margin-top:-5px;">
					<span class="glyphicon glyphicon-link"/> Click to Connect an Infra Provider
				</a>
				<p style="color:black;">
					Cloud Clustering is disabled because no active <b>infra provider</b> was found,
					<a href="https://soajsorg.atlassian.net/wiki/spaces/SOAJ/pages/483164173/Single+Cloud+Environment" target="_blank">
						Learn More
					</a>
				</p>
			</alert>
		</div>
		<div class="table">
			<div class="text-center table-cell environmentBox2" ng-class="{'selectedEnv': envType==='manual'}" ng-click="switchEnv('manual')">
				<div style="font-size: 28px; padding: 3px 6px; margin-right:20px;" class="f-left">
					<img ng-src="modules/dashboard/environments/images/development.png" height="32"/>
				</div>
				<h4 class="t-left">Remote Development</h4>
				<hr>
				<div>
					<div class="envDescription">Helps engineers build and test API on their local machines & Manage the needed configuration</div>
					<ul class="fieldMsg">
						<li>API Lifecycle Management Configuration
							<ul>
								<li>Multi Tenancy & Multi Security</li>
								<li>Productization & Profiling</li>
								<li>Cataloging</li>
							</ul>
						</li>
						<li>Resource Deployment & Management Configuration
							<ul>
								<li>Custom Registries</li>
								<li>3rd Party/Existing Resource Configuration</li>
								<li>Newly Introduced Resource Deployment & Configuration</li>
							</ul>
						</li>
					</ul>
					<br>
					<div class="readmore">
						<a href="https://soajsorg.atlassian.net/wiki/spaces/SOAJ/pages/483000331/Development+Environment" target="_blank" tooltip="Learn&nbsp;More">
							<span class="icon icon-info"/>
						</a>
					</div>
				</div>
			</div>
			<div class="text-center table-cell environmentBox2" ng-class="{'noHover': (!showDockerAccordion && !showKubeAccordion), 'selectedEnv': envType==='singleInfra'}" ng-click="switchEnv('singleInfra')">
				<div style="font-size: 28px; padding: 3px 6px; margin-right:20px;" class="f-left">
					<span style="color: #337ab7;" class="icon icon-cloud"></span>
				</div>
				<h4 class="t-left">Single Cloud Clustering</h4>
				<hr>
				<div>
					<div class="envDescription">Creates a multi tier clustering using multi technology & orchestrate multi cloud providers without VPN support.</div>
					<ul class="fieldMsg">
						<li>Support Container & VM Technology</li>
						<li>Support Multi Cloud Providers</li>
						<li>Support Multi Tier Clustering</li>
						<li>A Cluster is limited to a single cloud provider</li>
						<li>No VPN Support, uses public IP for communication between multi providers</li>
						<li>Configure & Manage
							<ul>
								<li>Load Balancers</li>
								<li>Catalog Deployment</li>
								<li>Custom CI/CD</li>
							</ul>
						</li>
					</ul>
					<br>
					<div class="readmore">
						<a href="https://soajsorg.atlassian.net/wiki/spaces/SOAJ/pages/483164173/Single+Cloud+Environment" target="_blank" tooltip="Learn&nbsp;More">
							<span class="icon icon-info"/>
						</a>
					</div>
				</div>
			</div>
			<div class="text-center table-cell environmentBox2 noHover" ng-class="{'selectedEnv': envType==='multiInfra'}">
				<div class="f-left" style="padding: 3px 6px; margin-right:20px;">
					<img ng-src="modules/dashboard/environments/images/multiCloud.png" height="32"/>
				</div>
				<h4 class="t-left">Multi Cloud Clustering</h4>
				<hr>
				<div>
					<div class="envDescription">Creates a multi tier clustering using multi technology & orchestrate multi cloud providers with VPN support.</div>
					<ul class="fieldMsg">
						<li>Support Container & VM Technology</li>
						<li>Support Multi Cloud Providers</li>
						<li>Support Multi Tier Clustering</li>
						<li>A cluster spreads across Multi Providers</li>
						<li>VPN Support, uses private IP for communication between multi providers</li>
						<li>Configure & Manage
							<ul>
								<li>Load Balancers</li>
								<li>Catalog Deployment</li>
								<li>Custom CI/CD</li>
							</ul>
						</li>
					</ul>
					<br>
					<div class="readmore">
						<a href="https://soajsorg.atlassian.net/wiki/spaces/SOAJ/pages/483164189/Multi+Cloud+Environment" target="_blank" tooltip="Learn&nbsp;More">
							<span class="icon icon-info"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="showTemplates">
		<form>
			<div class="header">
				<h3>Environment Template</h3>
			</div>
		</form>
		<accordion close-others="false">
			<accordion-group ng-if="showTemplates" is-open="showTemplates" id="templates">
				<accordion-heading>Environment Template</accordion-heading>
				<p class="fieldMsg">
					Choose a template from the available list below and SOAJS will create your environment according to its content.
					<a href="https://soajsorg.atlassian.net/wiki/spaces/DSBRD/pages/400326661/Environment+Templates" target="_blank" tooltip="Click to Learn More about Environment Templates">[ Learn More ]</a>
				</p>
				<hr>
				<div class="table" style="padding:20px 0 0 15px;">
					<div ng-repeat="template in templates" class="text-center table-cell f-left environmentBox2 box-of-3" ng-class="{'selectedEnv': template.selected }">
						<div ng-click="chooseTemplate(template);">
							<div class="title">
								<img ng-if="template.logo" ng-src="{{template.logo}}" height="32" class="f-left"/>
								<h4>{{template.name}}</h4>
							</div>
							<hr>
							<div class="content">
								<div class="fieldMsg">{{template.description}}</div>
							</div>
						</div>
					</div>
				</div>
			</accordion-group>
		</accordion>
	</div>
	<div>
		<div ng-include="'modules/dashboard/environments/directives/add/actions.tmpl'"></div>
	</div>
</div>
