<section ng-controller="configViewCtrl">
	<div class="serviceHeader">
		<table width="100%" class="servicesList">
			<tr>
				<td style="width: 15%">
					<span><b style="margin:0;">{{service['name'] | capitalize}}</b></span>
				</td>
				
				<td style="width: 25%">
					<span>Group: {{service.configuration['group']}}</span>
				</td>
			</tr>
		</table>
	</div>
	<em style="margin-left: 5px">{{service.description}}</em>
	<div ng-if="showBackButton" class="f-right" style="margin-bottom: 10px; margin-right: 15px">
		<br>
		<br>
		<a href="" class="btn btn-primary" tooltip="Back to dahsboard" ng-click="returnToDashboard()">
			<span class="icon icon-undo"></span>Back
		</a>
	</div>
	<br>
	<br>
	<tabset ng-show="service">
		<tab heading="ACL">
			<br>
			<h4 style="margin-left: 10px">Select Group:</h4>
			<div style="margin-left: 10px" ng-if="showGroupButtonSlider">
				<label class=""> WhiteList</label>
				<label class="toggleSwitch">
					<input type="checkbox" ng-model="groups.groupType"/>
					<span class="buttonSlider round"></span>
				</label>
				<label style="margin-left: 10px"> BlackList</label>
			</div>
			<br>
			<div class="envCompareListing">
				<div ng-class="{'envBoxesAllowed': group.allowed, 'envBoxes': !group.allowed }" id="group_{{env.code}}"
				     ng-repeat="group in groupsList" ng-click="selectGroup(group)">
					<span>{{group.code}}</span>
				</div>
			</div>
			<div class="f-right">
				<input class="btn btn-primary" ng-click="saveACl()" value="Save" type="submit">
				<button class="btn btn-danger" type="button" ng-click="close(service)" value="Cancel">Cancel</button>
			</div>
		</tab>
		<tab heading="Environments">
			<br>
			<h4 style="margin-left: 10px">Select Environment:</h4>
			<div style="margin-left: 10px" ng-if="showEnvButtonSlider">
				<label class=""> WhiteList</label>
				<label class="toggleSwitch">
					<input type="checkbox" ng-model="envs.envType"/>
					<span class="buttonSlider round"></span>
				</label>
				<label style="margin-left: 10px"> BlackList</label>
			</div>
			<br>
			<div class="envCompareListing">
				<div ng-class="{'envBoxesAllowed': env.allowed, 'envBoxes': !env.allowed }" id="env_code_{{env.code}}"
				     ng-repeat="env in environmentsList" ng-click="selectEnv(env)">
					<span>{{env.code}}</span>
				</div>
			</div>
			<div class="f-right">
				<input class="btn btn-primary" ng-click="saveEnv()" value="SaveEnv" type="submit">
				<button class="btn btn-danger" type="button" ng-click="close(service)" value="Cancel">Cancel</button>
			</div>
		</tab>
		<tab heading="Recipes" ng-show="service.type !== 'config'">
			<br>
			<H4 style="float:left;margin-left: 1%"> Allowed Recipes: </H4>
			<input type="text" class="searchRecipe" ng-model="searchKeyword" placeholder="Search ..." />
			<br>
			<br>
			<div>
				<ul class="blueListing">
					<li class="blueLi row-list customAllowedRecipesList" id="allowed_recipes_{{recipe._id}}" ng-repeat="recipe in recipes.selectedRecipes" ng-click="removeRecipes(recipe)">
						<span  class="recipeAllowedListName" >{{recipe.name}} (v:{{recipe.v}})</span>
						<span  class="recipeAllowedListType" >{{recipe.type}}</span>
						<span  class="recipeAllowedLisSubType" >{{recipe.subtype}}</span>
					</li>
				</ul>
			</div>
			<hr style="width: 100%">
			<H4 style="float:left;margin-left: 1%"> Select Allowed Recipes: </H4>
			<br>
			<br>
			<div>
				<ul class="blueListing">
					<li class="blueLi row-list customRecipesList" id="recipes_{{recipe._id}}" ng-repeat="recipe in recipeList | recipesSearchFilter:searchKeyword" ng-click="selectRecipes(recipe)">
						<span  class="recipeListName" >{{recipe.name}} (v:{{recipe.v}})</span>
						<span  class="recipeListType" >{{recipe.type}}</span>
						<span  class="recipeLisSubType" >{{recipe.subtype}}</span>
					</li>
					<li ng-show="!hideLoadMore" class="blueLi row-list loadMoreRecipes"  ng-click="getRecipes('true')">Load More</li>
				</ul>
			</div>
			<div class="f-right">
				<input class="btn btn-primary" ng-click="saveRecipes()" value="SaveEnv" type="submit">
				<button class="btn btn-danger" type="button" ng-click="close(service)" value="Cancel">Cancel</button>
			</div>
	</tabset>
</section>
