<section ng-controller="detailViewCtrl">
	<div class="serviceHeader">
		<table width="100%" class="servicesList">
			<tr>
				<td style="width: 15%">
					<span><b style="margin:0;">{{service['name'] | capitalize}}</b></span>
				</td>
				
				<td style="width: 25%">
					<span>Group: {{service.configuration['group']}}</span>
				</td>
			</tr>
		</table>
	</div>
	<em style="margin-left: 5px">{{service.description}}</em>
	<div ng-if="showBackButton" class="f-right" style = "margin-bottom: 10px; margin-right: 15px">
		<br>
		<br>
		<a href="" class="btn btn-primary" tooltip="Back to dahsboard" ng-click="returnToDashboard()">
			<span class="icon icon-undo"></span>Back
		</a>
	</div>
	<br>
	<br>
	<div style="margin-bottom: 30px;">
		<label class="f-left labelVersion">
			Select Version to preview for this Item
		</label>
		<select  ng-model="overviewSelectedVersion" ng-init="overviewSelectedVersion" ng-options="v for v in versions"  class="form-control f-left c45 selectVersion">
		</select>
	</div>
	<br>
	<br>
	<hr>
	<br>
	<tabset ng-show="service">
		<tab heading="Information">
			<br>
			<br>
			<div style="width: 100%;">
				<div style="float: left;width: 35%;padding-left: 2%;">
					<H4> Search Criteria</H4>
					<div ng-show="service.metadata">
						<br>
						<span ng-show="service.metadata.program && service.metadata.program.length"><b>Program:</b> {{service.metadata.program.join(',')}}</span>
						<br ng-show="service.metadata.program && service.metadata.program.length">
						<span  ng-show="service.metadata.tags && service.metadata.tags.length"><b> Tags:</b> {{service.metadata.tags.join(',')}}</span>
						<br  ng-show="service.metadata.tags && service.metadata.tags.length">
						<span ng-if="service.metadata.attributes" style="float:left"><b>Attributes:</b></span>
						<textarea  ng-if="service.metadata.attributes" disabled ng-model="service.metadata.attributes" style="width: 30%; height:100px; float:left;margin-left: 5%; margin-top: 5px;"></textarea>
					</div>
				</div>
				<div  style="float: left; border-left: 1px solid; height: 150px; width: 2%;"></div>
				<div style="float: left;" ng-show="service.type === 'service'">
					<H4 >Configuration</H4>
					<div >
						<br>
						<span  ng-show="service.configuration.port"><b>Port:</b> {{service.configuration.port}}</span>
						<br  ng-show="service.configuration.requestTimeout">
						<span  ng-show="service.configuration.requestTimeout"><b>Request Timeout:</b> {{service.configuration.requestTimeout}}</span>
						<br  ng-show="service.configuration.requestTimeoutRenewal">
						<span  ng-show="service.configuration.requestTimeoutRenewal"><b>Request Timeout Renewal:</b> {{service.configuration.requestTimeoutRenewal}}</span>
						<br  ng-show="service.configuration.prerequisites">
						<span ng-if="service.configuration.prerequisites" style="float:left"><b>Prerequisites:</b></span>
						<textarea  ng-if="service.configuration.prerequisites" disabled ng-model="service.configuration.prerequisites" style="width: 20%; height:100px; float:left;margin-left: 5%; margin-top: 5px;"></textarea>
					</div>
				</div>
			</div>
			<br>
			<hr style="width: 100%;float: left;margin-top: 20px" ng-show="overviewSelectedVersion">
			<br>
			<div  style="width: 100%;float: left;" ng-show="!overviewSelectedVersion">
				<br>
				<br>
				<alert type="warning">Select Version to preview more information.</alert>
			</div>
			<div style="width: 100%;float: left; padding-left: 2%;" ng-show="overviewSelectedVersion && service.type === 'service'">
				<h4 >Version driven Configuration</h4>
				<div >
					<span ><b>Ext Key Required:</b> {{!!overviewSelectedVersion.extKeyRequired}}</span>
					<br>
					<span><b>Oauth:</b> {{!!overviewSelectedVersion.oauth}}</span>
					<br>
					<span><b>Urac:</b> {{!!overviewSelectedVersion.urac}}</span>
					<br>
					<span><b>Urac_Profile:</b> {{!!overviewSelectedVersion.urac_Profile}}</span>
					<br>
					<span><b>Tenant_profile:</b> {{!!overviewSelectedVersion.tenant_Profile}}</span>
					<br>
					<span><b>Provision_ACL:</b> {{!!overviewSelectedVersion.provision_ACL}}</span>
					<br>
					<span ng-show="overviewSelectedVersion.maintenance" style="float:left"><b>Maintenance:</b></span>
					<textarea  ng-show="overviewSelectedVersion.maintenance" disabled ng-model="overviewSelectedVersion.maintenance" style="width: 20%; height:100px; float:left;margin-left: 5%; margin-top: 5px;"></textarea>
				</div>
				<br>
			</div>
			<hr style="width: 100%;float: left;margin-top: 20px" ng-show="overviewSelectedVersion && service.type === 'service'">
			<div style="width: 100%;float: left; padding-left: 2%" ng-show="overviewSelectedVersion && overviewSelectedVersion.profile">
				<fieldset>
					<legend>
						<a href="" ng-click="showHide(addItem.profile)"><span class="icon icon-{{addItem.profile.icon}}"></span></a>
						Custom Profile
					</legend>
					<div id="profile" style="width: 30%; margin-left: 1%">
						<div style="height: 300px" ui-ace="{useWrapMode : true, showGutter: true, mode: 'javascript', theme:'javascript', firstLineNumber: 1, onLoad: aceLoaded}"
						     ng-model="overviewSelectedVersion.profile"></div>
					</div>
				</fieldset>
			</div>
		</tab>
		<tab heading="Documentation">
			<br>
			<div ng-show="!overviewSelectedVersion">
				<br>
				<br>
				<alert type="warning">Select Version to preview documentation information.</alert>
			</div>
			<div ng-show="overviewSelectedVersion && !overviewSelectedVersion.documentation">
				<br>
				<br>
				<alert type="warning">No Documentation information available for this item ...</alert>
			</div>
			<div ng-show="overviewSelectedVersion.documentation">
				<br>
				<fieldset>
					<legend>
						<a href="" ng-click="showHide(addItem.readme)"><span class="icon icon-{{addItem.readme.icon}}"></span></a>
						Readme
					</legend>
					<div id="readme" style="width: 50%; margin-left: 1%;">
						<div ui-ace="{useWrapMode : true, showGutter: true, mode: 'markdown', theme:'javascript', firstLineNumber: 1, onLoad: aceLoaded}"
						     ng-model="overviewSelectedVersion.documentation.readme"></div>
					</div>
				</fieldset>
				
				<br>
				<fieldset>
					<legend>
						<a href=""  ng-click="showHide(addItem.release)"><span class="icon icon-{{addItem.release.icon}}"></span></a>
						Release Notes
					</legend>
					<div id="release" class ="closeGroup" style="width: 50%; margin-left: 1%;">
						<div ui-ace="{useWrapMode : true, showGutter: true, mode: 'markdown', theme:'javascript', firstLineNumber: 1, onLoad: aceLoaded}"
						     ng-model="overviewSelectedVersion.documentation.release"></div>
					</div>
				</fieldset>
			</div>
			<br>
		</tab>
		
		<tab heading="Swagger" ng-show="service.type === 'service'">
			<div ng-show="!overviewSelectedVersion">
				<br>
				<br>
				<alert type="warning">Select Version to preview documentation information.</alert>
			</div>
			<div ng-show="overviewSelectedVersion && !overviewSelectedVersion.swagger">
				<br>
				<br>
				<alert type="warning">No Swagger information available for this item ...</alert>
			</div>
			<div ng-if="overviewSelectedVersion.swagger">
				<br>
				<div class="w-100">
					<div swagger-ui parser="json" input-type="json" trusted-sources="true" input="parseObject(overviewSelectedVersion.swagger)" api-explorer="false"></div>
				</div>
			</div>
		</tab>
<!--		<tab heading="Test">-->
		<tab  ng-show= "false" heading="Test">
			<div ng-show="!service.swagger">
				<br>
				<br>
				<alert type="warning">No swagger information available for this service ...</alert>
			</div>
			<div ng-show="service.swagger">
				<div ng-if="passThrough">
					<label>Test type: </label>
					<br>
					&nbsp;<input id="env_0" type="radio" ng-value=true ng-model="environmentTesting" ng-click="selectType(true)"/>&nbsp;
					<label for="env_0">Environment</label>
					<span class="fieldMsg hint f-left">The service will be tested using the environment domain.</span>
					<br>
					&nbsp;<input id="env_1" type="radio" ng-value=false ng-model="environmentTesting" ng-click="selectType(false)"/>&nbsp;
					<label for="env_1">Simulate Url</label>
					<span class="fieldMsg hint f-left">The service will be tested using the simulate URl.</span>
				</div>
				
				<div ng-show="environmentTesting !== null">
					<div ng-show="versions && versions.length > 0">
						<label style="margin-top: 7px;" class="f-left labelVersion">Service Version:&nbsp;&nbsp;</label>
						<select ng-model="selectedVersion" ng-options="version for version in versions" ng-change="selectVersion(selectedVersion)" class="form-control f-left c45 selectVersion" ng-disabled="tempDisable">
						</select>
						<div class="fieldMsg hint">Select which Version of the service you want to test</div>
					</div>
					<div ng-if="environmentTesting && selectedVersion !== '---Please choose---'">
						<div class="c-both w100 table">
							<h4 class="f-left">Swagger Service Tester</h4>
							<a class="btn btn-primary f-right" ng-click="collapseExpand()">
								<span class="icon icon-circle-left" ng-show="!collapsed"></span>
								{{(collapsed) ? "Expand" : "Collapse"}} Editor
								<span class="icon icon-circle-right" ng-show="collapsed"></span>
							</a>
							<a class="btn btn-success f-right margin-right-10" ng-click="run()" ng-show="environments.values.length> 1">
								<span class="icon icon-play3"></span>
								Run
							</a>
						</div>
						<hr>
						<div ng-show="environments.values.length > 1">
							<label style="margin-top: 7px;" class="f-left">Select which environment you want to test the
								service in:&nbsp;&nbsp;</label>
							<select ng-model="environments.value" ng-options="env for env in environments.values" ng-change="selectedEnv()" class="form-control f-left c45" ng-disabled="tempDisable"></select>
							<div class="fieldMsg hint">Only the environments where the service is deployed are
								available.
							</div>
						</div>
						<div ng-show="environments.values.length === 1">
							<alert type="warning">Please deploy this service in an environment then refresh this page to
								run the
								simulator.
							</alert>
						</div>
						<div ng-show="envTenants && envTenants.length > 0">
							<label style="margin-top: 7px;" class="f-left">Select which tenant you want to test the
								service with:&nbsp;&nbsp;</label>
							<select ng-model="selectedEnvTenant" ng-change="selectNewTenant(selectedEnvTenant)" class="form-control f-left c85" ng-disabled="tempDisable">
								<option ng-repeat="tenant in serviceEnvironments[envSelected].tenants" value="{{tenant}}">
									Tenant:
									{{tenant.code}} --> Package: {{tenant.package}}
								</option>
							</select>
							<div class="fieldMsg hint">Only the tenants that have keys in this environment are
								available.
							</div>
						</div>
						<div ng-show="envSelected && (!envTenants || envTenants.length === 0)">
							<alert type="warning">
								No tenants found for environment {{envSelected}}. Please head to
								<a target="_blank" href="#/multi-tenancy">mulit-tenancy</a> section, create a tenant and
								create an
								external key for it under environment: {{envSelected}}
							</alert>
						</div>
						
						<div ng-show="protocolConflict">
							<hr/>
							<br/>
							<alert type="warning">
								<h4>Detected Protocol Conflict</h4>
								<hr/>
								<table width="100%" border="0">
									<tr>
										<td align="left" valign="top" width="85%" colspan="2">
											The domain you have selected does not support HTTPS, yet this interface is
											running with
											HTTPS support.<br/>
											The simulator will not work unless you enable loading unsafe
											scripts.<br/><br/>
											<b><u>Note:</u></b><br/>
											We do not recommend using HTTP in production environment(s), we suggest you
											redeploy
											your
											nginx with HTTPS.
										</td>
									</tr>
									<tr>
										<td><br/></td>
									</tr>
									<tr>
										<td align="left" valign="top" width="85%">
											<b><u>Behavior:</u></b><br/>
											<div ng-show="protocolConflictLink !== ''">
												Click the button on the right to enable loading unsafe scripts, all
												calls to <b>YOUR
												DOMAIN ONLY</b> will be made using HTTP.<br/>
												All requests to the current domain <b>{{uiCurrentDomain}}</b> will
												remain using
												HTTPS.<br/>
												This behavior is limited to the current browser tab only.
											</div>
											<div ng-show="protocolConflictLink === ''">
												The following browser does not support loading unsafe scripts, try using
												<b>Google
													Chrome</b>.
											</div>
										</td>
										<td align="right" valign="bottom" width="15%">
											<a href="{{protocolConflictLink}}" target="_blank" class="btn btn-sm btn-warning" tooltip="Enable Loading Unsafe Scripts" ng-show="protocolConflictLink !== ''">Enable
												in {{protocolConflictBrowser}}</a>
										</td>
									</tr>
								</table>
							</alert>
						</div>
						<div ng-show="envSelected">
							<div class="f-left w49" ng-class="{'block': !collapsed, 'hidden': collapsed}">
								<div id="editorTab" readonly="true" ui-ace="{useWrapMode : true, showGutter: true, mode: 'json', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded}"></div>
							</div>
							<div class="f-left w2" ng-class="{'block': !collapsed, 'hidden': collapsed}">&nbsp;</div>
							<div class="f-left" ng-class="{'w100': collapsed, 'w49': !collapsed}">
								<div ng-if="yamlContent" swagger-ui parser="json" input-type="json" input="yamlContent" loading="content" trusted-sources="true" loading="isLoading" api-explorer="true"></div>
							</div>
						</div>
					</div>
					
					<br/>
					<hr/>
					<br/>
					<div ng-if="!environmentTesting && selectedVersion !== '---Please choose---'">
						<div class="c-both w100 table">
							<h4 class="f-left">Swagger Service Tester</h4>
							<a class="btn btn-primary f-right" ng-click="collapseExpand()">
								<span class="icon icon-circle-left" ng-show="!collapsed"></span>
								{{(collapsed) ? "Expand" : "Collapse"}} Editor
								<span class="icon icon-circle-right" ng-show="collapsed"></span>
							</a>
							<a class="btn btn-success f-right margin-right-10" ng-click="run()" ng-show="selectedVersion">
								<span class="icon icon-play3"></span>
								Run
							</a>
						</div>
						<hr>
						<div>
							<div class="f-left w49" ng-class="{'block': !collapsed, 'hidden': collapsed}">
								<div id="editorTab2" readonly="true" ui-ace="{useWrapMode : true, showGutter: true, mode: 'json', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded}"></div>
							</div>
							<div class="f-left w2" ng-class="{'block': !collapsed, 'hidden': collapsed}">&nbsp;</div>
							<div class="f-left" ng-class="{'w100': collapsed, 'w49': !collapsed}">
								<div swagger-ui parser="json" input-type="json" input="yamlContent" trusted-sources="true" loading="false" api-explorer="true"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</section>
