<accordion close-others="false">
	<accordion-group ng-if="content.recipes.ci" is-open="true">
		<accordion-heading>Continuous Integration Recipes ({{content.recipes.ci.length}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th width="50%">Provider</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneCi in content.recipes.ci" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td>{{oneCi.provider}}</td>
					<td>{{oneCi.name}}</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group ng-if="content.recipes.deployment" is-open="true">
		<accordion-heading>Catalog Deployment Recipes ({{content.recipes.deployment.length}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th width="50%">Name</th>
					<th width="25%">Type</th>
					<th width="25%">Category</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneCatalog in content.recipes.deployment" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td>{{oneCatalog.name}}</td>
					<td>{{oneCatalog.type}}</td>
					<td>{{oneCatalog.subtype}}</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group ng-if="content.endpoints.data" is-open="true">
		<accordion-heading>Endpoints ({{content.endpoints.data.length}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th width="25%">Group</th>
					<th width="25%">Name</th>
					<th width="25%">Port</th>
					<th width="25%">Version</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneEp in content.endpoints.data" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td>{{oneEp.serviceGroup}}</td>
					<td>{{oneEp.serviceName}}</td>
					<td>{{oneEp.servicePort}}</td>
					<td>{{oneEp.serviceVersion}}</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group ng-if="content.productization.data" is-open="true">
		<accordion-heading>Productization ({{content.productization.data.length}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th width="50%">Name</th>
					<th width="50%">Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneProd in content.productization.data" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td colspan="2">
						<table width="100%">
							<tr>
								<td width="50%">{{oneProd.name}} [ {{oneProd.code}} ]</td>
								<td width="50%">{{oneProd.description}}</td>
							</tr>
							<tr ng-if="oneProd.packages.length > 0">
								<td colspan="2">
									<table width="100%">
										<caption>Packages:</caption>
										<tbody>
											<tr ng-repeat="onePackage in oneProd.packages">
												<td width="50%">{{onePackage.name}} [ {{onePackage.code}} ]</td>
												<td width="50%">{{onePackage.description}}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
					</td>
				
				</tr>
			</tbody>
		</table>
	
	</accordion-group>
	<accordion-group ng-if="content.tenant.data" is-open="true">
		<accordion-heading>Multitenancy ({{content.tenant.data.length}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th width="50%">Name</th>
					<th width="50%">Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneTenant in content.tenant.data" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td colspan="2">
						<table width="100%">
							<tr>
								<td width="50%">{{oneTenant.name}} [ {{oneTenant.code}} ]</td>
								<td width="50%">{{oneTenant.description}}</td>
							</tr>
							<tr ng-if="oneTenant.applications.length > 0">
								<td colspan="2">
									<table width="100%">
										<caption>Applications:</caption>
										<tbody>
											<tr ng-repeat="oneApp in oneTenant.applications">
												<td width="50%">{{oneApp.package}}</td>
												<td width="50%">{{oneApp.description}}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
					</td>
				
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group ng-if="content.custom_registry.data" is-open="true">
		<accordion-heading>Custom Registries ({{content.custom_registry.data.length}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneReg in content.custom_registry.data" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td>{{oneReg.name}}</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group ng-if="content.secrets.data" is-open="true">
		<accordion-heading>Container Technology Secrets ({{content.secrets.data.length}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneSecret in content.secrets.data" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td>{{oneSecret.name}}</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group ng-if="content.deployments.repo" is-open="true">
		<accordion-heading>Repository Deployment Information ({{content.deployments.repo.max}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th width="25%">Name</th>
					<th width="25%">Type</th>
					<th width="25%">Git Source</th>
					<th width="25%">Deployment Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(repo, data) in content.deployments.repo" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows" ng-if="repo !== 'max'">
					<td>{{data.label}}</td>
					<td>{{data.type}} / {{data.category}}</td>
					<td>{{data.gitSource.owner}}/{{data.gitSource.repo}}</td>
					<td class="capitalize">
						<span ng-if="data.deploy.replicas">Replica of {{data.deploy.replicas}}</span>
						<span ng-if="!data.deploy.replicas">{{data.deploy.mode}} </span>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group ng-if="content.deployments.resources" is-open="true">
		<accordion-heading>Resources Deployment Information ({{content.deployments.resources.max}})</accordion-heading>
		<table width="100%">
			<thead>
				<tr>
					<th width="25%">Name</th>
					<th width="50%">Type</th>
					<th width="25%">Deployment Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(repo, data) in content.deployments.resources" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows" ng-if="repo !== 'max'">
					<td>{{data.label}}</td>
					<td>{{data.type}} / {{data.category}}</td>
					<td class="capitalize">
						<span ng-if="!data.deploy"><b class="red">External, will not be Deployed</b></span>
						<span ng-if="data.deploy">
							<span ng-if="data.deploy.replicas">Replica of {{data.deploy.replicas}}</span>
							<span ng-if="!data.deploy.replicas">{{data.deploy.mode}} </span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
</accordion>