<div class="grid" ng-show="!isSafari">
	<h4>{{exportSections[exportSectionCounter].label}}</h4>
	<div id='exportTemplate'>
		<alert type="default">
			{{translation.select[LANG]}}:
			<a href="" ng-click="selectAll()">{{translation.All[LANG]}}</a> -
			<a href="" ng-click="selectNone()">{{translation.None[LANG]}}</a>
		</alert>
		<table width="100%">
			<thead>
				<tr>
					<th width="4%"></th>
					<th ng-repeat="(k,v) in exportSections[exportSectionCounter].data[0].info" class="capitalize">{{k}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="oneRow in exportSections[exportSectionCounter].data" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<td width="4%"><input type="checkbox" name="IDS[]" ng-model="oneRow.selected" value="{{oneRow.id}}"></td>
					<td ng-repeat="(k,v) in oneRow.info">{{v}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="w100 c-both">
		<br />
		<input type="button" ng-if="exportSectionCounter === exportSections.length - 1" class="btn btn-primary btn-sm btn-primary f-right" value="Generate Template" ng-click="storeRecordsOf(); generateTemplate();" />
		<input type="button" ng-if="exportSectionCounter < exportSections.length - 1" class="btn btn-primary btn-sm btn-success f-right" value="Next" ng-click="storeRecordsOf()" />&nbsp;
		<input ng-if="exportSectionCounter > 0" type="button" class="btn btn-success btn-sm btn-danger f-right" value="Previous" ng-click="previousStep();" />&nbsp;
	</div>
</div>