<script type="text/ng-template" id="templateInfoBox.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">
			<img ng-if="logo" ng-src="{{logo}}" width="32px" height="32px"/> &nbsp;
			{{title}}
		</h3>
		<hr>
		
		<div>
			<alert type="{{(reusable) ? 'info': 'warning'}}">
				<p ng-show="reusable">
					You can deploy multiple environments using this template.
				</p>
				<p ng-show="!reusable">
					This template allows you to deploy ONLY one environment.
				</p>
			</alert>
			<br/>
		</div>
		<p>{{description}}</p>
		
		<div ng-if="restriction" class="restrictions">
			<hr>
			<p>This template restricts deploying environments to use the following supported strategies:</p>
			<div ng-if="restriction.deployment" class="c-both w100">
				<label>Deployment Type:</label>
				<ul class="adjacentList">
					<li ng-repeat="oneDeployment in restriction.deployment" class="capitalize">
						<span class="btn btn-sm btn-default">{{oneDeployment}}</span>
					</li>
				</ul>
				<div ng-if="restriction.driver" class="c-both w100">
					<label>Deployment Driver:</label>
					<ul class="adjacentList">
						<li ng-repeat="oneDriver in restriction.driver" class="capitalize">
							<span class="btn btn-sm btn-default">{{oneDriver.split(".")[0]}} / {{oneDriver.split(".")[1]}}</span>
						</li>
					</ul>
				</div>
			</div>
			<div ng-if="restriction.infra" class="c-both w100">
				<label>Infrastructure Providers:</label>
				<ul class="adjacentList">
					<li ng-repeat="oneInfra in restriction.infra" class="text-uppercase">
						<span class="btn btn-sm btn-default">{{oneInfra}}</span>
					</li>
				</ul>
			</div>
			<br/>
		</div>
	
	</div>
	<div class="modal-body text-align-center grid">
		<div ng-include="'modules/dashboard/templates/directives/preview.tmpl'"></div>
	</div>
	<div class="modal-footer">
		<a ng-if="link" href="{{link}}" target="_blank" class="btn btn-sm btn-info">Documentation</a>
		<a href="" ng-click="exportTemplateContent()" class="btn btn-sm btn-primary">Download</a>
		<button class="btn btn-danger" ng-click="close()">Close</button>
	</div>
</script>

<section ng-controller="templatesAppCtrl" class="templatesAppCtrl" id="templates">
	
	<div ng-if="oldStyle">
		<alert type="danger">
			<h5>Upgrade Your Templates</h5>
			<hr>
			<input ng-if="access.upgrade" type="button" class="f-right btn btn-sm btn-danger" value="Upgrade" ng-click="upgradeTemplates()">
			<p>
				Detect the presence of Old Template Schemas, you need to upgrade your templates to the latest versions
				to proceed.
			</p>
		</alert>
	</div>
	
	<div ng-if="!oldStyle && templates && templates.length > 0">
		<a href="{{showSOAJSStoreLink}}" target="_blank" class="btn btn-sm btn-info" ng-if="showSOAJSStoreLink && showSOAJSStoreLink!== ''">
			<span class="icon icon-download"></span> Download From Store
		</a>
		<input ng-if="access.import" type="button" class="btn btn-sm btn-success" value="Import" ng-click="go('/importExport', 'import')"/>
		<input ng-if="access.export" type="button" class="btn btn-sm btn-warning" value="Export" ng-click="go('/importExport', 'export')"/>
		<input type="button" class="btn btn-sm btn-success f-right" value="Refresh" ng-click="listTemplates()"/>&nbsp;
	</div>
	
	<div ng-if="!oldStyle && templates && templates.length > 0" class="entryBoxes">
		<br/>
		<div ng-repeat="oneTmpl in templates" class="entryBox recipe-box" ng-class="{blueRecipeBox: (oneTmpl.type === '_template' && !oneTmpl.deletable), greenRecipeBox: oneTmpl.type !== '_template'}">
			<div class="header" ng-class="{blueBoxHeader: (oneTmpl.type === '_template' && !oneTmpl.deletable), greenBoxHeader: oneTmpl.type !== '_template' }">
				<div class="f-left">
					<img ng-if="oneTmpl.logo" ng-src="{{oneTmpl.logo}}"/> &nbsp;
				</div>
				<div class="templateName" title="{{oneTmpl.name}}">{{oneTmpl.name}}</div>
				
				<div class="rightActions" style="display:inline;">
					<a href="" ng-if="access.delete && (oneTmpl.type !== '_template' || oneTmpl.deletable)" ng-click="deleteTmpl(oneTmpl)" ng-confirm-click="Are you sure you want to delete this template?">
						<span class="icon icon-cross" tooltip="Delete Template"></span>
					</a>
					<a href="" ng-click="exportTemplateContent(oneTmpl)" ng-if="!isSafari">
						<span class="icon icon-download2" tooltip="Download Template"></span>
					</a>
					
					<a ng-if="oneTmpl.link" href="{{oneTmpl.link}}" target="_blank">
						<span class="icon icon-info" tooltip="Open Template Documentation"></span>
					</a>
					
					<a ng-if="oneTmpl.content" href="" ng-click="showTemplateContent(oneTmpl)">
						<span class="icon icon-search" tooltip="Browse Template Content"></span>
					</a>
				</div>
			
			</div>
			<div class="body">
				<p>{{oneTmpl.description}}</p>
			</div>
		</div>
	</div>
</section>
