<section ng-controller="infraNameSpaceCtrl">
	<alert type="info">
		<h4 style="margin-top:5px;">Coming Soon!</h4>
		<hr>
		<p style="color:black;">
			This Section will provide you the ability to <b class="red">preview</b>, <b class="red">add</b>, and <b class="red">delete</b> namespaces.
		</p>
	</alert>
</section>
