<div ng-if="environment.pending">
	<alert type="info">
		<h4><span class="icon icon-spinner4"></span>Attaching Container Technology</h4>
		<hr>
		<p style="color:black;">
			The Container Technology is being created and will be attached to this environment.
		</p>
		<p style="color:black;">
			This operation takes a few minutes and the container configuration will be displayed once completed.
		</p>
	</alert>
	<br />
	<progressbar class="progress-striped active" value="100 * 100" type="info"></progressbar>

</div>

<div ng-if="environment.error && !environment.pending">
	<alert type="danger">
		<h4>Problem Attaching Container Technology</h4>
		<hr>
		<p style="color:black;">
			An error occured while attaching container technology to this environment.<br />
		</p>
		<p style="color:black;" ng-if="environment.error.code === 173">
			The inputs you provided while attaching the container technology are invalid according to the validation rules of the template you have selected.
		</p>
		<p style="color:black;">
			<b><u>Details:</u></b><br />
			<ul>
				<li style="color:black;">
					<label>Error {{environment.error.code}} :</label>&nbsp;{{environment.error.msg}}
				</li>
			</ul>
		</p>
	</alert>
	<br />
</div>

<div ng-if="attach && !environment.pending">
	<div ng-include="'modules/dashboard/environments/infra/directives/attach.tmpl'"></div>
</div>

<div ng-if="!environment.pending && !environment.error && !attach">
	<fieldset>
		<legend>
			<img ng-if="platform === 'docker'" ng-src="{{dockerImagePath}}" height="80px" alt="Docker Logo"/>
			<img ng-if="platform === 'kubernetes'" ng-src="{{kubernetesImagePath}}" height="80px" alt="Kubernetes Logo"/>
		</legend>
		<div class="t-right">
			<input type="button" class="btn btn-sm btn-danger" value="Detach Container Technology" ng-click="detachContainer()">
		</div>
		<div class="entryBoxes entryBoxesGrid">
			<div class="entryBox driverEntryBox">
				<div class="header">
					{{driver|uppercase}}
					<span class="rightActions">
                        <a href="" ng-if="access.platforms.certs.upload && platform === 'docker' && driver ==='remote' && config.certs.length < 3" ng-click="uploadCerts(platform, driver)">
                            <span class="icon icon-attachment" tooltip="{{translation.uploadCertificates[LANG]}}"></span>
                        </a>
                        <a href="" ng-if="platform === 'kubernetes'" ng-click="updateNamespaceConfig(driver)">
                            <span class="icon icon-cog" tooltip="ConfigureDriver"></span>
                        </a>
                    </span>
				</div>
				<div class="body">
					<div ng-include="'modules/dashboard/environments/infra/directives/platform-display-table.tmpl'"></div>
				</div>
			</div>
		</div>
	</fieldset>
</div>

<script type="text/ng-template" id="updateNamespaceConfig.tmpl">
	<div ng-include="'modules/dashboard/environments/directives/updateNamespaceConfig.tmpl'"></div>
</script>

<script type="text/ng-template" id="detachContainerTechnology.tmpl">
	<div class="modal-body">
		<alert type="danger">
			<h2>Warning !</h2>
			<hr>
			<p style="color:black;">
				Detaching the container technology from this environment will automatically remove all the deployments & secrets associated to this environment.
			</p>
			<p style="color:black;">
				The infra cloud provider <b>cluster</b> will also be removed if this environment is the only one using it.
			</p>
			<p style="color:black;">
				You can always reattach a new container technology back to this environment, but the deployments & secrets will not be available.
			</p>
			<p>
				<b>This operation is irreversible and might cause the environment to become unreachable!</b>
			</p>
		</alert>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="proceed()">Proceed</button>
		<button class="btn btn-danger" ng-click="cancel()">{{translation.cancel[LANG]}}</button>
	</div>
</script>
