<section ng-controller="platformsCtrl">
	
	<tabset ng-if="!containerWizard">
		<tab heading="Container Technology">
			<br />
			<div ng-if="environment.selected !== 'manual'" ng-include="'modules/dashboard/environments/infra/directives/container.tmpl'"></div>
			<div ng-if="environment.selected === 'manual'">
				<div class="w-100 c-both t-right">
					<a class="btn btn-sm btn-success" ng-click="checkAttachContainerProgress(false)">
						<span class="icon icon-redo"></span> Refresh
					</a>
					<br /><br />
				</div>
				<alert type="info">
					<input type="button" class="btn btn-sm btn-primary f-right" value="Attach Container Technology" ng-click="attachContainerTechnology()">
					<p>
						The following environment does not have any container technology associated to it.
					</p>
				</alert>
			</div>
		</tab>
		<tab heading="Virtual Machines" ng-click="listVMLayers()" ng-if="access.vm.list">
			<br />
			<div ng-include="'modules/dashboard/environments/infra/directives/vms.tmpl'"></div>
		</tab>
	</tabset>
	
	<div ng-if="containerWizard">
		<form>
			<div class="header"><h3>Attach Container Technology</h3></div>
		</form>
		<div ng-include="'modules/dashboard/environments/directives/add/deploy.tmpl'"></div>
	</div>
</section>