<section ng-controller="platformsCtrl">
	
	<div ng-switch="environment.type">
		<div ng-switch-when="manual">
			<div ng-include="'modules/dashboard/environments/infra/directives/manual.tmpl'"></div>
		</div>
		<div ng-switch-when="container">
			<div ng-if="access.platforms.attachContainer || access.platforms.detachContainer">
				<div ng-include="'modules/dashboard/environments/infra/directives/container.tmpl'"></div>
			</div>
		</div>
		<div ng-switch-when="singleInfra">
			<div ng-if="access.platforms.createContainer || access.platforms.deleteContainer || access.vm.list">
				<div ng-include="'modules/dashboard/environments/infra/directives/cloudProvider.tmpl'"></div>
			</div>
		</div>
	</div>
</section>