<div class="header closed">
	<table width="100%" class="">
		<tr>
			<td>
				<a href="" ng-click="showHide(service)">
					<span class="icon icon-{{service.icon || 'plus'}}"></span>
				</a>
				<span ><b style="margin:0;">{{service['name']|uppercase}}</b></span>
			</td>
			<td>
				<span ng-if="service.src['repo']"><b>{{translation.repository[LANG]}}</b>:<span>{{service.src['repo']}}</span></span>
			</td>
			<td class="t-right" ng-if="!service.favorite">
				<a href=""   ng-click="setFavorite(service)" title="click to set as favorite" >
					<span class="icon icon-star-empty"></span>
				</a>
			</td>
			<td class="t-right" ng-if="service.favorite">
				<a href=""   ng-click="removeFavorite(service)" title="click to set as favorite" >
					<span class="icon icon-star-full"></span>
				</a>
			</td>
			<td class="t-right" style="width: 10px;">
				<a href=""   ng-click="removeResource(service)" title="remove" >
					<span class="icon icon-cross"></span>
				</a>
			</td>
		</tr>
	</table>
</div>
<div class="entryAction">
</div>
<div class="body grid" style="display:none;">
	<br>
	<div ng-if="service.description">
		<em>description: {{service.description}}</em>
		<br>
		<br>
	</div>
	<tabset>
		<tab ng-repeat="oneList in service.versions" heading="Version {{oneList.version}}">
			<br />
			<div class="f-left" ng-if="oneList.lastSync" >
				<div>
					<span><b>Last Sync:</b></span>
					<span style="margin-right: 10px; margin-left: 10px;"><b>{{oneList.lastSync.branch}}</b> - {{oneList.lastSync.ts | date: 'd/M/yy h:mm a'}}</span>
					<b>Branches</b>:<span class="lastSyncBranches" tooltip="{{oneList.branches.join(', ')}}"  tooltip-placement="bottom" tooltip-class="customClass"> [ {{oneList.branches.join(', ')}} ] </span>
				</div>
			</div>
			<input class="btn btn-primary f-right" ng-click="editResource(service.name, oneList.version)" value="edit">
			<br />
		</tab>
	</tabset>
</div>