<div id="mainMenu" ng-show="enableInterface" ng-class="(collapseMainMenu)? 'mainMenu2' : 'mainMenu' ">
	<div ng-show="leftMenu.environments && leftMenu.environments.length > 0 && !collapseMainMenu" class="environmentsMenu">
		<div class="btn-group w100" dropdown>
			<button id="split-button" type="button" class="btn btn-danger t-left" style="width:83%">{{currentSelectedEnvironment}}</button>
			<button type="button" class="btn btn-danger" dropdown-toggle  style="width:17%">
				<span class="caret"></span>
				<span class="sr-only">Split button!</span>
			</button>
			<ul class="dropdown-menu w100" role="menu" aria-labelledby="split-button">
				<li role="menuitem" ng-repeat="oneBtn in leftMenu.environments" ng-click="switchEnvironment(oneBtn, true)">{{oneBtn.code}}</li>
				<li role="menuitem" ng-click="go('environments-add');">
					<span class="icon icon-plus"></span>&nbsp;Add New Environment
				</li>
			</ul>
		</div>
	</div>
	
	<div ng-show="pillar === 'infra' && !collapseMainMenu" class="infraMenu">
		<div class="btn-group w100" dropdown>
			<button id="split-button" type="button" class="btn btn-info t-left" style="width:83%">{{currentSelectedInfra.label || "N/A"}}</button>
			<button type="button" class="btn btn-info" dropdown-toggle  style="width:17%">
				<span class="caret"></span>
				<span class="sr-only">Split button!</span>
			</button>
			<ul class="dropdown-menu w100" role="menu" aria-labelledby="split-button">
				<li role="menuitem" ng-repeat="oneInfra in infraProviders" ng-click="switchInfra(oneInfra)">{{oneInfra.label}}</li>
				<li role="menuitem" ng-click="activateProvider()">
					<span class="icon icon-plus"></span>&nbsp;Connect New Infra Provider
				</li>
			</ul>
		</div>
	</div>

	<ul ng-if="pillar ==='operate'">
		<li ng-repeat="link in leftMenu.links" ng-class="{'first': $first, 'last': $last, selected:link.selected, active: link.url === leftMenu.selectedMenu}">
			<a href="{{link.url}}" class="mainMenu{{$index}}" id="mainMenu-{{link.id}}">
				<span class="icon icon-{{link.icon}}"></span>
				<span ng-show="!collapseMainMenu && link.notification" class="red smallNotification" data-badge="{{link.notification}}"></span>
				<span ng-show="collapseMainMenu && link.notification" class="red smallNotificationCollapsed" data-badge="{{link.notification}}"></span>
				<span ng-show="!collapseMainMenu">{{link.label}}</span>
			</a>
		</li>
	</ul>
	<ul ng-if="pillar!=='operate'">
		<li ng-repeat="link in leftMenu.links" ng-class="{'first': $first, 'last': $last, selected:link.selected, active: link.url === leftMenu.selectedMenu}" ng-hide="link.hideMe">
			<a href="{{link.url}}" class="mainMenu{{$index}}" id="mainMenu-{{link.id}}">
				<span class="icon icon-{{link.icon}}"></span>
				<span ng-show="!collapseMainMenu && link.notification" class="red smallNotification" data-badge="{{link.notification}}"></span>
				<span ng-show="collapseMainMenu && link.notification" class="red smallNotificationCollapsed" data-badge="{{link.notification}}"></span>
				<span ng-show="!collapseMainMenu">{{link.label}}</span>
			</a>
		</li>
	</ul>
	<a href="" ng-click="collapseExpandMainMenu()">
		<span class="collapser icon" ng-class="(collapseMainMenu) ? 'icon-forward3' : 'icon-backward2'"></span>
	</a>
</div>