<div id="userMenu">
    <div ng-controller="welcomeCtrl">
        <div ng-show="enableInterface">
            <ul style="margin-left:40px;">
                <li>{{translation.welcome[LANG]}} {{userFirstName}} {{userLastName}}</li>
                <li ng-repeat="link in userMenu.links">
                    <a href="{{link.url}}" ng-class="{active: link.url === userMenu.selectedMenu}" class="userMenu{{$index}}" id="userMenu-{{link.id}}">
                        <span class="icon icon-{{link.icon}}"></span>{{link.label}}
                    </a>
                </li>
	            <li ng-show="isPortalDeployed()">
		            <a href="" ng-click="openMy('portal')" class="userMenu-portal" id="userMenu-portal">
			            <span class="icon icon-home"></span>Open Portal
		            </a>
	            </li>
	            <li ng-show="!isPortalDeployed()">
		            <a href="#/environments-add?portal=true" class="btn btn-warning userMenu-portal" id="userMenu-portal2" style="position:relative; top:-6px;">
			            <span class="icon icon-rocket"></span>Deploy Portal
		            </a>
	            </li>
	            <li class="logout">
		            <a href="" ng-click="logoutUser()" class="userMenu-logout" id="userMenu-logout">
			            <span class="icon icon-switch"></span>{{translation.logout[LANG]}}
		            </a>
	            </li>
            </ul>
        </div>
        <div ng-show="!enableInterface">
            <ul>
                <li ng-repeat="link in guestMenu.links">
                    <a href="{{link.url}}" ng-class="{active: link.url === guestMenu.selectedMenu}" class="guestMenu{{$index}}" id="guestMenu-{{link.id}}">
                        <span ng-if="link.icon" class="icon icon-{{link.icon}}"></span>{{link.label}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>