<section ng-controller="customRegistryCtrl">
	<br/>
	<div ng-if="access.customRegistry.list">
		<button class="btn btn-primary f-left" ng-if="access.customRegistry.add" ng-click="add()">
			Add New Custom Registry
		</button>
		<button class="btn btn-primary f-right" ng-if="access.customRegistry.list" ng-click="get()">
			<span class="icon icon-loop2"></span>Refresh
		</button>
		<br/><br/>
		<div ng-if="listItems && listItems.length > 0">
			<br/><br/>
			<div ng-repeat="item in listItems" class="customRegistry-box" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
				<div>
					<div class="leftActions">
						<a tooltip="Shared" ng-if="item.shared">
							<span class="icon icon-share2"></span>
						</a>
						
						<a ng-if="!item.shared" disabled>
							<span class="icon icon-share2 grey"></span>
						</a>
					</div>
					<label>{{item.name}}</label>&nbsp;<label ng-if="listItems.author" class="ownerLabel">(
					<span class="icon icon-user"></span>{{item.author}} )</label>
					<div class="rightActions" style="display:inline;">
						<a href="" ng-if="access.customRegistry.editAcl" class="btn btn-sm btn-default" ng-click="openSettings(item)">
							<span class="icon icon-cog"></span>Edit Acl
						</a>
						<a href="" ng-if="access.customRegistry.update" class="btn btn-sm btn-default" ng-click="edit(item)">
							<span class="icon icon-cog"></span>Configure
						</a>
						<a href="" ng-if="access.customRegistry.update && !item.plugged" class="btn btn-sm btn-default" ng-click="plug(item, true)">
							<span class="icon icon-power-cord"></span>Plug
						</a>
						<a href="" ng-if="access.customRegistry.update && item.plugged" class="btn btn-sm btn-success" ng-click="plug(item, false)">
							<span class="icon icon-power-cord"></span>Unplug
						</a>
						<a href="" class="btn btn-sm btn-danger" ng-if="access.customRegistry.delete" ng-click="delete(item)" ng-confirm-click="Are you sure you want to delete?">
							<span class="icon icon-cross" tooltip="Delete Custom Registry"></span>Remove
						</a>
						<a href="" class="btn btn-sm btn-danger" ng-if="!access.customRegistry.delete" disabled>
							<span class="icon icon-cross" tooltip="Delete Custom Registry"></span>Remove
						</a>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="!listItems || listItems.length === 0">
			<br/><br/>
			<alert type="warning">
				No Custom Registry found for this environment!
			</alert>
		</div>
	</div>
</section>

<script type="text/ng-template" id="addRegistry.tmpl">
	<div class="modal-header custom-modal-header">
		<h3 class="modal-title">Add Custom Registry
		</h3>
	</div>
	<div class="modal-body">
		<div class="form" ng-include="'modules/dashboard/environments/customRegistry/directives/add.tmpl'"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="submit()">
			Save
		</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="editRegistry.tmpl">
	<div class="modal-header custom-modal-header">
		<h3 class="modal-title">Edit Custom Registry
		</h3>
	</div>
	<div class="modal-body">
		<div class="form" ng-include="'modules/dashboard/environments/customRegistry/directives/edit.tmpl'"></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="submit()">
			Save
		</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</script>