<section ng-controller="infraCtrl">
	<a href="" ng-click="activateProvider()" class="btn btn-sm btn-primary" ng-if="access.activate">
		<span class="icon icon-plus"></span> Connect New Infra Provider
	</a>&nbsp;
	<a class="btn btn-sm btn-success" ng-click="getProviders()">
		<span class="icon icon-loop2"></span> Refresh
	</a>
	<br /><br />
	<accordion close-others="false">
		<accordion-group is-open="oneInfra.open" ng-repeat="oneInfra in infraProviders">
			<accordion-heading>{{oneInfra.label}}</accordion-heading>
			<div class="w-100 c-both t-right">
				<a href="" ng-click="editProvider(oneInfra)" class="btn btn-sm btn-success" ng-if="access.edit">
					<span class="icon icon-pencil"></span> Edit
				</a>&nbsp;
				<a href="" ng-click="deactivateProvider(oneInfra)" class="btn btn-sm btn-danger" ng-if="access.deactivate">
					<span class="icon icon-cross"></span> Deactivate
				</a>
			</div>
			<div>
				<tabset>
					<tab heading="Deployments">
						<br>
						<div ng-if="oneInfra.deployments.length === 0">
							<alert type="warning">
								No deployed found for this provider <a href="#/environments-add" class="btn btn-warning btn-sm f-right" style="position:relative; top:-5px;">Deploy New Environment</a>
							</alert>
						</div>
						<div ng-if="oneInfra.deployments.length > 0" class="grid">
							<table width="100%">
								<thead>
									<tr>
										<th></th>
										<th>ID</th>
										<th>Name</th>
										<th>Environments</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="oneDeployment in oneInfra.deployments" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
										<td><a ng-confirm-click="Are you sure you want to remove this deployment ?" href="" ng-click="deleteDeployment(oneDeployment, oneInfra)" ng-if="access.removeDeployment"><span class="icon icon-cross red"></span></a></td>
										<td>{{oneDeployment.id}}</td>
										<td>{{oneDeployment.name}}</td>
										<td>{{oneDeployment.environments}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</tab>
					<tab heading="Infra Code Templates">
						<br />
						<alert type="warning">No Templates available, please add.</alert>
					</tab>
				</tabset>
			</div>
		</accordion-group>
	</accordion>
</section>