<section ng-controller="infraIACCtrl">
	<div style="padding:10px;" ng-if="!showTemplateForm">
		<br>
		<a class="btn btn-sm btn-primary" ng-if="access.addTEmplate" ng-click="addTemplate(currentSelectedInfra)">
			<span class="icon icon-plus"></span> Add New Template
		</a>
		<a href="{{showSOAJSStoreLink}}" target="_blank" class="btn btn-sm btn-info" ng-if="showSOAJSStoreLink && showSOAJSStoreLink!== ''">
			<span class="icon icon-download"></span> Download From Store
		</a>
		<button class="btn btn-sm btn-success" ng-click="go('/importExport', 'import')" ng-if="access.import">Import</button>
		<button class="btn btn-sm btn-warning" ng-click="go('/importExport', 'export')" ng-if="access.export">Export</button>
		<br /><br />
		<alert type="warning" ng-if="!currentSelectedInfra.templates || currentSelectedInfra.templates.length === 0">
			<p>
				No Infra As Code Templates available.
				<span ng-if="showSOAJSStoreLink && showSOAJSStoreLink!== ''">
					You can download for free Infra As Code Templates from the <a href="{{showSOAJSStoreLink}}" target="_blank"><b>SOAJS Store</b></a>.
				</span>
			</p>
		</alert>
		<div ng-if="currentSelectedInfra.templates" class="grid">

			<tabset>
				<tab heading="{{oneTechnology|capitalize}}" ng-repeat="(oneTechnology, tmpls) in currentSelectedInfra.templates">
					<br />
					<tabset>
						<tab heading="{{driver|capitalize}}" ng-repeat="(driver, list) in tmpls">
							<table width="100%" ng-if="list.length > 0">
								<br />
								<thead>
									<tr>
										<th width="7%"></th>
										<th width="30%">Name</th>
										<th width="40%">Description</th>
										<th width="10%">Storage Location</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="oneTmpl in list" ng-class="{'first': $first, 'last': $last}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
										<td ng-if="oneTmpl.technology === oneTechnology">
											<!--<a href="" ng-click="previewTemplate(oneTmpl)" ng-if="oneTmpl.location === 'local'"><span class="icon icon-search"></span></a>&nbsp;-->
											<a href="" ng-click="editTemplate(oneTmpl, currentSelectedInfra)" ><span class="icon icon-pencil"></span></a>&nbsp;
											<a href="" ng-click="downloadTemplate(oneTmpl, currentSelectedInfra)" ng-if="oneTmpl.location !== 'local'"><span class="icon icon-download"></span></a>&nbsp;
											<a ng-confirm-click="Are you sure you want to remove this template ?" href="" ng-click="deleteTemplate(oneTmpl, currentSelectedInfra)" ng-if="access.removeTemplates"><span class="icon icon-cross red"></span></a>
										</td>
										<td ng-if="oneTmpl.technology === oneTechnology" style="word-break: break-word;">{{oneTmpl.name}}</td>
										<td ng-if="oneTmpl.technology === oneTechnology" style="word-break: break-word;">{{oneTmpl.description}}</td>
										<td ng-if="oneTmpl.technology === oneTechnology">{{(oneTmpl.location === 'local') ? "SOAJS Console" : "Cloud Provider" }}</td>
									</tr>
								</tbody>
							</table>
						</tab>
					</tabset>
				</tab>
			</tabset>
		</div>
	</div>
	<div ng-if="showTemplateForm">
		<ngForm></ngForm>
	</div>
</section>
