<section ng-controller="infraIPCtrl">
	<div ng-switch="currentInfraName">
		<div ng-switch-when="azure">
			<div ng-include="'modules/dashboard/infra/_drivers/azure/directives/ip.tmpl'"></div>
		</div>
		<div ng-switch-when="aws">
			<div ng-include="'modules/dashboard/infra/_drivers/aws/directives/ip.tmpl'"></div>
		</div>
	</div>
</section>
