.customEntryBox {
    width: 100% !important;
    /*min-height: 196px !important;*/
    /*height: auto;*/
    padding-left: 0px !important;
}

.entryBox{
    border: solid 1px #cccccc;
    position: relative;
    border-radius: 8px;
    margin-bottom: 15px;
}

div.upgradeAction {
    position: absolute;
    top: 5px;
    right: 85px;
    text-align: center;
}

div.syncAction {
    position: absolute;
    top: 5px;
    right: 35px;
    text-align: center;
}

div.deleteAction {
    position: absolute;
    top: 5px;
    right: 60px;
    text-align: center;
}

li.accountType {
    list-style-type: none;
    padding-left: 10px;
}

li.accessType {
    list-style-type: none;
    padding-left: 10px;
}