<section ng-controller="dashboardAppCtrl" class="dashboardAppCtrl">
	
	<div>
		<br/>
		<alert type="warning">
			<p>Contact SOAJS Team if you want to turn on Analytics and reporting feature.</p>
		</alert>
		<br/>
	</div>
	
	<tabset>
		<tab heading="API Metircs">
			<h5>This add on allows you to view all kind of metrics around your api catalog.</h5>
		</tab>
		
		<tab heading="API Catalog" active="activateApiCatalogTab">
			<h5>This add on gives you a consolidated view of all the APIs in your catalog with advanced search and
				detail view.</h5>
		</tab>
		
		<tab heading="API ACL" active="activateApiAclTab">
			<h5>This add on gives you a new way to browse who has access to what microservice down to the version and
				API.</h5>
		</tab>
		
		<tab heading="API Monitor" active="activateApiMonitorTab">
			<h5>This add on allows you to monitor every API call browse the request, body, and response as well as by
				who and execution time.</h5>
		</tab>
		
		<tab heading="API Analytics" active="activateApiAnalyticsTab">
			<h5>This add on gives you analytics about the consumption of your API like you have never see before.</h5>
		</tab>
	</tabset>
</section>
