<div class="dropdown serviceOpsDropdownKube">
	<button class="btn btn-default dropdown-toggle" type="button" id="ServiceOperation"
	        data-toggle="dropdown" aria-haspopup="true"
	        aria-expanded="true">
		Service Operations
		<span class="caret"></span>
	</button>
	<ul  class="dropdown-menu"
	    aria-labelledby="serviceOpsDropdown">
		<li  ng-show="!deployed" ><a href=""
		       ng-click="configure(service, version)"><span
				class="icon icon-download"></span> Configure </a></li>
		<li  ng-show="deployed"><a href=""
		       ng-click="configure(service, version)"><span
				class="icon icon-download"></span> Reconfigure</a></li>
		<li  ng-show="deployed" ><a href=""
		       ng-click="redeploy(service, version)"><span
				class="icon icon-loop2"></span> Redeploy</a></li>
		<li  ng-show="deployed" ><a href=""
		                            ng-click="restartService(service, version)"><span
				class="icon icon-undo"></span> Restart</a></li>
		<li  ng-show="deployed && (version.deployedItem.type=== 'Deployment')" ><a href=""
		                            ng-click="scaleService(service, version)"><span
				class="icon icon-enlarge"></span> Scale Service</a></li>
		<li  ng-show="deployed" ><a href=""
		                            ng-click="execCommandPods(service, version)"><span
				class="icon icon-list2"></span> Exec Command</a></li>
	</ul>
</div>

<div>
	<button ng-show="deployed && version.deployedItem && version.deployedItem.type=== 'Deployment'" class="btn btn-{{autoScale}} autoScale-button" type="button" aria-haspopup="true"
	        aria-expanded="true"
	        ng-click="autoScaleService(service, version)">
		AutoScale
	</button>
</div>

<div ng-if="access.marketplace.maintenance" class="dropdown maintenanceOpsDropdownKube">
	<button class="btn btn-default dropdown-toggle" type="button" id=""
	        data-toggle="dropdown" aria-haspopup="true"
	        aria-expanded="true">
		Maintenance Operations
		<span class="caret"></span>
	</button>
	<ul ng-show="version.maintenance && version.maintenance.commands" class="dropdown-menu"
	    aria-labelledby="maintOpsDropdown">
		<li><a href=""
		       ng-show="version.maintenance.readiness"
		       ng-click="executeOperation(service, version, version.maintenance.readiness, 'Heartbeat')"><span
				class="fas fa-heart"></span> Heart Beat</a></li>
		
		<li ng-repeat="operation in version.maintenance.commands"><a href=""
		                                                             ng-if="operation.path !=='/heartbeat'"
		                                                             ng-click="executeOperation(service, version, operation.path, operation.label)"><i
				class="{{operation.icon}}"></i>&nbsp;{{operation.label}}</a>
		</li>
		<li><a href=""
		       ng-click="deleteService(service,  version)"
		       ng-confirm-click="Are you sure you want to delete this service?"><span
				class="icon icon-cross"></span>&nbsp;Delete Service</a></li>
	</ul>
</div>
<br>
<br>
<br>
<tabset>
	<tab ng-repeat="(tab, itemList) in itemLists track by $index" heading="{{tab | capitalizeFirst}}"
	     ng-if="itemList && itemList.items && itemList.items.length > 0">
		<br/>
		<div ng-include="'modules/dashboard/deployMarketplace/directives/global/kubernetes/' + tab + '.tmpl'"></div>
	</tab>
</tabset>

<script type="text/ng-template" id="scaleService.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body text-align-center">
		<alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
		<div class="form">
			<label>This service is currently running as a replica of {{currentScale}} instance(s)</label>
			<br/>
			<label>How many instances should this service be scaled to?</label>
			<input type="number" class="form-control centeredInput" required="true" ng-model="newScale"/>
			<br/>
			<alert type="info" class="text-align-center">
				Scaling a deployment is a process that might take some time to complete.
			</alert>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Scale</button>
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="autoScale.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
		<div class="form">
			<form name="autoScale" id="autoScale" ng-submit="autoScale.$valid && onSubmit()">
				<fieldset>
					<legend>Metrics</legend>
					<div>
						<label>CPU</label>
						<input type="number" class="form-control"
						       ng-model="autoScaleObject.metrics.cpu.percent" ng-required="true"/>
						<label class="fieldMsg">Enter CPU percentage</label>
						<br>
					</div>
				</fieldset>
				<fieldset>
					<legend>Replicas</legend>
					<div>
						<label>min</label>
						<input type="number" class="form-control" ng-model="autoScaleObject.replica.min"
						       min="1" ng-required="true"/>
						<label class="fieldMsg">Enter minimum Replica Count that is greater or equal to 1</label>
						<br>
					</div>
					<div>
						<label>max</label>
						<input type="number" class="form-control" ng-model="autoScaleObject.replica.max"
						       min="1" ng-required="true"/>
						<label class="fieldMsg">Enter maximum Replica Count that is greater or equal to 1</label>
						<br>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<span>
			<button ng-show="!autoScaleStatus" class="btn btn-success" ng-disabled='autoScale.$invalid'
			        ng-click="onSubmit('update')">Auto Scale</button>
			<button ng-show="autoScaleStatus" class="btn btn-danger" ng-disabled='autoScale.$invalid'
			        ng-click="onSubmit('turnOff')">Turn Off</button>
		</span>
		<button class="btn btn-primary" ng-click="closeModal()">Cancel</button>
	</div>
</script>