<div ng-class="{'footer': !form.modal, 'modal-footer': form.modal}">
	<br/>
	<div ng-class="{'submittedForm': form.submitted === true}">
		<div class="note">
			<alert type="danger" close="form.closeNote()">
				{{translation.missingRequiredFields[LANG]}}
			</alert>
		</div>
	</div>
	<div ng-show="form.msgs.footer" class="footer-msg" ng-bind-html="form.msgs.footer|toTrustedHtml"></div>
	<input ng-repeat="formAction in form.actions" type="{{formAction.type}}" value="{{formAction.label}}" ng-click="form.do(formAction)" class="btn btn-sm btn-{{formAction.btn}}"/>
</div>