<div class="body listApis" ng-class="{openApis: aclFill[oneEnv.code][service.name].include===true && aclFill[oneEnv.code][service.name].collapse }">
	<div>
		<tabset>
			<tab ng-repeat="version in service.fixList" heading="v {{version['%v%']}}">
				<br>
				<div ng-show="aclFill[oneEnv.code][service.name].include" style="float: left;">
					<span><b>{{translation.includeVersion[LANG]}}</b></span>
					<span style="padding-left: 15px;"><input ng-model="aclFill[oneEnv.code][service.name][version['%v%']].include" type="checkbox" value="{{aclFill[oneEnv.code][service.name][version['%v%']].include}}" ng-checked="aclFill[oneEnv.code][service.name][version['%v%']].include===true" ng-click="includeVersion(oneEnv.code, service, [version['%v%']], aclFill[oneEnv.code][service.name][version['%v%']].include)"/></span>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include">
					<br> <br>
				</div>
				
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" style="float: left;">
					<div class="f-left">
						<span style="padding-left: 20px;"><b>- {{translation.selectAccessType[LANG]}}: </b></span>
						<span style="padding-left: 15px;">
				        <input id="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_public" ng-model="aclFill[oneEnv.code][service.name][version['%v%']].accessType" value="public" type="radio"/>
						    <label for="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_public">{{translation.public[LANG]}}</label>
				        </span>
						<span style="padding-left: 40px;">
					        <input id="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_private" ng-model="aclFill[oneEnv.code][service.name][version['%v%']].accessType" value="private" type="radio"/>
						    <label for="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_private">{{translation.private[LANG]}}</label>
						</span>
					</div>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include">
					<br> <br>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" class="f-left">
					<span style="padding-left: 20px;"><b>- {{translation.checkRestrictAccessSelectedApi[LANG]}}</b></span>
					<span style="padding-left: 15px;"><input ng-click="applyRestriction(aclFill[oneEnv.code][service.name][version['%v%']])" type="checkbox" name="apisRestrictPermission_{{service.name}}" ng-model="aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission" ng-checked="aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission===true" value="restricted"/></span>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include">
					<br>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" class="f-left">
					<span style="padding-left: 30px; font-style: italic; font-size: 13px;">If not selected, any api on this service will be available</span>
				</div>
				<br> <br>
				<accordion close-others="true">
					<accordion-group class="greenAccordion" ng-click="showHideServiceApi(oneEnv.code, group, service.name, version['%v%'])" >
						<accordion-heading ><span class="icon icon-cloud"></span>API</accordion-heading>
						<fieldset ng-repeat="(grp, val) in version" ng-if="grp !== '%v%' && grp !== '%showApi%' && version['%showApi%']">
							<legend>{{grp}}</legend>
							<div ng-if="val.apisRest">
									<fieldset ng-repeat="(method, apisList) in val.apisRest">
										<legend>{{normalizeMethod(method)}}</legend>
										<div class="apiListing-container">
											<div class="" ng-repeat="my1Api in apisList" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}" style="">
												<div class="f-left width100">
													
													<div ng-class="{readApis: method==='get', addApis: method==='post', updateApis: method==='put', deleteApis: method==='delete', patchApis: method==='patch', headApis: method==='head', otherApis: method !=='head' && method !=='patch' && method !=='head' && method !=='get' && method !=='post' && method !=='put' && method !=='delete' }">
														<input id="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_{{grp}}_{{method}}_{{$index}}" ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method][grp].apis[my1Api.v].include" ng-click="checkForGroupDefault(oneEnv.code,service,grp,val,my1Api, version['%v%'])" ng-disabled="(val.defaultApi && my1Api.groupMain!==true && val.defaultIncluded===false)" type="checkbox" value="true" ng-show="aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission"/>
														
														<span ng-class="{readMethodApis: method==='get', addMethodApis: method==='post', updateMethodApis: method==='put', deleteMethodApis: method==='delete',  patchMethodApis: method==='patch',  headMethodApis: method==='head',  otherMethodApis: method !=='head' && method !=='patch' && method !=='head' && method !=='get' && method !=='post' && method !=='put' && method !=='delete' }">{{method}}</span>
														<span ng-class="{readRouteApis: method==='get', addRouteApis: method==='post', updatedRouteApis: method==='put', deleteRouteApis: method==='delete', patchRouteApis: method==='patch', headRouteApis: method==='head', otherRouteApis: method !=='head' && method !=='patch' && method !=='head' && method !=='get' && method !=='post' && method !=='put' && method !=='delete' }">{{my1Api.v}}</span>
														<br>
														<span ng-class="{readDescriptionApis: method==='get', addDescriptionApis: method==='post', updateDescriptionApis: method==='put', deleteDescriptionApis: method==='delete', patchDescriptionApis: method==='patch', headDescriptionApis: method==='head', otherDescriptionApis: method !=='head' && method !=='patch' && method !=='head' && method !=='get' && method !=='post' && method !=='put' && method !=='delete' }">{{my1Api.l}}</span>
														
														
														<div class="apiAccess inputApi" ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" ng-hide="(aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission && (aclFill[oneEnv.code][service.name][version['%v%']][method][grp].apis[my1Api.v].include!==true))">
													
															<span style="padding-left: 0px;">
														<input ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method][grp].apis[my1Api.v].accessType" value="clear" type="radio"/>
														<em style="">{{translation.InheritFromService[LANG]}}</em>
													</span>
															<span>
														<input ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method][grp].apis[my1Api.v].accessType" value="public" type="radio"/>
				                        {{translation.public[LANG]}}
													</span>
															<span>
														<input ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method][grp].apis[my1Api.v].accessType" value="private" type="radio"/>
				                                     {{translation.private[LANG]}}
			                                        </span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
							</div>
						</fieldset>
					</accordion-group>
				</accordion>
			
			</tab>
		</tabset>
	</div>
</div>