<div class="body listApis" ng-class="{openApis: aclFill[oneEnv.code][service.name].include===true && aclFill[oneEnv.code][service.name].collapse }">
	<div>
		<tabset>
			<tab ng-repeat="version in service.fixList" heading="v {{version['%v%']}}">
				<br>
				<div ng-show="aclFill[oneEnv.code][service.name].include" style="float: left;">
					<span><b>{{translation.includeVersion[LANG]}}</b></span>
					<span style="padding-left: 15px;"><input ng-model="aclFill[oneEnv.code][service.name][version['%v%']].include" type="checkbox" value ="{{aclFill[oneEnv.code][service.name][version['%v%']].include}}" ng-checked="aclFill[oneEnv.code][service.name][version['%v%']].include===true" /></span>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include">
					<br> <br>
				</div>
			
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" style="float: left;">
					<div class="f-left">
						<span style="padding-left: 20px;"><b>- {{translation.selectAccessType[LANG]}}: </b></span>
						<span style="padding-left: 15px;">
				        <input id="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_public" ng-model="aclFill[oneEnv.code][service.name][version['%v%']].accessType" value="public" type="radio"/>
						    <label for="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_public">{{translation.public[LANG]}}</label>
				        </span>
						<span style="padding-left: 40px;">
					        <input id="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_private" ng-model="aclFill[oneEnv.code][service.name][version['%v%']].accessType" value="private" type="radio"/>
						    <label for="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_private">{{translation.private[LANG]}}</label>
						</span>
					</div>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include">
					<br> <br>
				</div>
				<div ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" class="f-left">
					<span style="padding-left: 20px;"><b>- {{translation.checkRestrictAccessSelectedApi[LANG]}}</b></span>
					<span style="padding-left: 15px;"><input ng-click="applyRestriction(oneEnv.code, service)" type="checkbox" name="apisRestrictPermission_{{service.name}}" ng-model="aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission" ng-checked="aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission===true" value="restricted"/></span>
				</div>
				<br> <br>
				<fieldset ng-repeat="(grp, val) in version" ng-if="grp !== '%v%'">
					<legend>{{grp}}</legend>
					<div ng-if="val.apisRest">
						<fieldset ng-repeat="(method, apisList) in val.apisRest">
							<legend class="perMethod">{{normalizeMethod(method)}}</legend>
							<div class="apiListing-container">
								<div class="clearfix apiListing fieldsetBack fixProduct" ng-repeat="my1Api in apisList" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}" style="">
									<div class="apiLabel width50">
										<input id="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_{{grp}}_{{method}}_{{$index}}" ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method].apis[my1Api.v].include" ng-click="checkForGroupDefault(oneEnv.code,service,grp,val,my1Api, version['%v%'])" ng-disabled="(val.defaultApi && my1Api.groupMain!==true && val.defaultIncluded===false)" type="checkbox"  value="true" ng-show="aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission"/>
										<label for="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_{{grp}}_{{method}}_{{$index}}"><span>{{my1Api.v}}</span>
											- {{my1Api.l}} - {{method}}</label>
									</div>
									<div class="apiAccess" ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" ng-hide="(aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission && (aclFill[oneEnv.code][service.name][version['%v%']][method].apis[my1Api.v].include!==true))">
										<div class="f-left">
											<span style="padding-left: 0px;">
			                            <input ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method].apis[my1Api.v].accessType" value="clear" type="radio" />
			                            <em style="">{{translation.InheritFromService[LANG]}}</em>
			                        </span>
											<span>
			                            <input ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method].apis[my1Api.v].accessType" value="public" type="radio"/>
				                        {{translation.public[LANG]}}
			                        </span>
											<span>
			                                 <input ng-model="aclFill[oneEnv.code][service.name][version['%v%']][method].apis[my1Api.v].accessType" value="private" type="radio" />
				                                     {{translation.private[LANG]}}
			                                 </span>
										</div>
									
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					
					<div ng-if="!val.apisRest" class="apiListing-container clearfix">
						<div class="apiListing clearfix fieldsetBack fixProduct" ng-repeat="myApis in val.apis| orderBy:'groupMain'" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:api.selected}" style="">
							<div class="apiLabel">
								<input id="{{oneEnv.code}}_{{service.name}}_{{version['%v%']}}_{{$index}}" ng-click="checkForGroupDefault(oneEnv.code,service,grp,val,myApis, version['%v%'])" ng-disabled="(val.defaultApi && myApis.groupMain!==true && (aclFill[oneEnv.code][service.name][version['%v%']].apis[val.defaultApi].include!==true))" type="checkbox" value="true" ng-model="aclFill[oneEnv.code][service.name][version['%v%']].apis[myApis.v].include" ng-show="aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission"/>
								{{myApis.l}}
							</div>
							<div class="apiAccess" ng-if="aclFill[oneEnv.code][service.name][version['%v%']].include" ng-hide="(aclFill[oneEnv.code][service.name][version['%v%']].apisRestrictPermission && (aclFill[oneEnv.code][service.name][version['%v%']].apis[myApis.v].include!==true))">
								<div class="f-left">
									<span style="padding-left: 0px;">
                                      <input ng-model="aclFill[oneEnv.code][service.name][version['%v%']].apis[myApis.v].accessType" value="clear" type="radio"/>
										<em>{{translation.InheritFromService[LANG]}}</em>
									</span>
									<span>
                                     <input ng-model="aclFill[oneEnv.code][service.name][version['%v%']].apis[myApis.v].accessType" value="public" type="radio"/> {{translation.public[LANG]}}
                                         </span>
									<span>
                                     <input ng-model="aclFill[oneEnv.code][service.name][version['%v%']].apis[myApis.v].accessType" value="private" type="radio"/> {{translation.private[LANG]}}
                                    </span>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			
			</tab>
		</tabset>
	</div>
</div>