<section ng-controller="consoleCtrl" ng-show="grid.row">
	<div class="body clearfix">
		<a ng-if="access.addPck" style="top:0 " class="btn btn-sm btn-primary" href="" ng-click="addPackage(grid.row['_id'])">{{translation.addNewPackage[LANG]}}</a>
		<div ng-if="access.listPck">
			<ul class="blueListing">
				<li class="blueLi" ng-repeat="package in grid.row.packages">
					<a ng-click="viewPackage(package)" href="" ng-hide="package.showDetails">
						<span class="icon icon-plus" tooltip="{{translation.expandPackages[LANG]}}"></span>
					</a>
					<a ng-click="closePackage(package)" href="" ng-show="package.showDetails">
						<span class="icon icon-minus" tooltip="{{translation.collapsePackages[LANG]}}"></span>
					</a>
					<b>{{package['name']}}</b>&nbsp;[ {{package['code']}} ]  ( {{package['_TTL'] | TTL}} {{translation.hours[LANG]}} )
					<span class="rightActions">
								<a ng-if="access.deletePck && !package.locked" href="" ng-confirm-click="{{translation.areYouSureWantRemoveSelectedPackage[LANG]}} ?" ng-click="removeProductPackage(grid.row['_id'], package['code']);">
									<span class="icon icon-cross" tooltip="{{translation.removePackage[LANG]}}"></span>
								</a>
								<a ng-if="access.deletePck && package.locked" href="" style="cursor: not-allowed; color: #929fa7">
									<span class="icon icon-cross" tooltip="{{translation.removePackage[LANG]}}"></span>
								</a>
								<a ng-if="access.updatePck" href="" ng-click="editPackAcl(grid.row['_id'], package['code']);">
									<span class="icon icon-unlocked" tooltip="{{translation.editPackageACL[LANG]}}"></span>
								</a>&nbsp;
								<a ng-if="access.updatePck && !package.locked" href="" ng-click="editPackage(grid.row['_id'], package)">
									<span class="icon icon-pencil2" tooltip="{{translation.editPackage[LANG]}}"></span>
								</a>
								<a ng-if="access.updatePck && package.locked" href="" ng-click="editPackage(grid.row['_id'], package)">
									<span class="icon icon-search" tooltip="{{translation.viewPackage[LANG]}}"></span>
								</a>
                        	</span>
					<div ng-show="package.showDetails"><em>{{package['description']}}</em></div>
				</li>
			</ul>
		</div>
	</div>
</section>