<div style="float:left;">
		<span ng-click="minimize(oneEnv.code, service)" ng-show="aclFill[oneEnv.code][service.name].collapse===true" class="icon icon-minus" tooltip="{{translation.minimize[LANG]}}"></span>
		<span ng-click="expand(oneEnv.code, service)" ng-show="(!aclFill[oneEnv.code][service.name].collapse) || (aclFill[oneEnv.code][service.name].collapse === false)"class="icon icon-plus" tooltip="{{translation.expand[LANG]}}"></span>
</div>
<div style="padding-left: 10px" class="serviceName">
	<b>{{service.name}}</b>
</div>