<div style="float:left;">
		<span ng-click="minimize(oneEnv.code, s)" ng-show="aclFill[oneEnv.code][s].collapse===true" class="icon icon-minus" tooltip="{{translation.minimize[LANG]}}"></span>
		<span ng-click="expand(oneEnv.code, s)" ng-show="(!aclFill[oneEnv.code][s].collapse) || (aclFill[oneEnv.code][s].collapse === false)"class="icon icon-plus" tooltip="{{translation.expand[LANG]}}"></span>
</div>
<div style="padding-left: 10px" class="serviceName">
	<b>{{s}}</b>
</div>