<section ng-controller="continuousDeliveryCtrl">
	<alert type="info">
		<h4 style="margin-top:5px;">This Section will provide you the some of the information you need for Continuous Delivery.</h4>
		<hr>
		<p style="color:black;">
			<a
					href="https://soajsorg.atlassian.net/wiki/x/ZYBBa" target="_blank">Click here </a> to Learn more about Continuous Delivery
		</p>
		<p style="color:black;"> Here is some of the Environment Variables you would need :
		</p>
		<ul style="color:black;">
			<li>SOAJS_URL: Go to <a href="" target="_blank" ng-click="go('/registry')"> Registry </a> to view the URL needed.</li>
			<li>SOAJS_key: Go to <a href="" target="_blank" ng-click="go('/multi-tenancy')"> Multi-tenancy </a> and get an active External Key.</li>
			<li>SOAJS_cd_auth: Go to <a href="" target="_blank" ng-click="go('/continuous-delivery')"> Continuous Delivery </a> and get an active CD Deployment Auth Key.</li>
		</ul>
	</alert>
</section>
