div#allowedEnvironments-wrapper li {
    float: left;
    width: 33%;
}
.membersEntry {
    margin-top: 12px;
}

.splitGroups {
    float: left;
    width: 33%;
}

.getUsersButton {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    display: block;
    float: left;
}

.getGroupsButton {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    display: block;
    float: left;
}

.selectKey{
    margin: 10px 30px 10px 15px;
}

.packageListingSize {
    width: 48% !important;
    float: left;
    margin-right: 2%;
}

.onClickPack {
    background-color: #dff0d8 !important;
}

.modal-header-group {
    background-color: #9EBC5D !important;
    color: #fff;
}