.table {
    margin-bottom: 0;
}

hr {
    margin-top: 0px;
}

.table a {
    outline: 0;
    text-underline: none;
}

.lastSync td {
    width: 15%;
    white-space: nowrap;
}

.serviceHeader {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.lastSyncBranches {
    display: inline-block;
    width: 800px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: -4px;
    margin-left: 5px;
}

.tooltip.customClass .tooltip-inner {
    word-wrap: break-word;
    width: 500px;
}

.tooltip.customClass {
    word-wrap: break-word;
    width: 50px !important;
}

.rebuild-button {
    float: left !important;
    margin-left: 5px;
}

.exec-button {
    float: right !important;
    margin-left: 5px;
}

.configure-button {
    float: left !important;
}

.configCd .form-control {
    display: inline;
    width: 65%;
    height: 34px;
    padding-bottom: 3px;
    padding-top: 4px;
    margin-right: 42px;
}

.configCd label,
.configCd .entryServiceBoxes .service-container label {
    font-weight: bold;
    padding-bottom: 2px;
    width: 30%;
}

.configCd label.fieldMsg {
    width: 100%;
    clear: both;
    font-weight: normal;
}

.configCd select.form-control {
    margin-top: 3px;
    margin-bottom: 5px;
    min-width: 120px;
    margin-right: 42px;
}

.configCd .halfPage {
    float: left;
    width: 35%;
}

.configCd .branchLabel {
    padding-top: 8px;
}

.cdFormHeader {
    background-color: #9EBC5D !important;
    border: solid 1px #8A9E5B !important;
    border-radius: 5px;
    width: 98%;
    margin: 10px auto;
    color: white;
}

.loadingImage {
    height: 18px !important;
    margin-left: 5px !important;
    margin-top: -3px !important;
    width: 18px !important;
}

.warningFieldMsg {
    font-style: italic;
    color:red;
    font-size: 12px;
    clear: both;
    width: 100%;
}

.custom-fieldset div label:not(.fieldMsg) {
    margin-top: 10px;
    float: left;
    width: 24%;
}

.custom-fieldset div input, .custom-fieldset div select {
    float: right;
    width: 74%;
}

.autoscaleBox {
    margin-right: 10px;
    padding-right: 11px;
    color: #5bc0de !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;

    width: 50px !important;
    height: 20px !important;
    top: 7px;
    left: 6px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.buttonSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.buttonSlider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    top: 1px;
}

input:checked + .buttonSlider {
    background-color: #5cb85c;
}

input:focus + .buttonSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .buttonSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.buttonSlider.round {
    border-radius: 34px;
}

.buttonSlider.round:before {
    border-radius: 50%;
}

.serviceOpsDropdown {
    float: right !important;
    height: 28px !important;
    margin-bottom: 10px;
    margin-top: 5px;
}

.serviceOpsDropdown .btn {
    font-size: 11px !important;
}