#addEnvironment .modal-header span.closeButton{
    display:none;
}

.addEnvTable {
    border-collapse: collapse !important;
    width: 100% !important;
}
.addEnvTable table{
    border-collapse: collapse !important;
    width: 100% !important;
}
.addEnvTable th{
    border-collapse: collapse !important;
    width: 50% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 8px !important;
}

.addEnvTable tr:nth-child(odd){
    background-color: #f2f2f2 !important;
    width: 100% !important;
}
.addEnvTable td{
    padding-top: 5px;
    max-width: 500px;
    overflow: auto;
    text-overflow: clip;
    white-space: nowrap;
    border-collapse: collapse !important;
    width: 50% !important;
    padding-left: 8px !important;
}
.addEnvTable td label{
    padding-bottom: 5px;
}
.addEnvImg div{
    width: 15%;
}
.addEnvImg div img {
    width: 100%;
}
.addEnvImg h4 {
    display: inline-block;
}
.c-right {
    clear: right;
}

.cloud-tr-bgColor {
    background-color: rgba(112, 128, 141, 0.1)
}

.ace_editor{
    height: 150px;
}

.customRegistryAceEditor {
    max-height: 150px;
    min-height: 18px;
    overflow-y: scroll;
}