.environmentBox {
    border-radius: 5px;
    border:solid 1px #eeeeee;
    padding:5px;
    width:98%;
    maring: 0 auto;
    cursor:pointer;
}

.environmentBox:hover {
    background-color:#DEF1F7;
    border: solid 1px #337ab7;
    /*-webkit-box-shadow: 0px 0px 10px 4px rgba(43, 97, 143, 0.75);*/
    /*-moz-box-shadow:    0px 0px 10px 4px rgba(43, 97, 143, 0.75);*/
    /*box-shadow:         0px 0px 10px 4px rgba(43, 97, 143, 0.75);*/
}

.environmentBox:hover hr{
    border-color:#333333;
}

#addEnvironment .modal-header span.closeButton{
    display:none;
}

.addEnvTable {
    border-collapse: collapse !important;
    width: 100% !important;
}
.addEnvTable table{
    border-collapse: collapse !important;
    width: 100% !important;
}
.addEnvTable th{
    border-collapse: collapse !important;
    width: 50% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 8px !important;
}

.addEnvTable tr:nth-child(odd){
    background-color: #f2f2f2 !important;
    width: 100% !important;
}
.addEnvTable td{
    padding-top: 5px;
    max-width: 500px;
    overflow: auto;
    text-overflow: clip;
    white-space: nowrap;
    border-collapse: collapse !important;
    width: 50% !important;
    padding-left: 8px !important;
}
.addEnvTable td label{
    padding-bottom: 5px;
}
.addEnvImg div{
    width: 15%;
}
.addEnvImg div img {
    width: 100%;
}
.addEnvImg h4 {
    display: inline-block;
}
.c-right {
    clear: right;
}

.cloud-tr-bgColor {
    background-color: rgba(112, 128, 141, 0.1)
}

.ace_editor{
    height: 150px;
}

.customRegistryAceEditor {
    max-height: 150px;
    min-height: 18px;
    overflow-y: scroll;
}

#page div.entryBoxesGrid div.entryBox{
    float:none;
}

/* The switch - the box around the slider */
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 20px !important;
    top: 7px;
    left: 6px;
}

/* Hide default HTML checkbox */
.toggleSwitch input {display:none;}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;

    width: 50px !important;
    height: 20px !important;
    top: 7px;
    left: 6px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.buttonSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.buttonSlider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    top: 1px;
}

input:checked + .buttonSlider {
    background-color: #5cb85c;
}

input:focus + .buttonSlider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .buttonSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.buttonSlider.round {
    border-radius: 34px;
}

.buttonSlider.round:before {
    border-radius: 50%;
}