.locked {
    background-color: #dff0d8 !important;
    border-color: #3c763d !important;
}

.lockedBorder {
    border-color: #3c763d !important;
}

.entryServiceBoxes .service-container .apiLabel label {

}

.width1 {
    width: 100% !important;
    margin-bottom: 8px;
}

.width2 {
    width: 53% !important;
    margin-bottom: 8px;
    padding-left: 5px;
}

.spanPadding {
    padding-left: 35px;
}

.fieldsetBack {
    background-color: #E6F0F7;
    display: block;
    box-sizing: border-box;
}

.greyedOut {
    color: #0f6ab4 !important;
}