.locked {
    background-color: #dff0d8 !important;
    border-color: #3c763d !important;
}

.lockedBorder {
    border-color: #3c763d !important;
}

.entryServiceBoxes .service-container .apiLabel label {

}

.width1 {
    width: 100% !important;
    margin-bottom: 8px;
}

.width2 {
    width: 53% !important;
    margin-bottom: 8px;
    padding-left: 5px;
}

.width50 {
    width: 50% !important;
}

.spanPadding {
    padding-left: 5px;
}

.spanWidth {
    width: 76px;
}

.fieldsetBack {
    background-color: #E6F0F7;
    display: block;
    box-sizing: border-box;
}

.unGreyedOut {
    color: #0f6ab4 !important;
}

.fixProduct {
    padding-top: 5px;
    padding-left: 5px;
}

.spearHead {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: solid 1px #cccccc;
    padding: 5px;
    font-weight: bold;
    background-color: #eeeeee;
    border-radius: 8px;
}

.spearHead span {
    font-weight: normal;
    margin-left: 10px;
}

.spearHead .serviceName {
    float: left;
    width: 200px;
}

.greenAccordion {
    border-color: #3c763d !important;
}

.greenAccordion .panel-heading {
    background-color: #dff0d8 !important;
}

.greenAccordion .panel-body {
    border-top-color: #337ab7 !important;
}

.redAccordion .panel-body {
    border-top-color: #F4E7E8 !important;
}

.redAccordion {
    border-color: #F4DDE8 !important;
}

.redAccordion .panel-heading {
    background-color: #F4E7E8 !important;
}

.orangeAccordion .panel-body {
    border-top-color: #F9F2E9 !important;
}

.orangeAccordion {
    border-color: #F7EFF0 !important;
}

.orangeAccordion .panel-heading {
    background-color: #F9F2E9 !important;
}

.blueAccordion {
    border: solid 1px #337ab7 !important;
}

.blueAccordion .panel-heading {
    /*border: solid 1px #51819e;*/
    /*width: 100%;*/
    /*border-radius: 5px;*/
    /*background-color: #c0dded;*/
    background: #E6F0F7 !important;
}

.blueAccordion .panel-body {
    border-top-color: #337ab7 !important;
}

.greenAccordion .panel-heading a:focus,
blueAccordion .panel-heading a:focus,
orangeAccordion .panel-heading a:focus,
redAccordion .panel-heading a:focus {
    outline: 0;
    text-decoration: none;
}

.form h4 {
    background-color: unset;
    padding: unset;
    border-radius: unset;
    margin-top: unset;
}

.inputApi {
    float: right !important;
    padding-right: 5px;
}

.readMethodApis {
    color: #0f6ab4;
    padding: 7px 0 4px;
    text-align: center;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    font-size: .7em;
    text-transform: uppercase;
}

.readRouteApis {
    color: #000;
    padding-left: 10px;
    display: inline-block;

}

.readDescriptionApis {
    color: #0f6ab4;
    margin: 2px 10px 5px 0;
    padding-left: 15px;
}

.readApis {
    display: flow-root;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-color: #E6F0F7;
}

.addMethodApis {
    color: #00AB50;
    padding: 7px 0 4px;
    text-align: center;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    font-size: .7em;
    text-transform: uppercase;
}

.addRouteApis {
    color: #000;
    padding-left: 10px;
    display: inline-block;

}

.addDescriptionApis {
    color: #00AB50;
    margin: 2px 10px 5px 0;
    padding-left: 15px;
}

.addApis {
    background-color: #E6F7ED;
    display: flow-root;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.updateMethodApis {
    color: #C48638;
    padding: 7px 0 4px;
    text-align: center;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    font-size: .7em;
    text-transform: uppercase;
}

.updatedRouteApis {
    color: #000;
    padding-left: 10px;
    display: inline-block;

}

.updateDescriptionApis {
    color: #C48638;
    margin: 2px 10px 5px 0;
    padding-left: 15px;
}

.updateApis {
    background-color: #F9F2E9;
    display: flow-root;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.deleteMethodApis {
    color: #A81E2E;
    padding: 7px 0 4px;
    text-align: center;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    font-size: .7em;
    text-transform: uppercase;
}

.deleteRouteApis {
    color: #000;
    padding-left: 10px;
    display: inline-block;

}

.deleteDescriptionApis {
    color: #A81E2E;
    margin: 2px 10px 5px 0;
    padding-left: 15px;
}

.deleteApis {
    background-color: #F4E7E8;
    display: flow-root;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.patchMethodApis {
    color: #50e3c2;
    padding: 7px 0 4px;
    text-align: center;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    font-size: .7em;
    text-transform: uppercase;
}

.patchRouteApis {
    color: #000;
    padding-left: 10px;
    display: inline-block;

}

.patchDescriptionApis {
    color: #50e3c2;
    margin: 2px 10px 5px 0;
    padding-left: 15px;
}

.patchApis {
    background-color: rgba(80, 227, 194, .1);
    display: flow-root;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.headMethodApis {
    color: #9012fe;
    padding: 7px 0 4px;
    text-align: center;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    font-size: .7em;
    text-transform: uppercase;
}

.headRouteApis {
    color: #000;
    padding-left: 10px;
    display: inline-block;

}

.headDescriptionApis {
    color: #9012fe;
    margin: 2px 10px 5px 0;
    padding-left: 15px;
}

.headApis {
    background-color: rgba(144, 18, 254, .1);
    display: flow-root;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.otherMethodApis {
    color: #808080;
    padding: 7px 0 4px;
    text-align: center;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    font-size: .7em;
    text-transform: uppercase;
}

.otherRouteApis {
    color: #000;
    padding-left: 10px;
    display: inline-block;

}

.otherDescriptionApis {
    color: #808080;
    margin: 2px 10px 5px 0;
    padding-left: 15px;
}

.otherApis {
    background-color: #F0F0F0;
    display: flow-root;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.width100 {
    width: 100% !important;
}

.acl-search {
    width: 16%;
    margin-right: 10px;
    float: right;
    margin-bottom: 10px;
}

.aclToggleDiv {
    margin-left: 20px;
}
.envSwitch {
    margin-top: 5px !important;
}

.buttonCompare {
    margin-right: 1%;
    float: right;
}

/*
service view
*/
#serviceCompactView {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin: 15px;
}

#serviceCompactView .toggleSwitch{
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 20px !important;
    top:10px;
    left: 6px;
}

#serviceCompactView td, #serviceCompactView th {
    border: 1px solid #ddd;
    padding: 0px 5px 0px 5px;
}

#serviceCompactView tr:nth-child(even) {
    background-color: #f2f2f2;
}

#serviceCompactView tr:last-child {
    background-color: white !important;
}

#serviceCompactView tr:hover {
    background-color: #ddd;
}

#serviceCompactView th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkgrey;
    color: white;
}

#serviceCompactView .serviceCompactViewService {
    width : 10%;
}

#serviceCompactView .serviceCompactViewVersion {
    width : 5%;
}

#serviceCompactView .serviceCompactViewEnv {
    /*width : 20%;*/
}

#serviceCompactView .alignCenter {
    text-align: center;
}
#serviceCompactView .envBlock {
    text-align: center;
}

#serviceCompactView .envAccess {
    display: inline-block;
    margin: -5px 10% 5px 5%;
}

#serviceCompactView .envAccessType {
    display: inline-block;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-right: 5%;
}

#serviceCompactView .envAccessRestriction {
    display: inline-block;
    margin-top: -5px;
    margin-bottom: 5px;
}

#serviceCompactView .accessPublic {

}

#serviceCompactView .accessPrivate {
    margin-left: 10px;
}

#serviceCompactView .saveEnvButton {
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#serviceCompactView .access1Env {
    margin-left: 25%;
}

#serviceCompactView .access2Env {

}

/*
api view
*/

#apiCompactView {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin: 15px;
}

#apiCompactView .toggleSwitch{
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 20px !important;
    top:10px;
    left: 6px;
}

#apiCompactView td, #apiCompactView th {
    border: 1px solid #ddd;
    padding: 0px 5px 0px 5px;
}

#apiCompactView tr:nth-child(even) {
    background-color: #f2f2f2;
}

#apiCompactView tr:last-child {
    background-color: white !important;
}

#apiCompactView tr:hover {
    background-color: #ddd;
}

#apiCompactView th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkgrey;
    color: white;
}

#apiCompactView .apiCompactViewService {
    width : 10%;
}

#apiCompactView .apiCompactViewVersion {
    width : 5%;
}

#apiCompactView .serviceCompactViewGroup {
    width : 10%;
}

#apiCompactView .serviceCompactViewMethod {
    width : 5%;
}

#apiCompactView .serviceCompactViewApi {
}

#apiCompactView .serviceCompactViewEnv {
    width : 20%;
}

#apiCompactView .alignCenter {
    text-align: center;
}

#apiCompactView .envAccess {
    display: inline-block;
    float: left;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: 5%;
}

#apiCompactView .envAccessType {
    display: inline-block;
    float: right;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-right: 5%;
}

#apiCompactView .accessPublic {

}

#apiCompactView .accessPrivate {
    margin-left: 10px;
}


#apiCompactView .restrictionMessage{
    float: left;
    font-style: italic;
    font-size: 12px;
    display : none;
}

.showMessageRestrictionApi {
    display : inline !important;
}

#apiCompactView .saveEnvButton {
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.restrictionAstrix {
    font-style: italic;
    font-size: 12px;
    margin-left: 1%;
}

#envCompareListing {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 15px;
    background-color: #fff;
    color: #444;
    margin: 15px 10px;
}

#envCompareListing .envBoxesAllowed {
     background-color: lightblue;
     color: #fff;
     border-radius: 5px;
     padding: 10px;
     font-size: 150%;
     text-align: center;
     cursor:pointer
 }

#envCompareListing .envBoxes {
    background-color: lightgray;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    text-align: center;
    cursor: not-allowed;
}
.compareHeaderBox {
    background: lightblue;
}

.onClickEnv {
    background: cornflowerblue !important;
    border-style: double;
}

.showInfoEnv{
    margin-top: 15px;
}


