<section ng-controller="tenantConsoleCtrl">
    <div ng-if="access.tenant.list">
	    <br/>
	    <div ng-if="consoleTenants.length === 0 && !query">
		    <alert type="warning">
			    {{translation.haveBeenAddedYet[LANG]}}.
		    </alert>
	    </div>
	    <div ng-repeat="consoleTenant in consoleTenants" >
		    <accordion>
			    <accordion-group is-open="true">
				    <accordion-heading>
					    <span>{{consoleTenant.name}}</span>
				    </accordion-heading>
				    <div class="description">{{consoleTenant['description']}}</div>
				    <div ng-if="access.tenant.application.list || access.tenant.oauth.users.list">
					    <br/>
					    <div class="keyAlerts" ng-show="mt[consoleTenant['_id']].alerts.length >0" id="{{consoleTenant['_id']}}">
						    <alert ng-repeat="alert in mt[consoleTenant['_id']].alerts" type="{{alert.type}}" class="" close="mt.closeAlert($index, consoleTenant['_id'])">{{alert.msg}}</alert>
						    <br/>
					    </div>
					    <tabset>
						    <tab heading="{{translation.manageProducts[LANG]}}" ng-if="access.tenant.application.list">
							    <div ng-include="'modules/dashboard/multitenancy/directives/list-console-applications.tmpl'"></div>
						    </tab>
						    <tab heading="{{translation.oAuthUsers[LANG]}}" ng-click="listOauthUsers(consoleTenant)" ng-if="access.tenant.oauth.users.list"
						         ng-show="consoleTenant.oauth.secret && consoleTenant.oauth.secret!=='' && consoleTenant.oauth.disabled === 0 && consoleTenant.oauth.type===2 && consoleTenant.oauth.loginMode==='oauth'" >
							    <br/>
							    <a ng-if="access.tenant.oauth.users.add" class="btn btn-sm btn-primary" ng-click="addOauthUser(consoleTenant['_id'])">{{translation.addoAuthUser[LANG]}}</a>
							    <div class="grid" id="oUsers{{$index}}">
								    <label ng-show="consoleTenant.oAuthUsers.length > 0">{{translation.tenantoAuthUsers[LANG]}}:</label>
								    <div class="grid oAuthUsers">
									    <table ng-if="consoleTenant.oAuthUsers.length > 0" cellspacing="0" cellpadding="0" border="0" width="100%" class="">
										    <tbody>
										    <tr>
											    <th colspan="2"></th>
											    <th>{{translation.userID[LANG]}}</th>
											    <th>{{translation.authorization[LANG]}}</th>
										    </tr>
										    <tr ng-repeat="user in consoleTenant.oAuthUsers" ng-class-even="'even'" ng-class-odd="'odd'" ng-class="{'first': $first, 'last': $last, selected:extnlKey.selected}">
											    <td class="leftAction">
												    <a ng-if="access.tenant.oauth.users.update" href="" ng-click="editTenantOauthUser(consoleTenant['_id'], user)">
													    <span class="icon icon-pencil2" tooltip="{{translation.editoAuthUser[LANG]}}"> </span>
												    </a>
											    </td>
											    <td class="leftAction">
												    <a ng-if="access.tenant.oauth.users.delete" href="" ng-confirm-click="{{translation.areYouSureRemoveUser[LANG]}} ?" ng-click="removeTenantOauthUser(consoleTenant['_id'], user);">
													    <span class="icon icon-cross" tooltip="{{translation.removeoAuthUser[LANG]}}"> </span>
												    </a>
											    </td>
											    <td>
												    {{user['userId']}}
											    </td>
											    <td>
												    {{consoleTenant.oauth.authorization}}
											    </td>
										    </tr>
										    </tbody>
									    </table>
								    </div>
							    </div>
						    </tab>
					    </tabset>
				    </div>
			    </accordion-group>
		    </accordion>
	    </div>
    </div>
</section>