<div>
	<fieldset>
		<legend>
			<img ng-if="containers.platform === 'kubernetes'" ng-src="{{kubernetesImagePath}}" height="80px" alt="Kubernetes Logo"/>
		</legend>
		<div class="entryBoxes entryBoxesGrid">
			<div class="entryBox driverEntryBox">
				<div class="header">
					{{driver|uppercase}}
					<span class="rightActions">
                        <a href="" ng-if="containers.platform === 'kubernetes'" ng-click="updateNamespace(containers)">
                            <span class="icon icon-cog" tooltip="ConfigureDriver"></span>
                        </a>
                    </span>
				</div>
				<div class="body">
					<div class="grid" ng-if="containers.platform === 'kubernetes'">
						<table width="100%" cellspacing="10">
							<tr class="odd first">
								<td width="50%">
									<b>Master Node IP</b>
								</td>
								<td>{{containers.config.url}}</td>
							</tr>
							<tr class="even">
								<td width="50%">
									<b>Namespace Configuration</b>
								</td>
								<td>
									{{containers.config.namespace || "N/A"}}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div>

<script type="text/ng-template" id="updateNamespaceConfig.tmpl">
	<div ng-include="'modules/dashboard/environments2/infra/directives/updateNamespaceConfig.tmpl'"></div>
</script>

