<accordion close-others="true">
	<accordion-group is-open="true">
		<accordion-heading>
			Use Kubernetes as my Container Technology
		</accordion-heading>
		
		<div>
			<div class="w100 c-both"><label>Select a Kubernetes Technology</label><br></div>
			<div class="infraProvider f-left" ng-repeat="oneProvider in wizard.providers" ng-click="setProvider(oneProvider)" ng-class="{'selectedInfraProvider': oneProvider.label === wizard.providerLabel}">
				<img ng-src="{{wizard.images.kubernetes}}" alt="" height="18"/>&nbsp;{{oneProvider.label}}
			</div>
			<div ng-if="!wizard.providers">
				<alert type="warning">No Technologies detected, click here to <a href="#/infra">Connect a Container
					Technology</a></alert>
			</div>
		</div>
	</accordion-group>
</accordion>
<div ng-include="'modules/dashboard/environments2/addEnv/directives/actions.tmpl'"></div>