
<fieldset>
	<div>
		<div>
			<p>Deploying on: <img ng-src="{{wizard.images.kubernetes}}" alt="" height="18"/>&nbsp;{{wizard.providerLabel}}</p><br />
		</div>
		<div ng-include="'modules/dashboard/environments2/addEnv/directives/platform-display-table.tmpl'"></div>
	</div>
</fieldset>