<section ng-controller="releaseCtrl" class="releaseCtrl">
	
	<div ng-if="access.getCurrentRelease">
		<div class="entryBoxes">
			<br/>
			<fieldset>
				<legend>Current Release: {{currentRelease.releaseInfo.label}}</legend>
				<span style="font-style: italic;">{{currentRelease.releaseInfo.description}}</span>
				<br>
				<br>
				<accordion close="true">
					<accordion-group class="greenAccordion">
						<accordion-heading>Repositories</accordion-heading>
						<table id="settingsRepo">
							<tr>
								<th>Name</th>
								<th>Repository</th>
								<th>Version</th>
							</tr>
							<tr ng-repeat="repository in currentRelease.releaseInfo.services">
								<td>{{repository.label}}</td>
								<td>{{repository.repo}}</td>
								<td>{{repository.semVer}}</td>
							</tr>
						</table>
					</accordion-group>
				</accordion>
			</fieldset>
		</div>
	</div>
	
</section>
