<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<div class="form">
		<div ng-if="message.danger">
			<alert type="danger">{{message.danger}}</alert>
			<br>
		</div>
		<form name="inviteUser" id="gitConf" ng-submit="inviteUser.$valid && onSubmit()">
			<div class="form-group">
				<div class="c-both">
					<label style="display: block!important;">Enter Username: </label>
					<input style="display: inline-block!important; width: 70%!important;" class="form-control" type="text" tooltip="Enter Username" placeholder="Username" ng-disabled="usernameFound" ng-model="formData.username"/>
					<span ng-show="usernameFound" class="icon icon-checkmark green"></span>
					<span ng-show="!usernameFound" class="icon icon-cross red"></span>
					<button class="btn btn-{{checkUsernameButton}} f-right" type="button" ng-click="checkUsername(formData.username)" value="Cancel">Check Username
					</button>
				</div>
				<br>
				<div ng-show="usernameFound">
					<fieldset>
						<legend>Pin Configuration</legend>
						<div class="c-both">
							<label>Add Pin Code: </label>
							<label class="toggleSwitch"><input type="checkbox" ng-model="formData.pinCode"><span class="buttonSlider round"></span></label>
						</div>
						<br>
						<div class="c-both">
							<label>Check if this user is allowed to start Pin Code login: </label>
							<label class="toggleSwitch"><input type="checkbox" ng-model="formData.allowLogin"><span class="buttonSlider round"></span></label>
						</div>
					</fieldset>
					<br>
					<div class="c-both">
						<label>Groups</label>
						<ul>
							<li ng-repeat="dv in groups" class="splitGroups">
								<input type="checkbox" id="{{'group_'+$index}}" ng-model="formData.group" value="{{dv.v}}" ng-checked="dv.selected"/>
								<span>{{dv.l || dv.v}}</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="c-both t-right">
					<hr/>
					<input ng-show="usernameFound" type="submit" class="btn btn-primary" value="Submit"/>
					<button class="btn btn-danger" type="button" ng-click="closeModal()" value="Cancel">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>