<section ng-controller="mainMembersCtrl as mainCtrl">
	<div class="row" ng-if="tenantEnvironments.length === 0">
		<div class="col-md-12">
			<br>
			<alert type="warning">{{translation.noEnvironmentsHaveBeenAddedYet[LANG]}}</alert>
		</div>
	</div>
	<div ng-show="tenantEnvironments.length > 0">
		<div class="row">
			<div class="col-md-12">
				<fieldset class="searchBarFieldSet tabFieldSetHeightXSmall">
					<div style="float: left;">
						<label>Select Environment: </label>
					</div>
					<div style="float: left;">
						<select id="mainEnv" style="margin-left: 10px;" tooltip="Select Environment" ng-model="filters.env" ng-change="changeEnv(filters.env)">
							<option value="">----- Choose an option -----</option>
							<option ng-repeat="env in tenantEnvironments" value="{{env.code}}">{{env.code}}</option>
						</select>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row" ng-show="filters.env">
			<div class="col-md-8">
				<fieldset class="searchBarFieldSet tabFieldSetHeightSmall">
					<div style="float: left;">
						<div>
							<div style="float: left;">
								<label>Select Tenant: </label>
							</div>
							<div style="float: left;">
								<select id="mainTenant" style="margin-left: 10px" tooltip="Select Tenant" ng-model="filters.tenant" ng-change="getTenantExtKeys(filters.env, filters.tenant)">
									<option value="">----- Choose an option -----</option>
									<option ng-repeat="tenant in mainTenants" value={{$index}}>{{tenant.code}} -
										{{tenant.name}}
									</option>
								</select>
							</div>
						</div>
						<div style="clear:both;">
							<span class="fieldMsg">Only 50 tenant appears in this list, you can filter by name and code</span>
						</div>
					</div>
					<div style="float: left; margin-left: 20px;">
						<div style="display: flex; ">
							<input style="margin-right: 5px;" type="text" name="tag" ng-model="tenantTabs[0].pagination.keywords" class="form-control" placeholder="Filter"/>
							<a href="" class="btn btn-primary" tooltip="Apply Filter" ng-click="listTenants()"><span class="icon icon-undo"></span>Filter</a>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-4">
				<fieldset class="searchBarFieldSet tabFieldSetHeightSmall">
					<div style="float: left;">
						<label>Select External Key: </label>
					</div>
					<div style="float: left;">
						<select id="extKey" style="margin-left: 10px" ng-options="ext.l for ext in tenantExtKeys" tooltip="Select External Key" ng-model="filters.ext" ng-change="turnOffmList()">
							<option value="">----- Choose an option -----</option>
						</select>
					</div>
				</fieldset>
			</div>
		</div>
		<div>
			<hr>
			<tabset class="tenantTab" ng-show="filters.env && filters.tenant && filters.ext">
				<tab heading="{{tenantTabs[0].label}}">
					<div ng-show="filters.ext">
						<br>
						<div class="body">
							<tabset ng-show="filters.env && filters.ext" id="mainTenantsMembers">
								<tab heading="Users">
									<br/>
									<div ng-controller="tenantsMembersCtrl">
										<div ng-show="access.adminUser.addUser">
											<span class="getUsersButton"><a href="" ng-click="getTenantUsers(selectedTenant, filters.env, filters.ext.v, filters)" class="btn btn-primary">{{translation.getUsers[LANG]}}</a></span>
											<a href="" ng-show="filters.mlist.showget.user" ng-click="tenantMembers.addMember(filters.env, filters.ext.v)" class="btn btn-primary noFloat">Add
												New User</a>
											<br/><br/>
											<nglist ng-show="filters.mlist.user"></nglist>
										</div>
									</div>
								</tab>
								<tab heading="Invited Users">
									<br/>
									<div ng-controller="tenantsInvitedMembersCtrl">
										<div ng-show="access.adminUser.addUser">
											<span class="getUsersButton"><a href="" ng-click="getTenantUsers(selectedTenant, filters.env, filters.ext.v, filters)" class="btn btn-primary">{{translation.getUsers[LANG]}}</a></span>
											<a href="" ng-show="filters.mlist.showget.invite" ng-click="tenantsInvitedMembers.inviteUser(filters.env, filters.ext.v)" class="btn btn-primary noFloat">Invite
												User</a>
											<br/><br/>
											<nglist ng-show="filters.mlist.invite"></nglist>
										</div>
									</div>
								</tab>
								<tab heading="{{translation.groups[LANG]}}">
									<br/>
									<div ng-controller="tenantsGroupsCtrl">
										<div ng-show="access.adminGroup.add">
											<span class="getGroupsButton"><a href="" ng-click="getTenantGroups(selectedTenant, filters.env, filters.ext.v, filters)" class="btn btn-primary">{{translation.getGroups[LANG]}}</a></span>
											<a href="" ng-show="filters.mlist.showget.group" ng-click="groupsMembers.addGroup(filters.env, filters.ext.v)" class="btn btn-primary noFloat">{{translation.addNewGroup[LANG]}}</a><br/><br/>
											<br/><br/>
											<nglist ng-show="filters.mlist.group"></nglist>
										</div>
									</div>
								</tab>
							</tabset>
						</div>
					</div>
				</tab>
				<tab heading="{{tenantTabs[1].label}}">
					<div ng-show="subTenants">
						<div class="row" style="margin-top: 10px;">
							<div class="col-md-8" ng-show="filters.tenant">
								<fieldset class="searchBarFieldSet tabFieldSetHeightSmall">
									<div style="float: left;">
										<div>
											<div style="float: left;">
												<label>Select Sub Tenant: </label>
											</div>
											<div style="float: left;">
												<select id="subTenant" style="margin-left: 10px" tooltip="Select Sub Tenant" ng-model="filters.subTenant" ng-change="getSubTenantExtKeys(filters.env, filters.subTenant)">
													<option value="">----- Choose an option -----</option>
													<option ng-repeat="subTenant in subTenants" value={{$index}}>
														{{subTenant.code}} - {{subTenant.name}}
													</option>
												</select>
											</div>
										</div>
										<div style="clear:both;">
											<span class="fieldMsg">Only 50 subtenant appears in this list, you can filter by name and code</span>
										</div>
									</div>
									<div style="float: left; margin-left: 20px;">
										<div style="display: flex;">
											<input style="margin-right: 5px;" type="text" name="tag" ng-model="tenantTabs[1].pagination.keywords" class="form-control" placeholder="Filter"/>
											<a href="" class="btn btn-primary" tooltip="Apply Filter" ng-click="getSubTenants(filters.tenant)"><span class="icon icon-undo"></span>Filter</a>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="col-md-4" ng-show="filters.tenant">
								<fieldset class="searchBarFieldSet tabFieldSetHeightSmall">
									<div style="float: left;">
										<label>Select External Key: </label>
									</div>
									<div style="float: left;">
										<select id="extKeySub" style="margin-left: 10px" ng-options="subExt.l for subExt in subtenantExtKeys" tooltip="Select External Key" ng-model="filters.subExt" ng-change="turnOffsList()">
											<option value="">----- Choose an option -----</option>
										</select>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
					<div class="body">
						<hr>
						<tabset ng-show="filters.env && filters.subExt && filters.ext" id="mainSubTenantsMembers">
							<tab heading="Users">
								<br/>
								<div ng-controller="subTenantsMembersCtrl">
									<div ng-show="access.adminUser.addUser">
										<span class="getUsersButton"><a href="" ng-click="getSubTenantUsers(selectedSubTenant, selectedTenant, filters.env, filters.ext.v, filters.subExt.v, filters)" class="btn btn-primary">{{translation.getUsers[LANG]}}</a></span>
										<a href="" ng-show="filters.slist.showget.user" ng-click="subTenantMembers.inviteUser(filters.env, filters.ext.v)" class="btn btn-primary noFloat">Invite
											New User</a>
										<br/><br/>
										<nglist ng-show="filters.slist.user"></nglist>
									</div>
								</div>
							</tab>
							<tab heading="{{translation.groups[LANG]}}">
								<br/>
								<div ng-controller="subTenantsGroupsCtrl">
									<div ng-show="access.adminGroup.add">
										<span class="getGroupsButton"><a href="" ng-click="getSubTenantGroups(selectedSubTenant, filters.env, filters.subExt.v, filters)" class="btn btn-primary">{{translation.getGroups[LANG]}}</a></span>
										<a href="" ng-show="filters.slist.showget.group" ng-click="subGroupsSubMembers.addGroup(filters.env, filters.ext.v)" class="btn btn-primary noFloat">{{translation.addNewGroup[LANG]}}</a><br/><br/>
										<br/><br/>
										<nglist ng-show="filters.slist.group"></nglist>
									</div>
								</div>
							</tab>
						</tabset>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</section>
