<section ng-controller="registryConfigViewCtrl">
	<div class="envHeaderAcl">
		<table width="100%" class="servicesList">
			<tr>
				<td style="width: 15%">
					<span><b style="margin:0;">{{env.code | capitalize}}</b></span>
				</td>
			</tr>
		</table>
	</div>
	<em style="margin-left: 5px">{{env.description}}</em>
	<br>
	<br>
	<tabset ng-show="env">
		<tab heading="ACL">
			<br>
			<h4 style="margin-left: 10px">Select Group:</h4>
			<div style="margin-left: 10px" ng-if="showGroupButtonSlider">
				<label class=""> WhiteList</label>
				<label class="toggleSwitch">
					<input type="checkbox" ng-model="groups.groupType"/>
					<span class="buttonSlider round"></span>
				</label>
				<label style="margin-left: 10px"> BlackList</label>
			</div>
			<br>
			<div class="envCompareListing">
				<div ng-class="{'envBoxesAllowed': group.allowed, 'envBoxes': !group.allowed }" id="group_{{env.code}}"
				     ng-repeat="group in groupsList" ng-click="selectGroup(group)">
					<span>{{group.code}}</span>
				</div>
			</div>
			<div class="f-right">
				<input class="btn btn-primary" ng-click="saveACl()" value="Save" type="submit">
				<button class="btn btn-danger" type="button" ng-click="close()" value="Cancel">Cancel</button>
			</div>
		</tab>
</section>
