<div class="modal-body">
	<div class="form">
		<alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
		<form name="swaggerInput" id="grpConf" novalidate ng-submit="swaggerInput.$valid && onSubmit()">
			<fieldset class="w100">
				<legend>Swagger Editor</legend>
				<div>
					<label>Select Swagger Input Type: </label>
					<select id="swagger_type" ng-options="dv.v as dv.l for dv in swaggerTypes" tooltip="Select Swagger Input Type" ng-model="form.formData.swaggerInputType" ng-change="selectSwagger(form.formData.swaggerInputType)">
					</select>
					<div ng-if="form.formData.swaggerInputType === 'text'">
						<div class="c-both w100 table">
							<a class="btn btn-danger f-right mr5" ng-click="clearYamlRight()" ng-show="schemaCodeF && schemaCodeF!== ''">
								<span class="icon icon-undo"></span>
								Reset Simulator
							</a>
							<a class="btn btn-success f-right mr5" ng-click="moveYamlRight()" ng-show="schemaCode && schemaCode!== ''">
								<span class="icon icon-play3"></span>
								Run
							</a>
						</div>
						<em>Make sure you press <b>Run</b> before you click <b>submit</b> to save your changes.</em>
						<hr/>
						<div class="w100 c-both">
							<div class="f-left w49" ng-class="{'block': !collapsed, 'hidden': collapsed}">
								<div id="schemaCode" ui-ace="{useWrapMode : true, showGutter: true, mode: 'yaml', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded, onChange: updateScopeValue}" ng-model="schemaCode"></div>
							</div>
							<div class="f-left w2" ng-class="{'block': !collapsed, 'hidden': collapsed}">
								<span>&nbsp;</span>
							</div>
							<div class="f-left" ng-class="{'w100': collapsed, 'w49': !collapsed}">
								<div swagger-ui parser="yaml" input-type="yaml" input="schemaCodeF" trusted-sources="true" loading="true" api-explorer="true" permalinks="false"></div>
							</div>
						</div>
					
					</div>
					
					<div ng-if="form.formData.swaggerInputType === 'git'">
						
						<div class="c-both w100 table">
							<a class="btn btn-success f-right mr5" ng-click="moveYamlRight()">
								<span class="icon icon-play3"></span>
								Run
							</a>
							<a class="btn btn-primary f-right mr5" ng-click="syncGitSwagger()" ng-if="git">
								<span class="icon icon-loop2"></span>
								Sync
							</a>
							
							<a ng-if="gitSoa" class="btn btn-primary f-right mr5" ng-click="editGitSwagger('git')" ng-if="form.formData.swaggerInputType">
								<span class="icon icon-pencil2"></span>
								Edit Git Information
							</a>
							<em class="f-left" ng-if="git"><b>Owner:</b> {{getGitInfo(git.gitId)}} </em>
							<br>
							<em class="f-left" ng-if="git"><b>Repository:</b> {{git.repo}} </em>
							<br>
							<em class="f-left" ng-if="git"><b>Branch:</b> {{git.branch}} </em>
							<br>
							<em class="f-left" ng-if="git"><b>FilePath:</b> {{git.filepath}}</em>
							<br>
							<em>Make sure you press <b>Run</b> before you click <b>submit</b> to save your changes.</em>
							<br>
						</div>
					
						<hr/>
						<div class="w100 c-both">
							<div class="f-left w49" ng-class="{'block': !collapsed, 'hidden': collapsed}">
								<div id="schemaCode2" ui-ace="{useWrapMode : true, showGutter: true, mode: 'yaml', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded}"></div>
							</div>
							<div class="f-left w2" ng-class="{'block': !collapsed, 'hidden': collapsed}">
								<span>&nbsp;</span>
							</div>
							<div class="f-left" ng-class="{'w100': collapsed, 'w49': !collapsed}">
								<div swagger-ui parser={{computeParser(swaggerUrl)}} url="swaggerUrl" loading="true" trusted-sources="true" api-explorer="true"></div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>