<script type="text/ng-template" id="updateResources.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
		<div class="manualToolTip">
			Select the desired method, and make sure to redeploy your endpoint before proceeding.
		</div>
	</div>
	<div class="modal-body text-align-center">
		<div class="grid">
			<table width="100%" border="0" cellpadding="5" cellspacing="3">
				<tbody>
					
					<tr ng-repeat="availableRes in availableResources" ng-class="{'even': $index%2==0}">
						<td width="80%" align="left">{{availableRes.name}} ({{availableRes.category}})</td>
						<td width="20%">
							<a href="" ng-click="selectResource($index)" class="btn btn-sm" ng-class="{'btn-success': availableRes.isSelected, 'btn-danger': !availableRes.isSelected}">
								<span class="icon icon-switch"></span>{{(availableRes.isSelected)? 'Selected' :
								'Select'}}
							</a>
						</td>
					</tr>
				
				
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onSubmit()">Update</button>
		<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="validationWarning.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">Warning</h3>
	</div>
	<div class="modal-body">
		<alert type="danger">{{errorDescrition}}</alert>
	</div>
	<div class="modal-footer">
		<div>
			<button class="btn btn-success" ng-click="cancel()">Fix it</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="validationWarningAndContinue.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">Warning</h3>
	</div>
	<div class="modal-body">
		<alert type="danger">{{errorDescrition}}</alert>
	</div>
	<div class="modal-footer">
		<div>
			<button class="btn btn-success" ng-click="cancel()">Fix it</button>
			<button class="btn btn-danger" ng-click="continue()">Proceed anyway</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="onPublishResponse.tmpl">
	<div class="modal-header">
		<h3 ng-if="errorDescrition" class="modal-title">Warning</h3>
		<h3 ng-if="validResponse" class="modal-title">Publish Response</h3>
	</div>
	<div class="modal-body">
		<alert ng-if="errorDescrition" type="danger">{{errorDescrition}}</alert>
		<alert ng-if="validResponse" type="success">Published successfully!</alert>
	</div>
	<div class="modal-footer">
		<div>
			<button class="btn btn-success" ng-click="cancel()">Ok</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="imfv_renderer.html">
	<div>
		<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey]" class='red'><span class='icon icon-cross' title='Delete' ng-click="onDeleteImfv(mainType.heading, endpoint,schemaKey,routeKey,inputKey,input,input.xxKeyxx,isCommonField)"></span></span>
		<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey]" class='blueIcon'><span class='icon icon-pencil2' title='Edit' ng-click="onEditImfv(mainType.heading, true,false,isCommonField, endpoint,schemaKey,routeKey,inputKey,input,input.xxKeyxx)"></span></span>
		
		<span ng-if="input.validation.type">{{inputKey}} ( {{input.validation.type}} {{input.validation.items.type?"("+input.validation.items.type+")":""}} ) </span>
		<span ng-if="input.type">{{inputKey}} ( {{input.type}} {{input.items.type?"("+input.items.type+")":""}} ) </span>
		
		<span ng-if="input.type === 'object' || input.validation.type === 'object' || (input.type === 'array' && input.items.type==='object') || (input.validation.type === 'array' && input.validation.items.type==='object') " class='blueIcon'>
				<span ng-class="{'icon icon-folder': (input.collapsed),'icon icon-folder-open':(!input.collapsed)}" title='' ng-click="collapse(input)"></span>
			</span>
	</div>
	
	<div ng-if="input.validation.type === 'object'" class="clearfix">
		<ul ng-if="!input.collapsed">
			<li ng-repeat="(inputKey,input) in input.validation.properties" ng-include="'imfv_renderer.html'"></li>
		</ul>
		<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey] && !input.collapsed" class='blueIcon'>
				<span class='icon icon-plus addProperty' title="Add Property to {{inputKey}}" ng-click="onEditImfv(mainType.heading, false,false,isCommonField,endpoint,schemaKey,routeKey,inputKey,input,input.xxKeyxx)"></span>
				.....</span>
	</div>
	
	<div ng-if="input.type === 'object'" class="clearfix">
		<ul ng-if="!input.collapsed">
			<li ng-repeat="(inputKey,input) in input.properties" ng-include="'imfv_renderer.html'"></li>
		</ul>
		<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey] && !input.collapsed" class='blueIcon'>
				<span class='icon icon-plus addProperty' title="Add Property to {{inputKey}}" ng-click="onEditImfv(mainType.heading, false,false,isCommonField,endpoint,schemaKey,routeKey,inputKey,input,input.xxKeyxx)"></span>
				.....</span>
	</div>
	
	
	<div ng-if="input.type === 'array' && input.items.type==='object'" class="clearfix">
		<ul ng-if="!input.collapsed">
			<li ng-repeat="(inputKey,input) in input.items.properties" ng-include="'imfv_renderer.html'"></li>
		</ul>
		<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey] && !input.collapsed" class='blueIcon'>
				<span class='icon icon-plus addProperty' title='Add Array Item' ng-click="onEditImfv(mainType.heading, false,true,isCommonField,endpoint,schemaKey,routeKey,inputKey,input,input.xxKeyxx)"></span>.....</span>
	</div>
	
	<div ng-if="input.validation.type === 'array' && input.validation.items.type === 'object'" class="clearfix">
		<ul ng-if="!input.collapsed">
			<li ng-repeat="(inputKey,input) in input.validation.items.properties" ng-include="'imfv_renderer.html'"></li>
		</ul>
		<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey] && !input.collapsed" class='blueIcon'>
				<span class='icon icon-plus addProperty' title="Add Property to {{inputKey}}" ng-click="onEditImfv(mainType.heading, false,true,isCommonField,endpoint,schemaKey,routeKey,inputKey,input,input.xxKeyxx)"></span>
				.....</span>
	</div>

</script>

<section ng-controller="endpointController">
	<tabset>
		<tab ng-repeat="mainType in endpointTabs" heading="{{mainType.heading}}" active="mainType.active">
			
			<div class="entryBoxes" ng-show="grid.rows">
				<div ng-if="access.listEndpoints">
					<a href="" ng-click="listEndpoints(mainType.heading)" class="btn f-right commonButtonsClass btn-success">
						<span class="icon icon-undo" tooltip="Refresh List"></span>{{translation.refresh[LANG]}}
					</a>
					<a href="" ng-click="addNewEndpoint(mainType.heading)" class="btn btn-primary f-right commonButtonsClass" ng-if="access.generateService || access.addEndpoint">
						<span class="icon icon-plus"></span>
						<span ng-if="mainType.heading==='endpoints'" ng-show="access.addEndpoint">Add New Endpoint</span>
						<span ng-if="mainType.heading==='services'" ng-if="access.generateService">Add New Service</span>
						<span ng-if="mainType.heading==='passThroughs'" ng-if="access.addEndpoint">Add New Pass Through</span>
					</a>
					<br/><br/>
				</div>
				
				<div id="s_{{endpoint._id}}" ng-repeat="endpoint in grid.rows[mainType.heading]" class="entryBox" ng-init="endpoint.hide = true;">
					<div class="header closed">
						<table width="100%" class="servicesList">
							<tr>
								<td>
									<a href="" ng-click="showHide(endpoint)">
										<span class="icon icon-{{endpoint.icon || 'plus'}}"></span>
									</a>{{endpoint['serviceName']|uppercase}}<span>[ {{endpoint['servicePort']}} ]</span>
								</td>
								<td>
									<span ng-if="endpoint['group']"><b>{{translation.serviceGroup[LANG]}}</b>:<span>{{endpoint['group'] || 'Misc.'}}</span></span>
								</td>
								<td>
									<b>{{translation.requestTimeout[LANG]}}</b>:<span>{{endpoint['requestTimeout'] || 0}}</span>
								</td>
								<td>
									<b>{{translation.requestTimeoutRenewal[LANG]}}</b>:<span>{{endpoint['requestTimeoutRenewal'] || 0}}</span>
								</td>
								<td>
								
								</td>
								
								<td ng-if="mainType.heading === 'services'" class="apiBuilderActions">
									<span class='blueIcon' ng-if="access.regenerateService"><span class='icon icon-download2' title='Regenerate and Download' ng-click="onDownloadEndpoint(mainType.heading, endpoint)"></span></span>
								</td>
								
								<td class="apiBuilderActions">
									<span class='blueIcon' ng-if="access.getEndpoints && access.editEndpoints"><span class='icon icon-pencil2' title='Edit' ng-click="onEditEndpoint(mainType.heading, endpoint._id)"></span></span>
								</td>
								
								<td class="apiBuilderActions">
									<span class='red' ng-if="access.deleteEndpoint"><span class='icon icon-cross' title='Remove' ng-confirm-click="Are you sure you want to delete this entry ?" ng-click="onRemoveEndpoint(mainType.heading, endpoint._id)"></span></span>
								</td>
							</tr>
						</table>
					</div>
					<div class="entryAction">
					</div>
					<div class="body grid" style="display:none;">
						
						<div ng-if="mainType.heading !== 'passThroughs' && access.swaggertoIMFV && tempo.switchView[endpoint._id] === 'swagger'" class="form schemasClass">
							<button class="btn btn-primary" ng-click="switchView(mainType.heading, endpoint)">
								Switch to IMFV
							</button>
						</div>
						
						<div ng-if="mainType.heading !== 'passThroughs' && access.IMFVToSwagger && tempo.switchView[endpoint._id] !== 'swagger'">
							<a style="float:right; padding-right: 25px; margin-top: 5px" href="" ng-click="switchView(mainType.heading, endpoint)" title="click to run swagger simulation">
								<span><img style="height: 25px; width:25px;" src="modules/dashboard/services/directives/images/swagger-icon.png">
								</span>
							</a>
						</div>
						
						<div ng-if="mainType.heading !== 'passThroughs' && tempo.switchView[endpoint._id] !== 'swagger'">
							
							<tabset>
								<tab ng-if="schemaKey!=='commonFields'" ng-repeat="(schemaKey, schemaObj) in endpoint.schema" heading="{{schemaKey}}" ng-init="isActive = isActiveTab(schemaKey, 0)" active="isActive" select="setActiveTab(schemaKey)">
									
									<div class="entryBoxes">
										<a href="" ng-click="deleteSchema(endpoint,schemaKey)" class="btn btn-primary f-right btn-danger apiClass">
											<span class="icon icon-cross" tooltip="Delete method"></span>Delete
											'{{schemaKey}}' Method
										</a>
										
										<a href="" ng-click="onAddEditRoute(endpoint,schemaKey)" class="btn btn-primary f-right apiClass">
											<span class="icon icon-plus" tooltip="Add route"></span>Add Route
										</a>
									</div>
									
									<div>
										<ul class="blueListing">
											<li class="blueLi" ng-repeat="(routeKey,routeObj) in schemaObj" class="row-list">
												
												<fieldset>
													<legend ng-if="mainType.heading==='endpoints'">
														Api : {{routeKey}}
														<span class='blueIcon'><span class='icon icon-pencil buttonHover' title='Edit' ng-click="onAddEditRoute(endpoint,schemaKey,routeKey)"></span></span>
														- Authentication :
														{{(routeObj._authorization &&
														routeObj._authorization!=='')?routeObj._authorization:endpoint.defaultAuthentication+'(Default)'}}
														<span class='blueIcon' ng-if="access.updateAPIAuthMethod">
															<span class='icon icon-lock buttonHover' title='Edit' ng-click="onUpdateResources(mainType.heading,endpoint.serviceName,routeObj._authorization,endpoint._id,schemaKey,routeKey)"></span>
														</span>
													</legend>
													<legend style="float:right;">
														<span class='blueIcon'><span class='icon red icon-cross' title='Delete Route' ng-click="onDeleteRoute(endpoint,schemaKey,routeKey)"></span></span>
													</legend>
													
													<legend ng-if="mainType.heading!=='endpoints'">
														Api : {{routeKey}}
														<span class='blueIcon'><span class='icon icon-pencil buttonHover' title='Edit' ng-click="onAddEditRoute(endpoint,schemaKey,routeKey)"></span></span>
													</legend>
													
													
													<div>
														<span ng-if="access.updateEndpointSchema" class='blueIcon'><span class='icon icon-pencil2' title='Edit' ng-click="onEnableEdit(endpoint._id,schemaKey,routeKey)">{{tempo.editEnabled[endpoint._id][schemaKey][routeKey]?' Disable editing ...':' Enable editing'}}</span></span>
														<br>
														<div>Common Fields</div>
														<ul>
															<li ng-init="isCommonField = true" ng-repeat="(inputKey,input) in routeObj.imfv.tempoCommonFields" ng-include="'imfv_renderer.html'"></li>
														</ul>
														<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey]" class='blueIcon addMainProperty'>
																<span class='icon icon-plus addProperty' title='Add Property' ng-click="onAddCommonField(mainType.heading, false,false,true,endpoint,schemaKey,routeKey,null,null,null)"></span>.....</span>
														
														<div>Custom IMFV</div>
														<ul>
															<li ng-init="isCommonField = false" ng-repeat="(inputKey,input) in routeObj.imfv.custom" ng-include="'imfv_renderer.html'"></li>
														</ul>
														<span ng-if="tempo.editEnabled[endpoint._id][schemaKey][routeKey]" class='blueIcon addMainProperty'>
																<span class='icon icon-plus addProperty' title='Add Property' ng-click="onEditImfv(mainType.heading, false,false,false,endpoint,schemaKey,routeKey,null,null,null)"></span>.....</span>
													</div>
												
												</fieldset>
											
											
											</li>
										</ul>
									</div>
								</tab>
								
								<tab ng-click="addSchema(endpoint)" ng-if="isAddSchemaAvailable(endpoint)">
									<tab-heading>
										<i class="icon icon-plus"></i>
									</tab-heading>
								
								</tab>
							
							</tabset>
						</div>
						
						<div ng-if="mainType.heading !== 'passThroughs' && tempo.switchView[endpoint._id] === 'swagger'">
							<!--<div class="grouped clearfix" style="vertical-align: top">-->
							<!--<div id="loggerEditor" ui-ace="{maxLines: Infinity, useWrapMode : true, showGutter: true, mode: 'yaml', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded}" ng-model="endpoint.swaggerInput" style="height: 500px;"></div>-->
							<!--<div>-->
							<!--</div>-->
							<!--</div>-->
							
							<div class="c-both w100 table">
								<h4 class="f-left">Swagger Editor</h4>
								<a class="btn btn-primary f-right swaggerButtonsClass swaggerRunButtonClass" ng-click="collapseExpand(endpoint._id)" ng-show="tempo.swagger[endpoint._id].schemaCodeF && tempo.swagger[endpoint._id].schemaCodeF!== ''">
									<span class="icon icon-circle-left" ng-show="!tempo.swagger[endpoint._id].collapsed"></span>
									{{(tempo.swagger[endpoint._id].collapsed) ? "Expand" : "Collapse"}} Editor
									<span class="icon icon-circle-right" ng-show="tempo.swagger[endpoint._id].collapsed"></span>
								</a>
								<a class="btn btn-danger f-right mr5 swaggerButtonsClass" ng-click="clearYamlRight(endpoint._id)" ng-show="tempo.swagger[endpoint._id].schemaCodeF && tempo.swagger[endpoint._id].schemaCodeF!== ''">
									<span class="icon icon-undo"></span>
									Reset Simulator
								</a>
								<a class="btn btn-success f-right mr5 swaggerButtonsClass" ng-click="moveYamlRight(endpoint)" ng-show="true">
									<span class="icon icon-play3"></span>
									Run
								</a>
							</div>
							
							<svg height="2" width="100%">
								<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
							</svg>
							
							<div class="w100 c-both">
								<div class="f-left w49" ng-class="{'block': !tempo.swagger[endpoint._id].collapsed, 'hidden': tempo.swagger[endpoint._id].collapsed}">
									<div ng-change="swaggerOnEdit(endpoint)" id="schemaCode" ui-ace="{useWrapMode : true, showGutter: true, mode: 'yaml', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded, onChange: updateScopeValue}" ng-model="endpoint.swaggerInput"></div>
								</div>
								<div class="f-left w2" ng-class="{'block': !tempo.swagger[endpoint._id].collapsed, 'hidden': tempo.swagger[endpoint._id].collapsed}">
									<span>&nbsp;</span>
								</div>
								<div class="f-left" ng-class="{'w100': tempo.swagger[endpoint._id].collapsed, 'w49': !tempo.swagger[endpoint._id].collapsed}">
									<div swagger-ui parser="json" input-type="json" input="tempo.swagger[endpoint._id].schemaCodeF" trusted-sources="true" loading="true" api-explorer="false" permalinks="false"></div>
								</div>
							</div>
						
						</div>
						
						<div ng-if="mainType.heading === 'passThroughs'">
							<tabset>
								<tab ng-repeat="(v, version) in endpoint.versions" heading="v{{v}}">
									<div ng-if="endpoint.src && endpoint.src.urls && endpoint.src.urls.length > 0 && u.version === v" ng-repeat="u in endpoint.src.urls">
										<label>URL</label>
										<input type="text" class="form-control" ng-model="u.url" ng-required="true" ng-disabled="true"/>
										<span class="manualToolTip">The url of your endpoint</span>
										<br>
									</div>
									<fieldset >
										<legend>Security</legend>
										<div>
											<label>oAuth</label>
											&nbsp;<input id="oauth_0" type="radio" ng-value=true ng-model="version.oauth" ng-disabled="true"/>&nbsp;
											<label for="oauth_0">true</label>
											&nbsp;-&nbsp;<input id="oauth_1" type="radio" ng-value=false ng-model="version.oauth" ng-disabled="true"/>&nbsp;
											<label for="oauth_1">false</label>
											<br>
											<span class="manualToolTip">If set to true, the service becomes protected by oAuth. Only requests that have a valid access_token are permitted to use the APIs of this service</span>
										</div>
										<div>
											<label>Ext Key</label>
											&nbsp;<input id="extKey_0" type="radio" ng-value=true ng-model="version.extKeyRequired" ng-disabled="true"/>&nbsp;
											<label for="extKey_0">true</label>
											&nbsp;-&nbsp;<input id="extKey_1" type="radio" ng-value=false ng-model="version.extKeyRequired" ng-disabled="true"/>&nbsp;
											<label for="extKey_1">false</label>
											<br>
											<span class="manualToolTip">If set to true, the service becomes protected by oauth. Only requests that have a valid access_token are permitted to use the APIs of this service</span>
										</div>
									</fieldset>
									<br>
									<fieldset>
										<legend>Augment the Request data between SOAJS Gateway and the API</legend>
										<div>
											<label>URAC</label>
											&nbsp;<input id="urac_0" type="radio" ng-value=true ng-model="version.urac" ng-disabled="true"/>&nbsp;
											<label for="urac_0">true</label>
											&nbsp;-&nbsp;<input id="urac_1" type="radio" ng-value=false ng-model="version.urac" ng-disabled="true"/>&nbsp;
											<label for="urac_1">false</label>
											<br>
											<span class="manualToolTip">Add logged in user information to the request.</span>
										</div>
										
										<div>
											<label>URAC Profile</label>
											&nbsp;<input id="urac_profile_0" type="radio" ng-value=true ng-model="version.urac_Profile" ng-disabled="true"/>&nbsp;
											<label for="urac_profile_0">true</label>
											&nbsp;-&nbsp;<input id="urac_profile_1" type="radio" ng-value=false ng-model="version.urac_Profile" ng-disabled="true"/>&nbsp;
											<label for="urac_profile_1">false</label>
											<br>
											<span class="manualToolTip">Add logged in user profile additional information to the request</span>
										</div>
										<div>
											<label>URAC ACL</label>
											&nbsp;<input id="urac_acl_0" type="radio" ng-value=true ng-model="version.urac_ACL" ng-disabled="true"/>&nbsp;
											<label for="urac_acl_0">true</label>
											&nbsp;-&nbsp;<input id="urac_acl_1" type="radio" ng-value=false ng-model="version.urac_ACL" ng-disabled="true"/>&nbsp;
											<label for="urac_acl_1">false</label>
											<br>
											<span class="manualToolTip">Add logged in user ACL (Access Control Level settings) to the request</span>
										</div>
										
										<div>
											<label>Provision ACL</label>
											&nbsp;<input id="provision_acl_0" type="radio" ng-value=true ng-model="version.provision_ACL" ng-disabled="true"/>&nbsp;
											<label for="provision_acl_0">true</label>
											&nbsp;-&nbsp;<input id="provision_acl_1" type="radio" ng-value=false ng-model="version.provision_ACL" ng-disabled="true"/>&nbsp;
											<label for="provision_acl_1">false</label>
											<br>
											<span class="manualToolTip">Add logged in user ACL (Access Control Level settings) to the request</span>
										</div>
									</fieldset>
									<fieldset >
										<legend>Swagger</legend>
										<div ng-repeat="swag in endpoint.src.swagger" ng-if="endpoint.src && endpoint.src.swagger && swag.version === v">
											<div>
												<label>Type: </label>
												<span style=" text-transform: capitalize;">{{swag.content.type}}</span>
												<br>
											</div>
											
											<alert ng-if="!swag.content || !swag.content.content" type="warning">
												Swagger file not found. Please add one.
											</alert>
											<alert ng-if="swag.content && swag.content.content" type="info">
												Swagger file added.
											</alert>
										</div>
									</fieldset>
								</tab>
							</tabset>
						</div>
						
						<div class="w100 c-both">
							<br/>
							<button ng-if="access.publish && mainType.heading !== 'services'" ng-confirm-click="Are you sure you want to proceed ? if Yes, your changes will be applied to the API Catalog" class="btn btn-success commonButtonsClass commonGreenButtonsClass" ng-click="publish(mainType.heading, endpoint)">
								Publish
							</button>
							<button ng-if="access.updateEndpointSchema && mainType.heading !== 'passThroughs'" class="btn btn-primary commonButtonsClass" ng-click="updateSchemas(mainType.heading, endpoint)">
								Save
							</button>
						</div>
					</div>
				</div>
				
				<div ng-if="grid.rows[mainType.heading].length === 0" class="modal-body">
					<alert type="warning">You don't have any {{mainType.heading}}. Click on add new
						{{mainType.heading==='services'?'Service':'Endpoint'}} to add a new entry.
					</alert>
				</div>
			</div>
		</tab>
	</tabset>


</section>


<script type="text/ng-template" id="addEditEndpoint.tmpl">
	<div ng-include="'modules/dashboard/endpoints/directives/addEditEndpoint.tmpl'"></div>
</script>
