<section>
	<div>
		<div>
			<button ng-if="access.kubernetes.cronJob.addItem" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="createItem('CronJob')">
				Add New CronJob
			</button>
			<button class="btn btn-primary f-right" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="listCronJobs(searchKeyword)">
				Search</span>
			</button>
			<input type="text" class="secret-search form-control f-right" ng-model="searchKeyword"
			       placeholder="Search ..."/>
			
		</div>
		<br>
		<div ng-if="cronJobs && cronJobs.items.length > 0 ">
			<ul class="blueListing">
				<li class="blueLi row-list active" ng-repeat="item in cronJobs.items"
				    ng-style="{'width': '99%'}">
					<div style="width: 20%;display: inline-block">
						<span class="">{{item.metadata.name}}</span>
					</div>
					
					<div style="width: 25%;display: inline-block">
						<span>UID: </span> <span class="">{{item.metadata.uid}}</span>
					</div>
					
					<div style="width: 20%;display: inline-block">
						<span>Created: </span> <span class="">{{item.metadata.creationTimestamp}}</span>
					</div>
					<div style="float: right">
						<a ng-click="inspectItem(item)"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="inspect cronJob" class="icon icon-info"></span></a>
					</div>
					<div style="float: right">
						<a ng-click="editItem(item, 'CronJob')"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="edit cronJob" class="icon icon-pencil2"></span></a>
					</div>
					<div ng-if="access.kubernetes.cronJob.delete" style="float: right">
						<a ng-click="deleteCronJob(item)" ng-confirm-click="Are you sure you want to delete this cronJob?"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="delete cronJob" class="icon icon-cross"></span></a>
					</div>
				</li>
				<li class="blueLi row-list" ng-show="cronJobs.metadata.continue" ng-style="{'width': '99%'}">
					<a href="" class="loadMore" ng-click="listCronJobs(searchKeyword)">Load More</a>
				</li>
			</ul>
		</div>
		<div ng-if="!cronJobs || cronJobs.items.length === 0">
			<br/>
			<br/>
			<alert type="warning">No CronJob found</alert>
		</div>
	</div>

</section>