<section>
	<div>
		<div>
			<button ng-if="access.kubernetes.service.addItem" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="createItem('Service')">
				Add New Service
			</button>
			<button class="btn btn-primary f-right" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="listServices(searchKeyword)">
				Search</span>
			</button>
			<input type="text" class="secret-search form-control f-right" ng-model="searchKeyword"
			       placeholder="Search ..."/>
			
		</div>
		<br>
		<div ng-if="services && services.items.length > 0 ">
			<ul class="blueListing">
				<li class="blueLi row-list active" ng-repeat="item in services.items"
				    ng-style="{'width': '99%'}">
					<div style="width: 55%;display: inline-block">
						<span class="">{{item.metadata.name}}</span>
					</div>
					
					<div style="width: 20%;display: inline-block">
						<span>Created: </span> <span class="">{{item.metadata.creationTimestamp}}</span>
					</div>
					<div style="float: right">
						<a ng-click="inspectItem(item)"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="inspect service" class="icon icon-info"></span></a>
					</div>
					<div style="float: right">
						<a ng-click="editItem(item, 'Service')"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="edit service" class="icon icon-pencil2"></span></a>
					</div>
					<div ng-if="access.kubernetes.service.delete" style="float: right">
						<a ng-click="deleteService(item)" ng-confirm-click="Are you sure you want to delete this Service?"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="delete service" class="icon icon-cross"></span></a>
					</div>
				</li>
				<li class="blueLi row-list" ng-show="services.metadata.continue" ng-style="{'width': '99%'}">
					<a href="" class="loadMore" ng-click="listServices(searchKeyword)">Load More</a>
				</li>
			</ul>
		</div>
		<div ng-if="!services || services.items.length === 0">
			<br/>
			<br/>
			<alert type="warning">No Services found</alert>
		</div>
	</div>

</section>