<section>
	<div>
		<div>
			<button class="btn btn-primary f-right" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="listNodes(searchKeyword)">
				Search</span>
			</button>
			<input type="text" class="secret-search form-control f-right" ng-model="searchKeyword"
			       placeholder="Search ..."/>
			
		</div>
		<br>
		<br>
		<div ng-if="nodes && nodes.items.length > 0 ">
			<ul class="blueListing">
				<li class="blueLi row-list active" ng-repeat="item in nodes.items"
				    ng-style="{'width': '99%'}">
					<div style="width: 20%;display: inline-block">
						<span class="">{{item.metadata.name}}</span>
					</div>
					
					<div style="width: 25%;display: inline-block">
						<span>UID: </span> <span class="">{{item.metadata.uid}}</span>
					</div>
					
					<div style="width: 20%;display: inline-block">
						<span>Created: </span> <span class="">{{item.metadata.creationTimestamp}}</span>
					</div>
					<div style="float: right">
						<a ng-click="inspectItem(item)"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="inspect node" class="icon icon-info"></span></a>
					</div>
				</li>
				<li class="blueLi row-list" ng-show="nodes.metadata.continue" ng-style="{'width': '99%'}">
					<a href="" class="loadMore" ng-click="listNodes(searchKeyword)">Load More</a>
				</li>
			</ul>
		</div>
		<div ng-if="!nodes || nodes.items.length === 0">
			<br/>
			<br/>
			<alert type="warning">No Nodes found</alert>
		</div>
	</div>

</section>