<section>
	<div >
		<div>
			<button ng-if="access.kubernetes.secret.add" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="addSecret()">
				Add New Secret Wizard
			</button>
			<button ng-if="access.kubernetes.secret.addItem" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="createItem('Secret')">
				Add New Secret
			</button>
			<button class="btn btn-primary f-right" type="button" aria-haspopup="true" aria-expanded="true"
			        ng-click="listSecrets(searchKeyword)">
				Search</span>
			</button>
			<input type="text" class="secret-search form-control f-right" ng-model="searchKeyword" placeholder="Search ..."/>
		</div>
		<br>
		<div ng-if="secrets && secrets.items.length > 0">
			<ul class="blueListing">
				<li class="blueLi row-list" id="secret-{{secret.metadata.uid}}" ng-repeat="secret in secrets.items"
				    ng-style="{'width': '99%'}">
					<div style="width: 20%;display: inline-block">
						<span class="">{{secret.metadata.name}}</span>
					</div>
					
					<div style="width: 25%;display: inline-block">
						<span>UID: </span> <span class="">{{secret.metadata.uid}}</span>
					</div>
					
					<div style="width: 25%;display: inline-block">
						<span>Type: </span> <span class="">{{secret.type}}</span>
					</div>
					
					<div style="width: 20%;display: inline-block">
						<span>Created: </span> <span class="">{{secret.metadata.creationTimestamp}}</span>
					</div>
					<div  ng-show="!secret.showInfo" style="float: right">
						<a ng-click="openSecret(secret)"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="more info" class="icon icon-circle-down"></span></a>
					</div>
					<div  ng-show="secret.showInfo" style="float: right">
						<a ng-click="openSecret(secret)"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="more info" class="icon icon-circle-up"></span></a>
					</div>
					<div ng-if="access.kubernetes.secret.delete" style="float: right">
						<a ng-click="deleteSecret(secret)" ng-confirm-click="Are you sure you want to delete this secret?"
						   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
								tooltip="delete Secret" class="icon icon-cross"></span></a>
					</div>
					<div ng-show="secret.showInfo">
						<fieldset>
							<legend>Data</legend>
							<div class="entryBoxes entryBoxesGrid">
								<div ng-repeat="(key, value) in secret.data">
									<div class="entryBox greyBox" style="width: 200px;">
									<b>{{key}}</b></div>
								</div>
							</div>
						</fieldset>
					</div>
				</li>
				<li class="blueLi row-list" ng-show="secrets.metadata.continue" ng-style="{'width': '99%'}">
					<a href="" class="loadMore" ng-click="listSecrets(searchKeyword)">Load More</a>
				</li>
			</ul>
		</div>
		<div ng-if="!secrets || secrets.items.length === 0">
			<br/>
			<br/>
			<alert type="warning">No secrets found</alert>
		</div>
	</div>
</section>

<script type="text/ng-template" id="newSecret.tmpl">
	<div class="form">
		<div class="modal-header">
			<h3 class="modal-title">Create New Secret</h3>
		</div>
		<div class="">
			<ngform></ngform>
		</div>
	</div>
</script>