<section ng-controller="dashboardAppCtrl" class="dashboardAppCtrl">
	
	<div>
		<br/>
		<alert type="warning">
			<p>Contact SOAJS Team if you want to turn on Analytics and reporting feature.</p>
		</alert>
		<br/>
	</div>
	
		<tabset>
			<tab heading="API Metircs">
			</tab>
			
			<tab heading="API Catalog" active="activateApiCatalogTab">
			</tab>
			
			<tab heading="API ACL" active="activateApiAclTab">
			</tab>
			
			<tab heading="API Monitor" active="activateApiMonitorTab">
			</tab>
			
			<tab heading="API Analytics" active="activateApiAnalyticsTab">
			</tab>
		</tabset>
</section>
