<section ng-controller="dashboardAppCtrl" class="dashboardAppCtrl">
	
	<div>
		<br/>
		<br/>
		<alert type="warning">
			<p>Contact SOAJS Team if you want to turn on Analytics and reporting feature.</p>
		</alert>
	</div>

</section>
