.tr-docker-wrapper,
.tr-kubernetes-wrapper,
.tr-google-wrapper,
.tr-aws-wrapper,
.tr-azure-wrapper {
    width: 30%;
    float: left;
    margin: 1%;
    border: solid 1px #cccccc;
    border-radius: 8px;
}

.tr-docker-wrapper:hover,
.tr-kubernetes-wrapper:hover,
.tr-google-wrapper:hover,
.tr-aws-wrapper:hover,
.tr-azure-wrapper:hover {
    border: solid 1px #bbbbbb;
    cursor: pointer;
    background-color: #efefef;
}

.tr-docker-wrapper td,
.tr-kubernetes-wrapper td,
.tr-google-wrapper td,
.tr-aws-wrapper td,
.tr-azure-wrapper td {
    width: 100%;
    display: block;
}

.tr-docker-wrapper #docker,
.tr-kubernetes-wrapper #kubernetes,
.tr-google-wrapper #google,
.tr-aws-wrapper #aws,
.tr-azure-wrapper #azure {
    padding: 10px;
    text-align: center;
}

.techTag {
    background: #DFF1F7;
    border: solid 1px #337ab7;
    padding: 2px 6px;
    border-radius: 5px;
}

table tr[class^="form-group tr-label"] {
    float: left;
    width: 47%;
}

table tr[class^="form-group tr-label"] td{
    width:97% !important;
    display: table;
}

table tr[class^="form-group tr-rLabel"] {
    float: left;
    width: 6%;
    color:red;
    margin-top:5%;
}

table tr[class^="form-group tr-labelGroup"] {
    float: none;
    width: 100%;
    clear: both;
    position:relative;
}

/* Azure Firewall */
#addFirewall .tr-region-wrapper td,
#editFirewall .tr-region-wrapper td{
    padding-bottom:30px;
}

#addFirewall table tr [class^="form-group tr-portGroup"] tr,
#editFirewall table tr [class^="form-group tr-portGroup"] tr{
    float: left;
    width: 24%;
    height: 70px;
}

#addFirewall table tr [class^="form-group tr-portGroup"] tr[class^="form-group tr-name"],
#editFirewall table tr [class^="form-group tr-portGroup"] tr[class^="form-group tr-name"]{
    float: left;
    width: 98%;
}
#addFirewall table tr [class^="form-group tr-portGroup"],
#editFirewall table tr [class^="form-group tr-portGroup"] {
    position: relative;
    display: table;
    width: 100%;
}
#addFirewall table tr [class^="form-group tr-portGroup"] tr[class^="form-group tr-rLabel"],
#editFirewall table tr [class^="form-group tr-portGroup"] tr[class^="form-group tr-rLabel"]{
    float: none;
    height: 24px;
    position: absolute;
    top: -5%;
    right: 1%;
    width:2%;
}
#addFirewall table tr [class^="form-group tr-portGroup"] tr td,
#editFirewall table tr [class^="form-group tr-portGroup"] tr td{
    width:97% !important;
    display: table;
}

/* AWS Firewall */
#addFirewall .tr-region-wrapper td,
#editFirewall .tr-region-wrapper td{
    padding-bottom:30px;
}

#addFirewall table tr [class^="form-group tr-awsPortGroup"] tr,
#editFirewall table tr [class^="form-group tr-awsPortGroup"] tr{
    float: left;
    width: 19%;
    height: 70px;
}

#addFirewall table tr [class^="form-group tr-awsPortGroup"],
#editFirewall table tr [class^="form-group tr-awsPortGroup"] {
    position: relative;
    display: table;
    width: 100%;
}
#addFirewall table tr [class^="form-group tr-awsPortGroup"] tr[class^="form-group tr-rLabel"],
#editFirewall table tr [class^="form-group tr-awsPortGroup"] tr[class^="form-group tr-rLabel"]{
    float: none;
    height: 24px;
    position: absolute;
    top: -5%;
    right: 1%;
    width:2%;
}
#addFirewall table tr [class^="form-group tr-awsPortGroup"] tr td,
#editFirewall table tr [class^="form-group tr-awsPortGroup"] tr td{
    width:97% !important;
    display: table;
}

td.readonly{
    opacity: 0.7;
    font-style:italic;
}

/* IP Rule */
#addLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRuleGroup"],
#modifyLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRuleGroup"]{
    position: relative;
    display: table;
    width: 100%;
}

#addLoadBalancer  #ipRules-wrapper tr[class^="form-group tr-ipRuleGroup"] tr[class^="form-group tr-rIpRule"],
#modifyLoadBalancer  #ipRules-wrapper  tr[class^="form-group tr-ipRuleGroup"] tr[class^="form-group tr-rIpRule"]{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

/* Address Pool */
#addLoadBalancer .form-group #addressPools-wrapper,
#modifyLoadBalancer .form-group #addressPools-wrapper{
    padding-top:30px;
}

#addLoadBalancer #addressPools-wrapper tr[class^="form-group tr-addressPoolGroup"],
#modifyLoadBalancer #addressPools-wrapper tr[class^="form-group tr-addressPoolGroup"]{
    position: relative;
    display: table;
    width: 100%;
}

#addLoadBalancer table tr [class^="form-group tr-addressPoolGroup"] tr[class^="form-group tr-rAddressPool"],
#modifyLoadBalancer table tr [class^="form-group tr-addressPoolGroup"] tr[class^="form-group tr-rAddressPool"]{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

/* IP Rule Port */
#addLoadBalancer .form-group #ipRulePortsGroup0-wrapper,
#modifyLoadBalancer .form-group #ipRulePortsGroup0-wrapper{
    padding-top:30px;
}

#addLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRulePortsGroup"],
#modifyLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRulePortsGroup"]{
    position: relative;
    display: table;
    width: 100%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-port"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-port"]{
    float: left;
    width: 24.5%;
    height: 70px;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portName"],
#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portAddressPoolName"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portName"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portAddressPoolName"]{
    width: 49%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portLoadDistribution"],
#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portEnableFloatingIP"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portEnableFloatingIP"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portLoadDistribution"]{
    width: 49%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeLabel"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeLabel"]{
    height: 12.5px;
    width: 100%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeLabel"] h4,
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeLabel"] h4{
    margin-bottom: 0px;
    margin-top: 20px;
}


#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeLabel"] hr,
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeLabel"] hr{
    margin-top: 5px;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbePort"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbePort"],

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeProtocol"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeProtocol"],

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeRequestPath"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeRequestPath"],

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portMaxFailureAttempts"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portMaxFailureAttempts"],

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeInterval"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portHealthProbeInterval"]{
    width: 19.66%;
    margin-top: 15px;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-port"] td,
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-port"] td{
    position: relative;
    display: table;
    width: 99%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-rIPRulePort"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-rIPRulePort"]{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

#addLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portAddButton"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRulePortsGroup"] tr[class^="form-group tr-portAddButton"]{
    float: right;
    margin-bottom: 0px;
    height: 30px;
}

/* NAT Rules */
#addLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRuleNATRuleGroup"],
#modifyLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRuleNATRuleGroup"]{
    position: relative;
    display: table;
    width: 100%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRule"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRule"]{
    float: left;
    width: 24%;
    height: 70px;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleName"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleName"]{
    width: 99%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleProtocol"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleProtocol"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleBackendPort"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleBackendPort"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleIdleTimeout"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleIdleTimeout"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleEnableFloatingIP"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleEnableFloatingIP"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleFrontendPort"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRuleFrontendPort"]{
    width: 19.66%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRule"] td,
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-natRule"] td{
    position: relative;
    display: table;
    width: 99%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-rIPRuleNatRule"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATRuleGroup"] tr[class^="form-group tr-rIPRuleNatRule"]{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}


/* NAT Pools */
#addLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRuleNATPoolGroup"],
#modifyLoadBalancer #ipRules-wrapper tr[class^="form-group tr-ipRuleNATPoolGroup"]{
    position: relative;
    display: table;
    width: 100%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPool"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPool"]{
    float: left;
    width: 24%;
    height: 70px;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolName"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolName"]{
    width: 99%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolProtocol"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolProtocol"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolBackendPort"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolBackendPort"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolIdleTimeout"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolIdleTimeout"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolEnableFloatingIP"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolEnableFloatingIP"],
#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolFrontendPort"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPoolFrontendPort"]{
    width: 19.66%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPool"] td,
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-natPool"] td{
    position: relative;
    display: table;
    width: 99%;
}

#addLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-rIPRuleNatPool"],
#modifyLoadBalancer table tr [class^="form-group tr-ipRuleNATPoolGroup"] tr[class^="form-group tr-rIPRuleNatPool"]{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

/* AWS Load Balancer Rules*/
#awsAddLoadBalancer #rules-wrapper tr[class^="form-group tr-ruleGroup"],
#awsModifyLoadBalancer #rules-wrapper tr[class^="form-group tr-ruleGroup"]{
    position: relative;
    display: table;
    width: 100%;
}

#awsAddLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-backendProtocol"],
#awsAddLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-backendPort"],
#awsAddLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-frontendProtocol"],
#awsAddLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-frontendPort"],

#awsModifyLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-backendProtocol"],
#awsModifyLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-backendPort"],
#awsModifyLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-frontendProtocol"],
#awsModifyLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-frontendPort"]{
    float: left;
    width: 24%;
    height: 70px;
    display: table;
    margin-right: 5px;
}

#awsAddLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-certificate"],
#awsModifyLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-certificate"]{
    width: 100%;
    display: table;
}

#awsAddLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-rRule"],
#awsModifyLoadBalancer table tr [class^="form-group tr-ruleGroup"] tr[class^="form-group tr-rRule"]{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

/* AWS Load Balancer Health Probe */
#awsAddLoadBalancer #healthProbe-wrapper #healthProbe,
#awsModifyLoadBalancer #healthProbe-wrapper #healthProbe{
    position: relative;
    display: table;
    width: 100%;
}

#awsAddLoadBalancer table tr [class^="form-group tr-healthProbe"],
#awsAddLoadBalancer table tr [class^="form-group tr-maxSuccessAttempts"],
#awsAddLoadBalancer table tr [class^="form-group tr-maxFailureAttempts"],

#awsModifyLoadBalancer table tr [class^="form-group tr-healthProbe"],
#awsModifyLoadBalancer table tr [class^="form-group tr-maxSuccessAttempts"],
#awsModifyLoadBalancer table tr [class^="form-group tr-maxFailureAttempts"]{
    float: left;
    width: 19%;
    height: 70px;
    display: table;
    margin-right: 5px;
}

#awsAddLoadBalancer table tr [class^="form-group tr-maxSuccessAttempts"],
#awsAddLoadBalancer table tr [class^="form-group tr-maxFailureAttempts"],
#awsModifyLoadBalancer table tr [class^="form-group tr-maxSuccessAttempts"],
#awsModifyLoadBalancer table tr [class^="form-group tr-maxFailureAttempts"]{
    float: left;
    width: 19%;
    height: 70px;
    display: table;
    margin-right: 5px;
}

/* AWS Certificates statuses */
.certificate_active {
    color: green;
}

.certificate_pending {
    color: #8a6d3b;
}

.certificate_inactive {
    color: #8a6d3b;
}

.certificate_expired {
    color: red;
}

.certificate_validation_timed_out {
    color: red;
}

.certificate_revoked {
    color: red;
}

.certificate_failed {
    color: red;
}
