.tr-docker-wrapper ,
.tr-kubernetes-wrapper ,
.tr-google-wrapper ,
.tr-aws-wrapper ,
.tr-azure-wrapper {
    width:30%;
    float:left;
    margin:1%;
    border: solid 1px #cccccc;
    border-radius: 8px;
}

.tr-docker-wrapper:hover ,
.tr-kubernetes-wrapper:hover ,
.tr-google-wrapper:hover,
.tr-aws-wrapper:hover,
.tr-azure-wrapper:hover {
    border: solid 1px #bbbbbb;
    cursor:pointer;
    background-color:#efefef;
}

.tr-docker-wrapper td,
.tr-kubernetes-wrapper td,
.tr-google-wrapper td,
.tr-aws-wrapper td,
.tr-azure-wrapper td{
    width:100%;
    display:block;
}

.tr-docker-wrapper #docker,
.tr-kubernetes-wrapper #kubernetes,
.tr-google-wrapper #google,
.tr-aws-wrapper #aws,
.tr-azure-wrapper #azure{
    padding:10px;
    text-align:center;
}

.techTag{
    background: #DFF1F7;
    border:solid 1px #337ab7;
    padding:2px 6px;
    border-radius: 5px;
}