<div>
	<br>
	<div ng-if="itemList.items && itemList.items.length > 0 ">
		<ul class="blueListing">
			<li class="blueLi row-list active" ng-repeat="item in itemList.items"
			    ng-style="{'width': '99%'}">
				<div style="width: 55%;display: inline-block">
					<span class="">{{item.metadata.name}}</span>
				</div>
				
				<div style="width: 20%;display: inline-block">
					<span>Created: </span> <span class="">{{item.metadata.creationTimestamp}}</span>
				</div>
				<div style="float: right">
					<a ng-click="inspectItem(item)"
					   ng-style="{'margin-top': '-19px', 'margin-right': '5px'}"><span
							tooltip="inspect service" class="icon icon-info"></span></a>
				</div>
			</li>
		</ul>
	</div>
	<div ng-if="!itemList.items || itemList.items.length === 0">
		<br/>
		<br/>
		<alert type="warning">No DaemonSets found</alert>
	</div>
</div>
