<div class="header closed">
	<table width="100%" class="servicesList">
		<tr>
			<td class="serviceList">
				<a href="" ng-click="showHide(service)">
					<span class="icon icon-{{service.icon || 'plus'}}"></span>
				</a>
				<span ><b style="margin:0;">{{service['name']|uppercase}}</b></span>
			</td>
			<td class="serviceList">
				<span ng-if="service.src['repo']"><b>{{translation.repository[LANG]}}</b>:<span>{{service.src['repo']}}</span></span>
			</td>
			<td class="iconList paddingIcons">
				<a href="" ng-click="openServiceView(service.name, service.type)" title="click to run Service Detail View" >
								<span><img style="height: 25px; width:25px;" src="modules/dashboard/marketplace/directives/images/service-detail.png">
								</span>
				</a>
			</td>
			<td class="iconList paddingConfig">
				<a href="" ng-click="openSettings(service.name, service.type)" class="icon icon-cog" title="click to run Service Configuration" >
								<span>
								</span>
				</a>
			</td>
			<td class="iconList paddingIcons" ng-if="!service.favorite">
				<a href=""   ng-click="setFavorite(service)" title="click to set as favorite" >
					<span class="icon icon-star-empty"></span>
				</a>
			</td>
			<td class="iconList paddingIcons" ng-if="service.favorite">
				<a href=""   ng-click="removeFavorite(service, service.type)" title="click to set as favorite" >
					<span class="icon icon-star-full"></span>
				</a>
			</td>
		</tr>
	</table>
</div>
<div class="entryAction">
</div>
<div class="body grid" style="display:none;">
	<br>
	<div ng-if="service.description">
		<em>description: {{service.description}}</em>
		<br>
		<br>
	</div>
	<tabset>
		<tab ng-repeat="oneList in service.versions" heading="Version {{oneList.version}}">
			<br />
			<div ng-if="oneList.lastSync" >
				<div>
					<span><b>Last Sync:</b></span>
					<span style="margin-right: 10px; margin-left: 10px;"><b>{{oneList.lastSync.branch}}</b> - {{oneList.lastSync.ts | date: 'd/M/yy h:mm a'}}</span>
					<b>Branches</b>:<span class="lastSyncBranches" tooltip="{{oneList.branches.join(', ')}}"  tooltip-placement="bottom" tooltip-class="customClass"> [ {{oneList.branches.join(', ')}} ] </span>
				</div>
			</div>
			<br />
		</tab>
	</tabset>
</div>