<section ng-controller="resourcesAppCtrl">
    <div ng-if="access.listResources">
        <button class="btn btn-primary f-left" ng-if="access.addResources" ng-click="addResource()">Add New Resource</button>
        <button class="btn btn-primary f-right" ng-if="access.listResources" ng-click="listResources()"><span class="icon icon-loop2"></span>Refresh</button>
        <br /><br />
        <div ng-if="context.resources && context.resources.list && context.resources.list.length > 0">
            <tabset>
                <tab ng-repeat="(type, categories) in context.resources.types" heading="{{type|capitalizeFirst}}">
                    <br />
                    <accordion close-others="false">
                        <accordion-group is-open="true" ng-repeat="(category, content) in categories">
                            <accordion-heading>{{category}}</accordion-heading>

	                        <div ng-repeat="resource in content" class="resource-box" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
	                            <div>
		                            <div class="leftActions">
			                            <a tooltip="Shared from the {{resource.created}} environment" ng-if="resource.shared" >
				                            <span class="icon icon-share2"></span>
			                            </a>

			                            <a ng-if="!resource.shared" disabled>
				                            <span class="icon icon-share2 grey"></span>
			                            </a>

			                            <a ng-if="resource.locked" >
				                            <span class="icon icon-lock" tooltip="Locked by {{resource.author}}"></span>
			                            </a>

			                            <a ng-if="!resource.locked" >
				                            <span class="icon icon-unlocked grey"></span>
			                            </a>
		                            </div>
		                            <label>{{resource.name}}</label>

		                            <div class="rightActions" style="display:inline;">
			                            <a href="" ng-if="access.updateResources && resource.allowEdit && resource.permission" class="btn btn-sm btn-default" ng-click="manageResource(resource, 'update')" ng-disabled="!resource.allowEdit">
				                            <span class="icon icon-cog"></span>Configure
			                            </a>

			                            <a href="" ng-if="access.updateResources && (!resource.allowEdit || !resource.permission)" class="btn btn-sm btn-default" ng-click="manageResource(resource, 'update')">
	                                        <span class="icon icon-search"></span>View
			                            </a>

			                            <a ng-show="resource.config" href="" ng-if="access.updateResources && !resource.plugged" ng-disabled="(!resource.permission || resource.sensitive) && !resource.allowEdit" class="btn btn-sm btn-default" ng-click="togglePlugResource(resource, true)">
				                            <span class="icon icon-power-cord"></span>Plug
			                            </a>

			                            <a ng-show="resource.config" href="" ng-if="access.updateResources && resource.plugged" ng-disabled="!resource.permission || resource.sensitive" class="btn btn-sm btn-success" ng-class="{disabled: !resource.allowEdit}" ng-click="togglePlugResource(resource, false)"><span class="icon icon-power-cord"></span>Unplug</a>

			                            <a href="" class="btn btn-sm btn-danger" ng-if="access.deleteResources && resource.permission && (resource.allowEdit || resource.status === 'error') && !resource.sensitive" ng-click="deleteResource(resource)" ng-confirm-click="Are you sure you want to delete this resource?">
				                            <span class="icon icon-cross" tooltip="Delete Resource"></span>Remove
			                            </a>
			                            <a href="" class="btn btn-sm btn-danger" ng-if="!access.deleteResources || !resource.permission || (!resource.allowEdit && resource.status !== 'error') || resource.sensitive" disabled>
				                            <span class="icon icon-cross" tooltip="Delete Resource"></span>Remove
			                            </a>
                                    </div>
                                </div>
		                        <div ng-if="resource.statusMsg">
			                        <br />
			                        <alert type="danger">
				                        <p ng-bind-html="resource.statusMsg|toTrustedHtml"></p>
			                        </alert>
		                        </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </tab>
            </tabset>
        </div>
    </div>
</section>

<script type="text/ng-template" id="addEditResource.tmpl">
	<div>
		<div class="modal-header custom-modal-header">
			<h3 class="modal-title">{{title}}
				<span ng-if="driverLogo" class="f-right">
					<img ng-src='{{driverLogo}}' alt='' style='max-height:46px'/>
				</span>
			</h3>
		</div>
	    <div class="modal-body">
		    <div ng-if="notsupported">
			    <alert type="danger">The selected Driver is not supported, please choose another.</alert>
		    </div>
		    <form ng-if="!notsupported" name="addEditResource" id="addEditResource" ng-submit="addEditResource.$valid && onSubmit()">
	            <div class="form" ng-include="'modules/dashboard/resources/directives/resource.tmpl'"></div>
		    </form>
	    </div>
	    <div class="modal-footer">

		    <span ng-if="options.allowEdit">
	            <button class="btn btn-success" ng-if="access.updateResources && !notsupported" ng-disabled="!valid || formData.invalidImageType" ng-click="save('save')">Save</button>
	        </span>
	        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="portConfiguration.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<alert type="danger">{{mainData.message}}</alert>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="closeModal()">Cancel</button>
	</div>
</script>
