.recipe-box {
    width: 100% !important;
    float: left !important;
    margin-right: 1% !important;
    text-align: left;
    min-height: 120px;
}

.recipe-box label {
    margin-bottom: 0;
}

.catalogIcon {
    margin: 1% !important;
    float: left;
}

.blueRecipeBox {
    border: solid 1px #337ab7 !important;
}

.blueBoxHeader {
    background-color: #DEF1F7 !important;
    border-bottom-color: #337ab7 !important;
}

.greenRecipeBox {
    border: solid 1px #3c763d !important;
}

.greenBoxHeader {
    background-color: #dff0d8 !important;
    border-bottom-color: #3c763d !important;
}

.searchBoxContainer {
    margin-right: 2%;
}

#page .secretsAppCtrl div.entryBoxes div.entryBox, .entryOneBox {
    height: 116px;
}

#page .secretsAppCtrl div.entryBoxes div.entryBox, .entryOneBox .body {

}

fieldset h4:not(alert h4) {
    background-color: #dff0d8 !important;
    /*color:white;*/
}

fieldset pre {
    background-color: white;
    /*color: rgb(49, 132, 149);*/
}

.secretsForm h2 {
    background-color: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.secretsForm table tr td {
    width: 98% !important;
    display: block;
    margin-right: 2%;
}

.secretsForm .tr-imagePrefix-wrapper,
.secretsForm .tr-imageName-wrapper,
.secretsForm .tr-imageTag-wrapper {
    float: left;
    width: 33%;
}

.secretsForm .tr-Label-wrapper {
    float: left;
    width: 25%;
}

.secretsForm .tr-repo-wrapper {
    float: left;
    width: 25%;
}

.secretsForm .tr-branch-wrapper {
    float: left;
    width: 25%;
}

.catalogRecipeForm .tr-required-wrapper {
    float: left;
    width: 25%;
}

.secretsForm .tr-customLabel-wrapper {
    float: left;
    width: 20%;
}

.secretsForm .tr-customRepo-wrapper {
    float: left;
    width: 20%;
}

.secretsForm .tr-customType-wrapper {
    float: left;
    width: 20%;
}

.secretsForm .tr-customBranch-wrapper {
    float: left;
    width: 20%;
}

.secretsForm .tr-customRequired-wrapper {
    float: left;
    width: 20%;
}

.secretsForm tr[class^="form-group tr-labelGroup"],
.secretsForm tr[class^="form-group tr-volumeGroup"] {
    position: relative;
}

.secretsForm tr[class^="form-group tr-rLabel"] {
    color: #a94442;
    float: right;
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.secretsForm tr[class^="form-group tr-rVolume"] {
    color: #a94442;
    float: right;
    top: 35px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.secretsForm tr[class^="form-group tr-envVarRemove"],
.secretsForm tr[class^="form-group tr-rPort"] {
    color: #a94442;
    float: right;
    position: absolute;
    right: 60px;
    cursor: pointer;
}

.secretsForm tr[class^="form-group tr-label"],
.secretsForm tr[class^="form-group tr-userInputVar"],
.secretsForm tr[class^="form-group tr-staticVar"],
.secretsForm tr[class^="form-group tr-computedVar"],
.secretsForm tr[class^="form-group tr-docker"],
.secretsForm tr[class^="form-group tr-port"] {
    float: left;
    width: 100%;
}

.secretsForm tr[class^="form-group tr-userInputVar"] td,
.secretsForm tr[class^="form-group tr-staticVar"] td,
.secretsForm tr[class^="form-group tr-computedVar"] td,
.secretsForm tr[class^="form-group tr-port"] td {
    width: 99% !important;
}

.secretsForm tr[class^="form-group tr-labelName"],
.secretsForm tr[class^="form-group tr-labelValue"],
.secretsForm tr[class^="form-group tr-envVarName"],
.secretsForm tr[class^="form-group tr-envVarType"],
.secretsForm tr[class^="form-group tr-volumeGroup"],
.secretsForm .tr-workingDir-wrapper,
.secretsForm .tr-network-wrapper,
.secretsForm .tr-maxAttempts-wrapper,
.secretsForm .tr-condition-wrapper,
.secretsForm .tr-imagePullPolicy-wrapper,
.secretsForm .tr-imageOverride-wrapper {
    float: left;
    width: 50%;
}

.ace_editor{
    height: 200px;
}

.form .modal-header {
    background-color: #5BC0DE;
    color: white;
}

.ace_text-input {
    position: absolute !important
}

#configButton-wrapper .toggleSwitch {
    margin-left: 7px;
}

.secret-search {
    width: 16%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.loadMore {
    width: 99% !important;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

