
<div class="form">
	<div class="modal-header">
		<h3 class="modal-title">Azure Portal Sign On</h3>
	</div>
	<div class="modal-body">
		<alert type="danger">
			<h3 style="margin-top:5px;">Warning</h3>
			<hr>
			Login with azure was not successful at this time, try again later.
			For Further information
			<a href="https://soajsorg.atlassian.net/wiki/x/NgDDW" target="_blank">
				Click here
			</a>
		</alert>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" type="button" ng-click="cancel()">close</button>
	</div>
</div>