<section ng-controller="cdAppCtrl">
	<h2>Audit Logs {{logsCount}}</h2>
	<br/>
	<input ng-show="logs && logs.length > 0" type="button" class="btn btn-sm btn-primary" ng-confirm-click="Clicking this button means you have read all the ledger entries. Are you sure you want to proceed?" ng-click="readAllLogs()" value="Mark All as Read"/>
	<a href="" class="btn btn-sm btn-primary f-right" ng-click="getOtherLogs()">
		<span class="icon icon-loop2"></span> Refresh
	</a>
	<br/><br/>
	<div class="grid" ng-show="logs && logs.length > 0">
		<div class="table">
			<div ng-repeat="oneEntry in logs" ng-class="{'first': $first, 'last': $last, 'notread' : !oneEntry.read, 'auditEntry2': oneEntry.open}" ng-class-odd="'odd'" ng-class-even="'even'" class="row w100 c-both auditEntry">
				<div ng-click="openCloseEntry(oneEntry)" class="content">
					<a href="" ng-click="readOneLog(oneEntry)" tooltip="Mark as Read" class="mr-10 readBox">
						<span class="icon icon-drawer2"></span>
					</a>
					<label class="capitalize" ng-class="{'red': (oneEntry.type === 'error'), 'blue': (oneEntry.type === 'debug'), 'green': (oneEntry.type === 'info') }">{{oneEntry.type}}</label><br />
					<p>{{oneEntry.message}}</p>
				</div>
				<div class="t-right"><em class="fieldMsg">{{oneEntry.ts|fulldate}}</em></div>
			</div>
		</div>
		
		<div class="text-center"><br />
			<input type="button" class="btn btn-sm btn-warning" value="Load More"  ng-click="getOtherLogs(true)" ng-show="originalClount > logs.length"/>
		</div>
		
	</div>
	
	<div ng-show="!logs || logs.length === 0">
		<alert type="info">
			No Message available at this moment.
		</alert>
	</div>
</section>