<section ng-controller="infraLoadBalancerCtrl">
	<div ng-switch="currentInfraName">
		<div ng-switch-when="azure">
			<div ng-include="'modules/dashboard/infra/_drivers/azure/directives/loadBalancer.tmpl'"></div>
		</div>
		<div ng-switch-when="aws">
			<div ng-include="'modules/dashboard/infra/_drivers/aws/directives/loadBalancer.tmpl'"></div>
		</div>
	</div>
</section>
