<section ng-controller="infraLoadBalancerCtrl">
	<div class="w-100 c-both">
		<div class="f-left w20">
			<a class="btn btn-sm btn-primary" ng-if="access.addLoadBalancer" ng-click="addLoadBalancer()">
				<span class="icon icon-plus"></span> Add New Load Balancer
			</a>
		</div>
		
		<div class="f-right w30">
			<div class="searchBoxContainer">
			<button class="btn btn-success f-right" ng-click="listLoadBalancers(selectedGroup)">
				Refresh&nbsp;&nbsp;<span class="icon icon-loop2"></span>
			</button>
		</div>

		<div ng-if="infraGroups.length > 0">
			Group:
			<select style="display:inline" class="form-control w50" ng-model="selectedGroup" ng-change="listLoadBalancers(selectedGroup)" ng-options="group as group.name group by group.region for group in infraGroups"></select>
		</div>
		</div>
		<br /><br />
	</div>
	
	<div ng-if="access.list">
		<alert type="warning" ng-if="!infraLoadBalancers || infraLoadBalancers.length === 0">
			No Load Balancers found in this Group.
		</alert>
		<div ng-if="infraLoadBalancers && infraLoadBalancers.length > 0" class="entryBoxes">
			<br />
			
			<accordion close-others="false">
				<accordion-group ng-repeat="oneLoadBalancer in infraLoadBalancers" is-open="oneLoadBalancer.open">
					<accordion-heading>
						{{oneLoadBalancer.name}}
					</accordion-heading>
					<div class="w-100 c-both t-right">
							<a href="" ng-click="editNetwork(oneLoadBalancer)" class="btn btn-sm btn-primary">
								<span class="icon icon-pencil2"></span>&nbsp;Modify
							</a>&nbsp;&nbsp;
							<a class="btn btn-sm btn-danger" href="" ng-click="deleteNetwork(oneLoadBalancer)" ng-confirm-click="Are you sure you want to delete this network ?">
								<span class="icon icon-cross"></span>&nbsp;Delete
							</a>
					</div>
					
					<div ng-if="oneLoadBalancer.addressPools && oneLoadBalancer.addressPools.length > 0">
						<fieldset>
							<legend>Address Pools</legend>
							<div class="entryBoxes entryBoxesGrid">
								<div ng-repeat="oneAddressPool in oneLoadBalancer.addressPools">
									<div class="entryBox blueBox" style="padding: 3px 5px;">
										<span class="icon icon-drawer"></span>&nbsp;<b>{{oneAddressPool.name}}</b>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					
					<div ng-if="oneLoadBalancer.rules && oneLoadBalancer.rules.length > 0">
						<h3>Rules</h3>
						<accordion close-others="false">
							<accordion-group ng-repeat="oneRule in oneLoadBalancer.rules" is-open="oneRule.open">
								<accordion-heading>{{oneRule.name}}</accordion-heading>
								
								<div ng-if="oneRule.config">
									<fieldset>
										<legend>
											<span class="icon icon-cog"></span> Configuration
										</legend>
										
										<div class="grid">
											<table width="100%">
												<tbody>
													<tr class="odd" ng-if="oneRule.config.privateIpAddress">
														<td>Address</td>
														<td>{{oneRule.config.privateIpAddress}}</td>
													</tr>
													<tr class="even" ng-if="oneRule.config.privateIPAllocationMethod">
														<td>Allocation Method</td>
														<td>{{oneRule.config.privateIPAllocationMethod}}</td>
													</tr>
													<tr class="odd">
														<td>Public</td>
														<td>{{(oneRule.config.isPublic) ? "YES": "NO"}}</td>
													</tr>
													<tr class="even" ng-if="oneRule.config.subnet">
														<td>Virtual Machine</td>
														<td>
														<span ng-if="oneRule.config.subnet.envCode">
															<a href="#/environments-platforms?envCode={{oneRule.config.subnet.envCode}}&tab=vm&layer={{oneRule.config.subnet.name}}">
															<span class="icon icon-stack"></span>&nbsp;<b>{{oneRule.config.subnet.name}}</b>&nbsp;
														</a>
														</span>
															<span ng-if="!oneRule.config.subnet.envCode">
															<b>
																<span class="icon icon-stack"></span>&nbsp;<b>{{oneRule.config.subnet.name}}</b>&nbsp;
															</b>
														</span>
														</td>
													</tr>
													<tr class="even" ng-if="oneRule.config.publicIpAddress">
														<td>Public IP Address</td>
														<td>
															<a href="#/infra-ip?group={{oneRule.config.publicIpAddress.group}}">
																<span class="icon icon-power-cord"></span>&nbsp;<b>{{oneRule.config.publicIpAddress.name}}</b>&nbsp;
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
								
								<div ng-if="oneRule.ports && oneRule.ports.length > 0">
									<fieldset>
										<legend>Ports</legend>
										<div class="grid">
											<table width="100%">
												<thead>
													<tr>
														<th width="12.5%">Address Pool</th>
														<th width="12.5%">Load Distribution</th>
														<th width="12.5%">Name</th>
														<th width="12.5%">Protocol</th>
														<th width="12.5%">Source Port</th>
														<th width="12.5%">Destination Port</th>
														<th width="12.5%">Timeout (minutes)</th>
														<th width="12.5%">Floating Point</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="onePort in oneRule.ports" ng-class-even="'even'" ng-class-odd="'odd'">
														<td>{{onePort.addressPoolName}}</td>
														<td>{{onePort.loadDistribution}}</td>
														<td>{{onePort.name}}</td>
														<td class="text-uppercase">{{onePort.protocol}}</td>
														<td>{{onePort.published}}</td>
														<td>{{onePort.target}}</td>
														<td>{{onePort.idleTimeoutInMinutes}}</td>
														<td>{{(onePort.enableFloatingIP) ? "YES" : "NO"}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
								
								<div ng-if="oneRule.natRules && oneRule.natRules.length > 0">
									<fieldset>
										<legend>NAT Rules</legend>
										<div class="grid">
											<table width="100%">
												<thead>
													<tr>
														<th width="37.5%">Name</th>
														<th width="12.5%">Protocol</th>
														<th width="12.5%">Source Port</th>
														<th width="12.5%">Destination Port</th>
														<th width="12.5%">Timeout (minutes)</th>
														<th width="12.5%">Floating Point</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="onePort in oneRule.natRules" ng-class-even="'even'" ng-class-odd="'odd'">
														<td>{{onePort.name}}</td>
														<td class="text-uppercase">{{onePort.protocol}}</td>
														<td>{{onePort.frontendPort}}</td>
														<td>{{onePort.backendPort}}</td>
														<td>{{onePort.idleTimeoutInMinutes}}</td>
														<td>{{(onePort.enableFloatingIP) ? "YES" : "NO"}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
								
								<div ng-if="oneRule.natPools && oneRule.natPools.length > 0">
									<fieldset>
										<legend>NAT Pools</legend>
										<div class="grid">
											<table width="100%">
												<thead>
													<tr>
														<th width="37.5%">Name</th>
														<th width="12.5%">Protocol</th>
														<th width="12.5%">Source Port</th>
														<th width="12.5%">Destination Port</th>
														<th width="12.5%">Timeout (minutes)</th>
														<th width="12.5%">Floating Point</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="onePort in oneRule.natPools" ng-class-even="'even'" ng-class-odd="'odd'">
														<td>{{onePort.name}}</td>
														<td class="text-uppercase">{{onePort.protocol}}</td>
														<td>{{onePort.frontendPortRangeStart}} - {{onePort.frontendPortRangeEnd}}</td>
														<td>{{onePort.backendPort}}</td>
														<td>{{onePort.idleTimeoutInMinutes}}</td>
														<td>{{(onePort.enableFloatingIP) ? "YES" : "NO"}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</accordion-group>
						</accordion>
					</div>
					
				</accordion-group>
			</accordion>
		</div>
	</div>
</section>
