<div class="modal-body">
	<div class="form">
		<div ng-show="alerts.length >0">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"
			       dismiss-on-timeout="5000">
				{{alert.msg}}
			</alert>
			<br>
		</div>
		<form name="configureRepo" id="configureRepo">
			<div class="form-group">
				<div class="configCd entryBoxes entryBoxesGrid">
					<div class="modal-header cdFormHeader">
						<h3 class="modal-title capitalize">Configure {{service.name}} Deployment</h3>
					</div>
					<div class="body">
						<div class="form-g">
							<fieldset>
								<legend>Deployment Options</legend>
								<div>
									<label>Catalog Recipe</label><img class="loadingImage" ng-src={{imagePath}}
									                                  ng-if="loadingRecipes">
									<select class="form-control" ng-if="!loadingRecipes" ng-required="true"
									        ng-options="recipe as recipe.name group by recipe.type for recipe in catalogRecipe"
									        ng-model="configuration.recipe.value"
									        ng-change="injectCatalogEntries(configuration.recipe.value)"></select>
									<label class="fieldMsg">Choose a catalog recipe and define the deployment strategy
										in this
										environment.</label>
									<br>
								</div>
								<div ng-if="configuration.recipe.id && showBranches">
									<label>Branch:</label>
									<select class="form-control"
									        data-ng-model="configuration.src.branch"
									        ng-change="updateGitBranch(configuration.src.branch)"
									        ng-required="showBranches">
										<option ng-repeat="myBranch in allowedBranches" value="{{myBranch}}">
											{{myBranch}}
										</option>
									</select>
									<br/><br/>
								</div>
								<div ng-if="configuration.recipe.id && showBranches">
									<label style="width: 27%">Commit:</label>
									<a style="cursor: pointer;" ng-click="updateGitBranch(configuration.src.branch)"><i class="icon icon-loop2"></i></a>
									<input type="text" class="form-control" style="margin-left: 5px;"
									       ng-model="configuration.src.commit"
									       ng-required="showBranches"/>
									<label class="fieldMsg">Specify the commit. Click refresh icon to get the latest commit.</label>
									<br>
									<br/>
								</div>
								<div ng-if="configuration.recipe.id && showTags">
									<label>Tag:</label>
									<select class="form-control"
									        data-ng-model="configuration.src.tag"
									        ng-change="getRepo(configuration.src)"
									        ng-required="showTags">
										<option ng-repeat="myTag in allowedTags" value="{{myTag}}">
											{{myTag}}
										</option>
									</select>
									<br/><br/>
								</div>
								<div ng-if="configuration.recipe.id">
									<label>Memory Limit Per Instance (in MBytes)</label>
									<input type="string" class="form-control"
									       ng-model="configuration.settings.memory"
									       ng-required="true"/>
									<label class="fieldMsg">
										Specify the Maximum memory limit that should be provided for this
										deployment.<br/>
										Note: This is the maximum allowed memory only, a default 128Mi minimum memory
										will be added.<br/>
										Example: You can set it to 1024Mi or 1Gi.
										Click <a
											href=https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-memory"
											target="_blank">here </a>for
										more information. You can use 0 if you want the memory limits (minimum and
										maximum) to be elastic.
									</label>
									<br/>
								</div>
								<div ng-if="configuration.recipe.id">
									<label>CPU Limit Per Instance</label>
									<input type="text" class="form-control" placeholder="100m or 0.1"
									       ng-model="configuration.settings.cpu"
									       ng-required="autoScale"/>
									<label class="fieldMsg">Specify the Maximum cpu limit (in millicpu or decimal point)
										that should be provided
										when running your service/daemon. Click
										<a href="https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-cpu"
										   target="_blank">here </a>for
										more information.</label>
									<br/>
								</div>
								<div ng-show="configuration.recipe.image">
									<label>Image Prefix</label>
									<input type="text" ng-disabled="!showImages" class="form-control"
									       ng-model="configuration.recipe.image.prefix"/>
									<div class="fieldMsg hint">Override the image prefix if you want</div>
									<!--<div ng-if="configuration.recipe.image.prefix && deployedImage && configuration.recipe.image.prefix !== deployedImage.prefix"-->
									<div ng-if="configuration.recipe.value.recipe.deployOptions.image && configuration.recipe.value.recipe.deployOptions.image.prefix && configuration.recipe.image && configuration.recipe.value.recipe.deployOptions.image.prefix !== configuration.recipe.image.prefix"
									     class="warningFieldMsg hint">Mismatch detected between Recipe and
										Deployment. Recipe Image Prefix: <b>{{configuration.recipe.value.recipe.deployOptions.image.prefix}}</b>
									</div>
									<br/>
								</div>
								<div ng-show="configuration.recipe.image">
									<label>Image Name</label>
									<input type="text" class="form-control" ng-disabled="!showImages"
									       ng-model="configuration.recipe.image.name"/>
									<div class="fieldMsg hint">Override the image name if you want</div>
									<!--<div ng-if="configuration.recipe.image.name && deployedImage && configuration.recipe.image.name !== deployedImage.name"-->
									<div ng-if="configuration.recipe.value.recipe.deployOptions.image && configuration.recipe.value.recipe.deployOptions.image.name && configuration.recipe.image && configuration.recipe.value.recipe.deployOptions.image.name !== configuration.recipe.image.name"
									     class="warningFieldMsg hint">Mismatch detected between Recipe and Deployment.
										Recipe Image Name: <b>{{configuration.recipe.value.recipe.deployOptions.image.name}}</b>
									</div>
									<br/>
								</div>
								<div ng-show="configuration.recipe.image">
									<label>Image Tag</label>
									<input type="text" class="form-control" ng-disabled="!showImages"
									       ng-model="configuration.recipe.image.tag"/>
									<div class="fieldMsg hint">Override the image tag if you want</div>
									<!--<div ng-if="configuration.recipe.image.tag && deployedImage && configuration.recipe.image.tag !== deployedImage.tag"-->
									<div ng-if="configuration.recipe.value.recipe.deployOptions.image && configuration.recipe.value.recipe.deployOptions.image.tag && configuration.recipe.image && configuration.recipe.value.recipe.deployOptions.image.tag !== configuration.recipe.image.tag"
									     class="warningFieldMsg hint">Mismatch detected between Recipe and Deployment.
										Recipe Image Tag: <b>{{configuration.recipe.value.recipe.deployOptions.image.tag}}</b>
									</div>
									<br/>
								</div>
								<div ng-show="privateImage">
									<div>
										<div>
											<label>Image Registry Secret</label>
											<select class="form-control"
											        ng-model="configuration.recipe.image.registrySecret"
											        ng-options="secret as secret for secret in secrets.registry">
											</select>
											<label class="fieldMsg">Choose a Registry Secret to use when deploying this
												resource. Registry Secrets are of type
												<b>kubernetes.io/dockercfg</b></label>
										</div>
										<alert type="warning"
										       ng-show="!secrets.registry && registrySecrets.length === 0"
										       class="c-both">
											<p>
												No Registry Secrets found that can be used to deploy this resource , <a
													href="" ng-click="gotoSecrets();">Click Here</a> to create a new
												Registry Secret.
											</p>
										</alert>
										<br/>
										<div/>
									</div>
								</div>
								<div ng-if="userInputVariable && userInputVariable.length > 0">
									<div ng-repeat="userInput in userInputVariable">
										<label>{{userInput.label || userInput.name}}</label>
										<input type="text" class="form-control"
										       ng-model="configuration.recipe.env[userInput.name]"
										       value="{{userInput.value}}"
										       ng-required="input.required"/>
										<div class="fieldMsg hint">{{userInput.fieldMsg}}</div>
										<br/>
									</div>
								</div>
								<div ng-if="secretVariable && secretVariable.length > 0">
									<div ng-repeat="userInput in secretVariable">
										<fieldset>
											<legend>{{userInput.name}}</legend>
											<label>{{userInput.fields[0].label || userInput.fields[0].name}}</label>
											<select class="form-control"
											        ng-model="configuration.recipe.env[userInput.name].name"
											        ng-options="secret as secret for secret in userInput.fields[0].value"
											        ng-required="userInput.fields[0].required">
											</select>
											<div class="fieldMsg hint">{{userInput.fields[0].fieldMsg}}</div>
											<label>{{userInput.fields[1].label || userInput.fields[1].name}}</label>
											<input type="text" class="form-control"
											       ng-model="configuration.recipe.env[userInput.name].key"
											       ng-value="userInput.fields[1].value"
											       ng-required="userInput.fields[1].required"/>
											<div class="fieldMsg hint">{{userInput.fields[1].fieldMsg}}</div>
											<br/>
										</fieldset>
									</div>
								</div>
								<fieldset class="custom-fieldset" ng-if="showSourceConfig">
									<legend>{{configuration.recipe.sourceCode.label}}</legend>
									<div>
										<label>Catalog</label>
										<select class="form-control" ng-required="requiredSourceConfig"
										        ng-options="catalog.name as catalog.name for catalog in configurationCatalogs"
										        ng-model="configuration.recipe.sourceCode.catalog"
										        ng-change="fetchConfigVersion(configuration.recipe.sourceCode.catalog)"
										        ng-disabled="!editSourceConfig"></select>
										<label class="fieldMsg">Choose your Config Catalog</label>
										<br>
									</div>
									
									<div ng-if="configuration.recipe.sourceCode.catalog">
										<label>Version</label>
										<select class="form-control" ng-required="requiredSourceConfig"
										        ng-options="v.version as v.version for v in configurationCatalogsVersions"
										        ng-change="fetchConfigBranchesTags(configuration.recipe.sourceCode.version)"
										        ng-model="configuration.recipe.sourceCode.version"
										        ng-disabled="!editSourceConfig"></select>
										<label class="fieldMsg">Choose your version</label>
										<br>
									</div>
									
									<div ng-if="configuration.recipe.sourceCode.version">
										<div ng-if="configurationCatalogsTags">
											
											<label>Tags</label>
											<select class="form-control" ng-required="requiredSourceConfig"
											        ng-options="tag as tag for tag in configurationCatalogsTags"
											        ng-model="configuration.recipe.sourceCode.tag"
											        ng-disabled="!editSourceConfig"></select>
											<label class="fieldMsg">Choose your Tag</label>
											<br>
										</div>
										<div ng-if="configurationCatalogsBranches">
											<label>Branch</label>
											<select class="form-control" ng-required="requiredSourceConfig"
											        ng-options="branch as branch for branch in configurationCatalogsBranches"
											        ng-change="updateGitConfigBranch(configuration.src.branch)"
											        ng-model="configuration.recipe.sourceCode.branch"
											        ng-disabled="!editSourceConfig"></select>
											<label class="fieldMsg">Choose your Branch</label>
											<br>
										</div>
									</div>
								</fieldset>
								<fieldset ng-if="showPorts">
									<legend> Ports</legend>
									<br>
									<div ng-if="ports"
									     ng-repeat="port in ports track by port.target">
										<div ng-if="!port.isPublished">
											<label>{{port.name}}</label>
											<input type="number"
											       class="form-control"
											       ng-value="port.target" ng-disabled="true"/>
											
											<br>
										</div>
									</div>
									<fieldset ng-if="isPublished">
										<legend>Published Ports</legend>
										<div>
											<label class="f-left">Load Balancer</label>
											<label class="toggleSwitch f-left"><input type="checkbox"
											                                          ng-model="loadBalancer"
											                                          ng-value="loadBalancer"
											                                          ng-change=appendExposedPortType(loadBalancer)
											                                          ng-disabled=false><span
													class="buttonSlider round"></span></label>
											<br/><br/>
										</div>
										<br>
										<fieldset>
											<legend>External Traffic Policy</legend>
											<b style="">Local</b>
											<label class="toggleSwitch"style ="margin-bottom: 3px;"><input type="checkbox"
											                                          ng-model="externalTrafficPolicy"
											                                          ng-value="externalTrafficPolicy"
											                                          ng-change=appendExternalTrafficPolicy(externalTrafficPolicy)
											                                          ng-disabled=false><span
													class="buttonSlider round"></span></label>
											<b style="margin-left: 10px;">Cluster</b>
											<br/><br/>
										</fieldset>
										<br>
										<div ng-if="!loadBalancer"
										     ng-repeat="exposedPorts in ports track by exposedPorts.target">
											<fieldset ng-if="exposedPorts.isPublished">
												<legend class="capitalize">{{exposedPorts.name}} :
													{{exposedPorts.target}}
												</legend>
												<div>
													<label>Published Port</label>
													<input type="number" class="form-control"
													       ng-model="exposedPorts.published" ng-disabled="false"
													       ng-change="addToCustomPorts(exposedPorts)" min="30000"
													       max="32767"
													       ng-required="true"/>
													<label class="fieldMsg">Detected Published Port
														<b>{{exposedPorts.name}}</b> with internal value <b>{{exposedPorts.target}}</b>.
														Enter a value if you want to expose this resource to a specific
														port; Port values are limited to a range between 30000-32767.
													</label>
												</div>
											</fieldset>
											<br>
										</div>
										<div ng-if="loadBalancer"
										     ng-repeat="exposedPorts in ports track by exposedPorts.target">
											<div ng-if="exposedPorts.isPublished">
												<label>{{exposedPorts.name}}</label>
												<input type="number"
												       class="form-control"
												       style="width: 64%!important;"
												       ng-value="exposedPorts.target" ng-disabled="true"/>
												<br>
											</div>
											<br>
										</div>
									</fieldset>
								</fieldset>
								<fieldset ng-if="configuration.recipe.value">
									<legend>Readiness Probe</legend>
									<br>
									<div ui-ace="aceEditorConfig.readiness" style="height: 200px" ng-required="true"></div>
									<div class="fieldMsg hint" ng-bind-html="'Configure Readiness Probe'"></div>
								</fieldset>
								<fieldset ng-if="configuration.recipe.value">
									<legend>Liveness Probe</legend>
									<br>
									<div ui-ace="aceEditorConfig.liveness" style="height: 200px" ng-required="false"></div>
									<div class="fieldMsg hint" ng-bind-html="'Configure Liveness Probe'"></div>
								</fieldset>
								<div ng-show="configuration.recipe.value">
									<fieldset>
										<legend>Environment Scaling</legend>
										<div>
											<label>Deployment Mode</label>
											<select class="form-control"
											        ng-disabled="configuration.settings.mode && isDeployed"
											        ng-required="true"
											        ng-options="mode for mode in deploymentModes"
											        ng-model="configuration.settings.mode"></select>
											<label class="fieldMsg">Daemonset mode deploys one replica of the
												service on
												each node.</label>
											<label class="fieldMsg">Deployment mode deploys the specified number of
												replicas
												based on the
												availability of resources.</label>
											<br>
										</div>
										
										<alert type="info"
										       ng-if="configuration.settings.mode === 'Daemonset' || configuration.settings.mode === 'CronJob'">
											Daemonsets/CronJob do not support autoscaling.
										</alert>
										<fieldset
												ng-if="configuration.settings.mode === 'Deployment' && !isDeployed">
											<fieldset
													ng-if="!autoScale && configuration.settings.mode == 'Deployment'">
												<legend>Replication</legend>
												<label>Replica Count</label>
												<input type="number" class="form-control"
												       ng-model="configuration.settings.replicas" ng-required="true"
												       style="margin-right:0"/>
												<label class="fieldMsg">Enter a Replica Count that is greater or
													equal to
													1</label>
												<br>
											</fieldset>
										</fieldset>
										<fieldset
												ng-if="configuration.settings.mode === 'CronJob' && !isDeployed">
											<fieldset
													ng-if="!autoScale && configuration.settings.mode === 'CronJob'">
												<legend>Cron Task Configuration</legend>
												<label>Schedule</label>
												<input type="string" class="form-control"
												       ng-model="configuration.settings.schedule" ng-required="configuration.settings.mode == 'CronJob'"
												       style="margin-right:0"/>
												<label class="fieldMsg">A CronJob takes a <a
														href="https://en.wikipedia.org/wiki/Cron"
														target="_blank">Cron </a> format string, such as 0 * * * * or @hourly, as schedule time of its jobs to be created and executed.</label>
												<br>
												<label>Concurrency Policy</label>
												<select class="form-control"
												        style="width: 64%!important;"
												        ng-disabled="configuration.settings.concurrencyPolicy && isDeployed"
												        ng-required="true"
												        ng-options="policy for policy in concurrencyPolicy"
												        ng-model="configuration.settings.concurrencyPolicy"></select>
												<label class="fieldMsg">A Concurrency Policy specifies how to treat concurrent executions of a job that is created by this cron job.</label>
												<br>
												<label>Restart Policy</label>
												<select class="form-control"
												        style="width: 64%!important;"
												        ng-disabled="configuration.settings.restartPolicy && isDeployed"
												        ng-required="true"
												        ng-options="res for res in restartPolicy"
												        ng-model="configuration.settings.restartPolicy"></select>
												<br>
											</fieldset>
										</fieldset>
									</fieldset>
									<fieldset>
										<legend>Continuous Delivery</legend>
										<div ng-if="showBranches" class="halfPage branchLabel">
											<label>Branch:</label>&nbsp;{{configuration.src.branch}}
										</div>
										<div ng-if="showTags" class="halfPage branchLabel">
											<label>Branch:</label>&nbsp;{{configuration.src.tag}}
										</div>
										<div class="halfPage branchLabel">
											<label>Strategy:</label>
											<select class="form-control" ng-required="true"
											        data-ng-model="configuration.cd.strategy">
												<option value="notify">notify</option>
												<option value="update">update</option>
											</select>
										</div>
									</fieldset>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-show="access.marketplace.configure" ng-disabled="configureRepo.$invalid" class="btn btn-success"
		        ng-click="configure(service, version)">
			Save
		</button>
		<button ng-show="!isDeployed && access.marketplace.build" ng-disabled="configureRepo.$invalid"
		        class="btn btn-primary"
		        ng-click="build(service, version)">
			First Time Deploy
		</button>
		<button ng-show="isDeployed && access.marketplace.build" ng-disabled="configureRepo.$invalid"
		        class="btn btn-info"
		        ng-click="build(service, version)">
			Rebuild Service
		</button>
		<button class="btn btn-danger" ng-click="cancel()">Close</button>
	</div>
</div>