<section ng-controller="contentBuilderCtrl">
	<tabset>
		<tab heading="Active">
			<div ng-controller="contentBuilderActiveCtrl">
				<br>
				<div ng-include="'modules/dashboard/contentBuilder/directives/view.tmpl'"></div>
                <span ng-if="access.addService">
                    <a href="#/content-builder/add" class="btn btn-primary">{{translation.addNewSchema[LANG]}}</a><br/><br/>
                </span>
				<nglist></nglist>
			</div>
		</tab>
		<tab heading="Revisions" ng-if="access.servicesRevisions">
			<div>
				<div class="entryBoxes">
					<div ng-repeat="(serviceName, versionsRecords) in revisions track by serviceName" class="entryBox">
						<div class="header">
							{{serviceName}}
						</div>
						<div class="body" ng-controller="contentBuilderRevisionsCtrl">
							<div ng-include="'modules/dashboard/contentBuilder/directives/view.tmpl'"></div>
							<div ng-init="assingRevisionsToGrid(versionsRecords);">
								<nglist></nglist>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</section>