<section ng-controller="infraFirewallCtrl">
	<div class="w-100 c-both">
		<div class="f-left w20">
			<a class="btn btn-sm btn-primary" ng-if="access.addFirewall" ng-click="addFirewall()">
				<span class="icon icon-plus"></span> Add New Firewall
			</a>
		</div>
		
		<div class="f-right w30">
			<div class="searchBoxContainer">
				<button class="btn btn-success f-right" ng-click="listFirewalls(selectedGroup)">
					Refresh&nbsp;&nbsp;<span class="icon icon-loop2"></span>
				</button>
			</div>

			<div ng-if="infraGroups.length > 0">
				Group:
				<select style="display:inline" class="form-control w50" ng-model="selectedGroup" ng-change="listFirewalls(selectedGroup)" ng-options="group as group.name group by group.region for group in infraGroups">
				</select>
			</div>
		</div>
		<br /><br />
	</div>

	<div ng-if="access.list">
		<alert type="warning" ng-if="!infraSecurityGroups || infraSecurityGroups.length === 0">
			No Security Groups in this Group.
		</alert>
		<div ng-if="infraSecurityGroups && infraSecurityGroups.length > 0" class="entryBoxes">
			<br />
			
			<accordion close-others="false">
				<accordion-group is-open="oneGroups.open" ng-repeat="oneGroups in infraSecurityGroups">
					<accordion-heading>
						{{oneGroups.name}}
					</accordion-heading>
					<div class="w-100 c-both t-right">
							<a href="" ng-click="editFirewall(oneGroups)" class="btn btn-sm btn-primary">
								<span class="icon icon-pencil2"></span>&nbsp;Modify
							</a>&nbsp;&nbsp;
							<a class="btn btn-sm btn-danger" href="" ng-click="deleteFirewall(oneGroups)" ng-confirm-click="Are you sure you want to delete this Security Group ?">
								<span class="icon icon-cross"></span>&nbsp;Delete
							</a>
					</div>
					<alert ng-if="!oneGroups.ports || oneGroups.ports.length === 0" type="warning">
						<p>No Ports Configuration Detected.</p>
					</alert>
					
					<fieldset ng-if="oneGroups.ports && oneGroups.ports.length > 0">
						<legend>Ports Configuration</legend>
						<div class="grid">
							<table width="100%">
								<thead>
									<tr>
										<th>Priority</th>
										<th>Name</th>
										<th>Protocol</th>
										<th>Port</th>
										<th>Source Range</th>
										<th>Direction</th>
										<th>Access</th>
										<th>Published</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="onePort in oneGroups.ports" ng-class-even="'even'" ng-class-odd="'odd'" tooltip="{{onePort.description}}">
										<td ng-class="{'readonly': onePort.readonly}">{{onePort.priority}}</td>
										<td ng-class="{'readonly': onePort.readonly}">{{onePort.name}}</td>
										<td ng-class="{'readonly': onePort.readonly}">{{onePort.protocol}}</td>
										<td ng-class="{'readonly': onePort.readonly}">{{onePort.published}}</td>
										<td ng-class="{'readonly': onePort.readonly}">{{(onePort.target === '*') ? "All Interfaces" : onePort.target }}</td>
										<td ng-class="{'readonly': onePort.readonly}">{{onePort.direction}}</td>
										<td ng-class="{'readonly': onePort.readonly}">{{onePort.access}}</td>
										<td ng-class="{'readonly': onePort.readonly}">{{(onePort.isPublished) ? "YES" : "NO"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
					
					<div ng-if="oneGroups.networks && oneGroups.networks.length > 0">
						<fieldset >
							<legend>Networks</legend>
							<div class="entryBoxes entryBoxesGrid">
								<div ng-repeat="oneNetwork in oneGroups.networks">
									<div class="entryBox blueBox" style="padding: 3px 5px;">
										<a href="#/infra-networks/?group={{oneNetwork.group}}">
											<span class="icon icon-connection"></span>&nbsp;<b>{{oneNetwork.name}}</b>
										</a>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					
					<div ng-if="oneGroups.vmLayers && oneGroups.vmLayers.length > 0">
						<fieldset >
							<legend>Virtual Machine Layers</legend>
							<div class="entryBoxes entryBoxesGrid">
								<div ng-repeat="oneVMLayer in oneGroups.vmLayers">
									<div class="entryBox blueBox" style="padding: 3px 5px;">
										<div ng-if="oneVMLayer.link">
											<a href="#/environments-platforms?envCode={{oneVMLayer.envCode}}&tab=vm&layer={{oneVMLayer.vmLayer}}">
												<span class="icon icon-stack"></span>&nbsp;<b>{{oneVMLayer.vmLayer}}</b>&nbsp;
											</a>
										</div>
										<div ng-if="!oneVMLayer.link">
											<b>
												<span class="icon icon-stack"></span>&nbsp;<b>{{oneVMLayer.vmLayer}}</b>&nbsp;
											</b>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>
</section>

<script type="text/ng-template" id="addFirewall.tmpl">
	<div class="modal-header">
		<h3 class="modal-title">Add New Firewall</h3>
	</div>
	<div class="modal-body text-align-center">
		<alert type="info">
			<p>A firewall is automatically created when a new network is created.</p>
		</alert>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="createNetwork()">Create New Network</button>
		<button class="btn btn-danger" ng-click="close()">Cancel</button>
	</div>
</script>