<section ng-controller="notificationCtrl" class="notificationCtrl">
	<div>
		<div clas="row">
			<div class="col-md-3">
				<fieldset class="searchBarFieldSet tabFieldSetHeight">
					<h4>Type: </h4>
					<div>
						<input type="text" class="searchInput90 searchBar" ng-model="typeSearch"
						       placeholder="Search ..."/>
					</div>
					<br>
					<div class="scrollable">
						<div ng-repeat="type in searchOptions.types | searchFilter:typeSearch">
							<div class="labelLength f-left scrollableValues">
								<span>{{type}} </span>
							</div>
							<div class="inputLength f-right">
								<input type="radio" class="removeMarginCheckBox" ng-model="searchValues.type" value="{{type}}">
							</div>
							<br>
						</div>
					</div>
					
					<br>
					<div class="">
						<label class="searchLabel"> Result Limit: </label>
						<select class="limitSelect" ng-options="limit.l for limit in limits" ng-init="100"
						        ng-model="searchOptions.limit" ng-change="search()"></select>
					</div>
				</fieldset>
			</div>
			<div class="col-md-3">
				<fieldset class="searchBarFieldSet tabFieldSetHeight">
					<h4>Section: </h4>
					<div>
						<input type="text" class="searchInput90 searchBar" ng-model="sectionSearch"
						       placeholder="Search ..."/>
					</div>
					<br>
					<div class="scrollable">
						<div ng-repeat="section in searchOptions.sections | searchFilter:sectionSearch">
							<div class="labelLength f-left scrollableValues">
								<span>{{section}} </span>
							</div>
							<div class="inputLength f-right">
								<input type="radio" class="removeMarginCheckBox" ng-model="searchValues.section" value="{{section}}">
							</div>
							<br>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-3">
				<fieldset class="searchBarFieldSet tabFieldSetHeight">
					<h4>Environments: </h4>
					<div>
						<input type="text" class="searchInput90 searchBar" ng-model="envSearch"
						       placeholder="Search ..."/>
					</div>
					<br>
					<div class="scrollable">
						<div ng-repeat="env in searchOptions.envs | searchFilter:envSearch">
							<div class="labelLength f-left scrollableValues">
								<span>{{env}} </span>
							</div>
							<div class="inputLength f-right">
								<input type="radio" class="removeMarginCheckBox" ng-model="searchValues.env" value="{{env}}">
							</div>
							<br>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div clas="row">
			<div class="col-md-12">
				<div class="f-right" style="margin-bottom: 10px; margin-right: 15px">
					<a href="" class="btn btn-primary" tooltip="Apply Filter" ng-click="search()">
						<span class="icon icon-undo"></span>search
					</a>
				</div>
				<div class="f-right" style="margin-bottom: 10px; margin-right: 15px">
					<a href="" class="btn btn-info" tooltip="Apply Filter" ng-click="reset()">
						<span class="icon icon-loop2"></span>reset
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		<div clas="row">
			<div class="col-md-12">
				<div ng-if="ledgers.length > 0">
					<div id="ledgerList">
						<ul class="blueListing">
							<li class="blueLi row-list active" ng-repeat="ledger in ledgers"
							    ng-style="{'width': '99%'}">
								<span class="">{{ledger.type}} > {{ledger.section}}</span>
								<span class="f-right">action : {{ledger.status}}</span>
								<div>
									<span class="">{{ledger.locator.join(" - ")}}</span>
								</div>
								<div>
									<span class="">{{ledger.time | changeISOString}}</span>
									<span class="f-right">
										<a href="" target="_blank" ng-click="preview(ledger, 'username')"> {{ledger.who.username}} </a> | <a href="" target="_blank" ng-click="preview(ledger, 'input')"> input </a> | <a href="" target="_blank" ng-click="preview(ledger, 'output')"> output </a></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="navigation">
			<tr>
				<td align="right">
					<pagination total-items="pagination.totalItems" ng-click="search(pagination.currentPage)"
					            ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm"
					            boundary-links="true" rotate="false" num-pages="pagination.numPages"
					            items-per-page="pagination.itemsPerPage"></pagination>
				</td>
			</tr>
		</table>
	</div>
</section>
