<script type="text/ng-template" id="newSecret.tmpl">
	<div class="form">
		<div class="modal-header">
			<h3 class="modal-title">Create New Secret</h3>
		</div>
		<div class="">
			<ngform></ngform>
		</div>
	</div>
</script>

<section ng-controller="secretsAppCtrl" class="secretsAppCtrl">
	<div ng-if="secrets && secrets.length === 0">
		<br />
		<alert type="warning">No secrets found</alert>
	</div>

	<div class="f-right w30 searchBoxContainer">
		<button class="btn btn-success f-right" ng-click="listSecrets()">
			Refresh&nbsp;&nbsp;<span class="icon icon-loop2"></span>
		</button>
	</div>

	<div class="dropdown f-left">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="addSecret()">
			Add New Secret&nbsp;<span class="caret"></span>
		</button>
	</div>

	<div ng-if="access.list">
		<div ng-if="secrets && secrets.length > 0" class="entryBoxes">

		</div>
	</div>


</section>
