<accordion close-others="true">
	<accordion-group ng-show="availableEnvironments.length > 0" is-open="platforms.previous" ng-click="switchDriver('previous')">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.previous" value="true" name="previous" disabled/>&nbsp;
			I want to use the same deployer settings of a previous environment
		</accordion-heading>
		I want to deploy services, daemons & resources in this environment using the same deployment settings that i have for
		<select ng-change="changeLikeEnv()" ng-model="form.formData.deployment.previousEnvironment" class="form-control w30" style="display: inline-block">
			<option value=""> -- Choose Environment --</option>
			<option ng-repeat="oneBtn in availableEnvironments" value="{{oneBtn.code}}">{{oneBtn.code}}</option>
		</select>
		<div ng-show="previousPlatformDeployment">
			<hr>
			<fieldset>
				<legend>
					<img ng-if="platform === 'docker'" ng-src="{{dockerImagePath}}" height="80px" alt="Docker Logo"/>
					<img ng-if="platform === 'kubernetes'" ng-src="{{kubernetesImagePath}}" height="80px" alt="Kubernetes Logo"/>
				</legend>
				<br />
				<div class="entryBoxes entryBoxesGrid">
					<div class="entryBox driverEntryBox" style="display:block;">
						<div class="header">
							{{driver|uppercase}}
						</div>
						<div class="body">
							<div ng-include="'modules/dashboard/environments/directives/platform-display-table.tmpl'"></div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</accordion-group>
	<accordion-group is-open="platforms.docker" ng-click="switchDriver('docker')">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.docker" value="true" name="docker" disabled/>&nbsp;
			I want to use Docker as my Deployment Technology
		</accordion-heading>
		<div class="table w100 c-both">
			<div class="f-right" style="width:15%;">
				<img ng-src="themes/default/img/docker_logo.png" width="100%" />
			</div>
			<p>
				I have already prepared my machine(s) and installed <a href="https://www.docker.com/" target="_blank">Docker</a> as my container technology.
			</p>
			<div>
				<div class="f-left w20">
					<b>Select a Cloud Provider:</b>
					<ui-select ng-model="myCloudProvider" ng-change="showProviderLink(myCloudProvider, 'docker')">
						<ui-select-match>
							<img ng-src="{{$select.selected.image}}" height="24" style="position: relative; top: -6px;"/>&nbsp;
							<span ng-bind="$select.selected.l"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (cloudProviders) track by item.v">
							<img ng-src="{{item.image}}" height="24"/>&nbsp;
							<span ng-bind="item.l"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="f-left" ng-if="cloudProviderHelpLink.docker && cloudProviderHelpLink.docker !==''" style="padding:25px 20px;">
					<a href="{{cloudProviderHelpLink.docker}}" target="_blank">Click here to Learn how to Prepare a machine for this provider.</a>
				</div>
			</div>
		</div>
		<hr>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr class="form-group machineIP-wrapper">
					<td>
						<div id="dockerIP-wrapper">
							<label class="f-left">Machine IP</label>
							<input type="text" ng-required="platforms.docker" ng-model="form.formData.deployment.docker.nodes" class="form-control" placeholder="127.0.0.1" />
							<div class="fieldMsg hint">Provide the IP of the Docker Master Node.</div>
						</div>
					</td>
				</tr>
				<tr class="form-group machinePort-wrapper">
					<td>
						<div id="dockerPort-wrapper">
							<div>
								<label class="f-left">Docker Port</label>
								<input type="text" ng-required="platforms.docker" ng-model="form.formData.deployment.docker.externalPort" class="form-control" placeholder="2376" />
								<div class="w100 c-both fieldMsg hint">Provide the value of the Docker Internal Port so that the Dashboard can connect to your machine(s).</div>
							</div>
						</div>
					</td>
				</tr>
				<tr class="form-group network-wrapper">
					<td >
						<div id="network-wrapper">
							<label class="f-left">Docker Network Name</label>
							<input type="text" ng-required="platforms.docker" class="form-control" placeholder="soajsnet" ng-model="form.formData.deployment.docker.network" />
							<div class="fieldMsg hint">Provide the Docker network name of your machine(s).</div>
						</div>
					</td>
				</tr>
				<tr class="form-group tr-code-wrapper">
					<td class="form-select">
						<fieldset>
							<legend>
								Docker Certificates:
							</legend>
							<div id="CA-wrapper" class="w30 f-left">
								<label>CA</label>
								<span ng-show="form.formData.remoteCertificates && form.formData.remoteCertificates.ca" class="green">
									<span class="icon icon-checkmark"></span> Already Selected
									<br /><a class="red" href="" ng-click="removeCert('ca');">
										<span class="icon icon-cross"></span> Remove
									</a>
								</span>
								<span ng-show="!form.formData.remoteCertificates || !form.formData.remoteCertificates.ca" class="green">
									<input class="form-control" id="dockercacert" name="dockercacert" type="file" on-read-file="showContent('ca' , $fileContent, form)" ng-required="platforms.docker"/>
									<div class="fieldMsg hint">Specify the location of the certificate of type CA.</div>
								</span>
							</div>
							<div id="Cert-wrapper"  class="w30 f-left">
								<label>Cert</label>
								<span ng-show="form.formData.remoteCertificates && form.formData.remoteCertificates.cert" class="green">
									<span class="icon icon-checkmark"></span> Already Selected
									
									<br /><a class="red" href="" ng-click="removeCert('cert');">
										<span class="icon icon-cross"></span> Remove
									</a>
								</span>
								<span ng-show="!form.formData.remoteCertificates || !form.formData.remoteCertificates.cert" class="green">
									<input class="form-control" id="dockercertcert" name="dockercertcert" type="file" on-read-file="showContent('cert' , $fileContent, form)" ng-required="platforms.docker"/>
									<div class="fieldMsg hint">Specify the location of the certificate of type Cert.</div>
								</span>
							</div>
							<div id="Key-wrapper"  class="w30 f-left">
								<label>Key</label>
								<span ng-show="form.formData.remoteCertificates && form.formData.remoteCertificates.key" class="green">
									<span class="icon icon-checkmark"></span> Already Selected
									
									<br /><a class="red" href="" ng-click="removeCert('key');">
										<span class="icon icon-cross"></span> Remove
									</a>
								</span>
								<span ng-show="!form.formData.remoteCertificates || !form.formData.remoteCertificates.key" class="green">
									<input class="form-control" id="dockerkeycert" name="dockerkeycert" type="file" on-read-file="showContent('key' , $fileContent, form)" ng-required="platforms.docker"/>
									<div class="fieldMsg hint">Specify the location of the certificate of type Key.</div>
								</span>
							</div>
						</fieldset>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group is-open="platforms.kubernetes" ng-click="switchDriver('kubernetes')">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.kubernetes" value="true" name="kubernetes" disabled/>&nbsp;
			I want to use Kubernetes as my Deployment Technology
		</accordion-heading>
		<div class="table w100 c-both">
			<div class="f-right" style="width:15%;">
				<img ng-src="themes/default/img/kubernetes_logo.png" width="100%" />
			</div>
			<p>
				I have already prepared my machine(s) and installed <a href="https://kubernetes.io/" target="_blank">Kubernetes</a> as my container technology.
			</p>
			<div>
				<div class="f-left w20">
					<b>Select a Cloud Provider:</b>
					<ui-select ng-model="myCloudProvider" ng-change="showProviderLink(myCloudProvider, 'kubernetes')">
						<ui-select-match>
							<img ng-src="{{$select.selected.image}}" height="24" style="position: relative; top: -6px;"/>&nbsp;
							<span ng-bind="$select.selected.l"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (cloudProviders) track by item.v">
							<img ng-src="{{item.image}}" height="24"/>&nbsp;
							<span ng-bind="item.l"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="f-left" ng-if="cloudProviderHelpLink.kubernetes && cloudProviderHelpLink.kubernetes !==''" style="padding:25px 20px;">
					<a href="{{cloudProviderHelpLink.kubernetes}}" target="_blank">Click here to Learn how to Prepare a machine for this provider.</a>
				</div>
			</div>
		</div>
		
		<hr>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr class="form-group machineIP-wrapper">
					<td>
						<div id="kubernetesIP-wrapper">
							<label class="f-left">Machine IP</label>
							<input type="text" ng-required="platforms.kubernetes" ng-model="form.formData.deployment.kubernetes.nodes" class="form-control" placeholder="127.0.0.1" />
							<div class="fieldMsg hint">Provide the IP of the Kubernetes Master Node.</div>
						</div>
					</td>
				</tr>
				<tr class="form-group machinePort-wrapper">
					<td>
						<div id="kubernetesPort-wrapper">
							<label class="f-left">Kubernetes Port</label>
							<input type="text" ng-required="platforms.kubernetes" ng-model="form.formData.deployment.kubernetes.port" class="form-control" placeholder="6443" />
							<div class="fieldMsg hint">Provide the Kubernetes Port so that the Dashboard can connect to your machine(s).</div>
						</div>
					</td>
				</tr>
				<tr class="form-group token-wrapper">
					<td >
						<div id="token-wrapper">
							<label class="f-left">Kubernetes Secret Token</label>
							<textarea ng-required="platforms.kubernetes" class="form-control" rows="4" placeholder="My Kubernetes Secret Token" ng-model="form.formData.deployment.kubernetes.token"></textarea>
							<div class="fieldMsg hint">Provide the Kubernetes Secret Token so that the Dashboard can connect to your machine(s).</div>
						</div>
					</td>
				</tr>
				<tr class="form-group namespace-wrapper">
					<td >
						<div id="namespace-wrapper">
							<label class="f-left">Kubernetes Namespace Value</label>
							<input type="text" class="form-control" ng-required="platforms.kubernetes" placeholder="soajs" ng-model="form.formData.deployment.kubernetes.NS" /><br />
							<div class="fieldMsg hint">Provide the Kubernetes namespace that will be used when deploying services in this environment.</div>
							<label class="f-left">Kubernetes Namespace Mode</label>
							<div class="f-left" style="margin:15px 0 0 35px;">
								<input type="radio" ng-required="platforms.kubernetes" ng-model="form.formData.deployment.kubernetes.perService" name="global" ng-value="false" />&nbsp;Global Namespace Per Project
								<input type="radio" ng-required="platforms.kubernetes" ng-model="form.formData.deployment.kubernetes.perService" name="service" ng-value="true" style="margin-left:35px;" />&nbsp;Specific Namespace Per Service
							</div>
							<div class="fieldMsg hint">Provide the Kubernetes Secret Token so that the Dashboard can connect to your machine(s).</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							<label>Nginx Deployment Type</label>
							<select ng-model="form.formData.deployment.kubernetes.nginxDeployType" class="form-control">
								<option value="NodePort">NodePort</option>
								<option value="LoadBalancer">LoadBalancer</option>
							</select>
							<div class="fieldMsg hint">Choose how kubernetes should deploy Nginx Containers in this environment.</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	<accordion-group is-open="platforms.manual" ng-click="switchDriver('manual')">
		<accordion-heading>
			<input type="radio" ng-checked="platforms.manual" value="true" name="manual" disabled/>&nbsp;
			I will Deploy Everything Manually on my Local Machine or a My Custom Server
		</accordion-heading>
		<p>
			I will not use any container technology to deploy my Service(s) and Daemon(s).<br />
			I will also handle pulling and applying updates on the machines of this Environment myself.
		</p>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr class="form-group machinePort-wrapper">
					<td>
						<div id="manualIP-wrapper">
							<label class="f-left">Machine IP</label>
							<input type="text" ng-required="platforms.manual" ng-model="form.formData.deployment.manual.nodes" class="form-control" placeholder="127.0.0.1" />
							<div class="fieldMsg hint">Provide the IP Address of one of your machine(s).</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<hr />
		<alert type="warning">
			<p>
				Please make sure that the machines you will use for this environment will be reachable, otherwise this dashboard will not be able to communicate with this environment.
			</p>
		</alert>
	</accordion-group>
</accordion>