<accordion close-others="false">
	<accordion-group is-open="true">
		<accordion-heading>Environment Security</accordion-heading>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
				<tr>
					<td colspan="3">
						<div id="tKeyPass-wrapper">
							<div>
								<label>Tenant Key Security Password</label>
								<input class="form-control" ng-model="form.formData.tKeyPass" type="text" placeholder="My Tenant Key AES256 Password..." ng-required="tempFormEntries.tKeyPass.required"/>
								<div class="fieldMsg hint">Provide a secret phrase to encrypt the tenants keys that will access
									this environment.
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div>
							<label>I Want the SOAJS Framework to persist my Session in this Environment</label>
							<label class="toggleSwitch">
								<input type="checkbox" ng-model="form.formData.soajsFrmwrk" ng-change="tempFormEntries.soajsFrmwrk.onAction()"/><span class="buttonSlider round"></span>
							</label>
							<div class="fieldMsg hint">Turn On if you want the soajs framework to persist your session between the SOA services and provide security
								phrases to encrypt cookies and sessions
							</div>
						</div>
					</td>
				</tr>
				<tr ng-show="form.formData.soajsFrmwrk">
					<td colspan="3">
						<div id="cookiesecret-wrapper">
							<label>Cookie Secret</label>
							<input class="form-control" ng-model="form.formData.cookiesecret" type="text" placeholder="My Cookie Secret Phrase ..." ng-required="form.formData.soajsFrmwrk"/>
							<div class="fieldMsg hint">
								Enter the cookie secret phrase, used to encrypt cookie values, minimum 5 characters.
							</div>
						</div>
					</td>
				</tr>
				<tr ng-show="form.formData.soajsFrmwrk">
					<td colspan="3">
						<div id="sessionName-wrapper">
							<label>Session Name</label>
							<input class="form-control" ng-model="form.formData.sessionName" type="text" placeholder="soajsID" ng-required="form.formData.soajsFrmwrk"/>
							<div class="fieldMsg hint">
								Specify a name for the session, minimum 5 characters.
							</div>
						</div>
					</td>
				<tr ng-show="form.formData.soajsFrmwrk">
					<td colspan="3">
						<div id="sessionSecret-wrapper">
							<label>Session Secret</label>
							<input class="form-control" ng-model="form.formData.sessionSecret" type="text" placeholder="My Session Secret Phrase ..." ng-required="form.formData.soajsFrmwrk"/>
							<div class="fieldMsg hint">
								Specify a secret phrase used to encrypt session values, minimum 5 characters.
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
	
	<accordion-group is-open="true" ng-show="portalDeployment">
		<accordion-heading>Portal Account</accordion-heading>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr ng-show="portalDeployment">
				<td colspan="3">
					<br />
					<alert type="info">
						<h4>Portal Account</h4>
						<hr>
						<p>
							The portal environment provides the ability to manage the user accounts in all environments but is completely isolated and independent from the Dashboard Environment.<br />
							Therefore, you need to create at least one administrator account for the portal environment so you can login after you deploy it.
						</p>
					</alert>
				</td>
			</tr>
			<tr ng-show="portalDeployment">
				<td colspan="3">
					<div>
						<label>Username</label>
						<input class="form-control" ng-model="form.formData.username" type="text" placeholder="portal" ng-required="tempFormEntries.username.required"/>
						<div class="fieldMsg hint">Provide the username of the first account to create in the portal environment.</div>
					</div>
				</td>
			</tr>
			<tr ng-show="portalDeployment">
				<td colspan="3">
					<div>
						<label>Password</label>
						<input class="form-control" ng-model="form.formData.password" type="password" placeholder="password" ng-required="tempFormEntries.password.required"/>
						<div class="fieldMsg hint">Provide the password of the first account to create in the portal environment.</div>
					</div>
				</td>
			</tr>
			<tr ng-show="portalDeployment">
				<td colspan="3">
					<div>
						<label>Email</label>
						<input class="form-control" ng-model="form.formData.email" type="email" placeholder="portal@soajs.org" ng-required="tempFormEntries.email.required"/>
						<div class="fieldMsg hint">Provide the email of the first account to create in the portal environment.</div>
					</div>
				</td>
			</tr>
		</table>
	</accordion-group>
	
	<accordion-group is-open="true" ng-show="form.formData.deploy && wizard.deploy.selectedDriver !== 'manual'">
		<accordion-heading>SOAJS Components</accordion-heading>
		<div ng-include="'modules/dashboard/environments/directives/deploy-service-details.tmpl'"></div>
	</accordion-group>
	
	<accordion-group is-open="false">
		<accordion-heading>Testing & Simulation</accordion-heading>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
				<tr>
					<td>
						<div id="sensitive-wrapper" style="margin-top:20px;">
							<div>
								<label style="position:relative; top:-3px;">Turn Off Swagger Simulator</label>
								<label class="toggleSwitch">
									<input type="checkbox" ng-model="form.formData.sensitive"><span class="buttonSlider round"></span>
								</label>
								<div class="fieldMsg hint">If this environment is sensitive, then turn off the Swagger Simulator support for testing.</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
</accordion>