<accordion close-others="false" ng-show="!showProgress">
	<accordion-group is-open="true">
		<accordion-heading>
			General Information
		</accordion-heading>
		<div class="addEnvTable">
			<table>
				<tbody>
					<tr ng-repeat="(k,v) in wizard.gi">
						<td ng-if="k!='deploy'"><label class="text-capitalize">{{k}}</label></td>
						<td ng-if="k!='deploy'">{{v}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</accordion-group>
	<accordion-group>
		<accordion-heading>
			Deployment Strategy
		</accordion-heading>
		<div class="addEnvImg">
			<h4 class="text-capitalize">{{wizard.deploy.selectedDriver}}</h4>
			<div class="f-right" ng-if="wizard.deploy.selectedDriver=='docker'">
				<img ng-src="themes/default/img/docker_logo.png"/>
			</div>
			<div class="f-right" ng-if="wizard.deploy.selectedDriver=='kubernetes'">
				<img ng-src="themes/default/img/kubernetes_logo.png"/>
			</div>
		</div>
		<hr class="c-right">
		<!--Docker-->
		<div ng-if="wizard.deploy.selectedDriver=='docker'">
			<div ng-show="previousEnvironment">
				<div class="alert alert-info">
					<p> I am using the same machine(s) i configured for {{previousEnvironment}} Environment</p>
				</div>
				<div ng-show="previousPlatformDeployment">
					<hr>
					<br />
					<div class="entryBoxes entryBoxesGrid">
						<div class="entryBox driverEntryBox" style="display:block;">
							<div class="header">
								{{driver|uppercase}}
							</div>
							<div class="body">
								<div ng-include="'modules/dashboard/environments/directives/platform-display-table.tmpl'"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="!previousEnvironment">
				<div class="alert alert-info">
					<h4><span class="icon icon-info"></span> Info:</h4>
					<p>Deploying on a machine that I have already prepared my machine(s) and installed <span class="text-capitalize">{{wizard.deploy.selectedDriver}}</span> as my container technology.
					</p>
				</div>
			</div>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr ng-repeat="(k,v) in wizard.deploy.deployment[wizard.deploy.selectedDriver]">
							<td ng-if="k!='dockerremote'"><label class="text-capitalize">{{k}}</label></td>
							<td ng-if="k!='dockerremote'"> {{v}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--Kuberenetes-->
		<div ng-if="wizard.deploy.selectedDriver=='kubernetes'">
			<div ng-show="previousEnvironment">
				<div class="alert alert-info">
					<p> I am using the same machine(s) i configured for {{previousEnvironment}} Environment</p>
				</div>
				<div ng-show="previousPlatformDeployment">
					<hr>
					<br />
					<div class="entryBoxes entryBoxesGrid">
						<div class="entryBox driverEntryBox" style="display:block;">
							<div class="header">
								{{driver|uppercase}}
							</div>
							<div class="body">
								<div ng-include="'modules/dashboard/environments/directives/platform-display-table.tmpl'"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="!previousEnvironment">
				<div class="alert alert-info">
					<h4><span class="icon icon-info"></span> Info:</h4>
					<p>Deploying on a machine I have already prepared my machine(s) and installed <span class="text-capitalize">{{wizard.deploy.selectedDriver}}</span> as my container technology.
					</p>
				</div>
			</div>
			<div ng-if="wizard.deploy.deployment[wizard.deploy.selectedDriver].kubernetesremote==true" class="addEnvTable">

				<table>
					<tbody>
						<tr ng-repeat="(k,v) in wizard.deploy.deployment[wizard.deploy.selectedDriver]">
							<td ng-if="k!='kubernetesremote'"><label class="text-capitalize">{{k}}</label></td>
							<td ng-if="k!='kubernetesremote'"> {{v}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--Manual-->
		<div ng-if="wizard.deploy.selectedDriver=='manual'">
			<div class="alert alert-info">
				<h4><span class="icon icon-info"></span> Info:</h4>
				<p> I will not use any container technology to deploy my Service(s) and Daemon(s).
					I will also handle pulling and applying updates on the machines of this Environment myself.
				</p>
			</div>
		</div>
	</accordion-group>
	<accordion-group ng-show="wizard.controller.deploy">
		<accordion-heading>
			SOAJS Controller
		</accordion-heading>
		<fieldset>
			<legend>
				Container
			</legend>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr ng-repeat="(k,v) in wizard.controller ">

							<td ng-if="k!='deploy'"><label class="text-capitalize">{{k}} <span ng-if="k=='memory'">(in MBytes)</span></label></td>
							<td ng-if="k!='deploy'"> {{v}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</accordion-group>
	<accordion-group ng-show="wizard.cluster">
		<accordion-heading>
			MongoDB <span class="text-capitalize">{{wizard.cluster.type}}</span>
		</accordion-heading>
		<div class="addEnvTable">
			<table>
				<tbody>
					<tr ng-repeat="(a,b) in wizard.cluster[wizard.cluster.type]" ng-if="b && (a ==='name' || a ==='prefix' || a ==='replicaSet')">
						<td ><label class="text-capitalize">{{a}}</label></td>
						<td >{{b}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="wizard.cluster.type !== 'share'">
		<hr>
		<fieldset>
			<legend>
				Servers
			</legend>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr>
							<th><label class="text-capitalize">Host</label></th>
							<th>Port</th>
						</tr>
						<tr ng-repeat="(a, b) in wizard.cluster[wizard.cluster.type]['servers']">
							<td><label style="font-weight: normal;">{{b.host}}</label>
							</td>
							<td>{{b.port}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<fieldset>
			<legend>
				Credentials
			</legend>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr ng-repeat="(a, b) in wizard.cluster[wizard.cluster.type]['credentials']">
							<td><label>{{a}}</label>
							</td>
							<td>{{b}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<fieldset>
			<legend>
				URLParam
			</legend>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr ng-repeat="(a, b) in wizard.cluster[wizard.cluster.type]['URLParam']">
							<td><label class="text-capitalize">{{a}}</label>
							</td>
							<td>{{b}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<fieldset>
			<legend>
				Streaming
			</legend>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr ng-repeat="(a, b) in wizard.cluster[wizard.cluster.type]['streaming']">
							<td><label class="text-capitalize">{{a}}</label>
							</td>
							<td>{{b}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		</div>
	</accordion-group>
	<accordion-group ng-show="wizard.urac.deploy">
		<accordion-heading>
			SOAJS URAC
		</accordion-heading>
		<fieldset>
			<legend>
				Container
			</legend>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr ng-repeat="(k,v) in wizard.urac ">

							<td ng-if="k!='deploy'"><label class="text-capitalize">{{k}} <span ng-if="k=='memory'">(in MBytes)</span></label>
							</td>
							<td ng-if="k!='deploy'"> {{v}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</accordion-group>
	<accordion-group ng-show="wizard.oauth.deploy">
		<accordion-heading>
			SOAJS oAuth
		</accordion-heading>
		<fieldset>
			<legend>
				Container
			</legend>
			<div class="addEnvTable">
				<table>
					<tbody>
						<tr ng-repeat="(k,v) in wizard.oauth ">

							<td ng-if="k!='deploy'"><label class="text-capitalize">{{k}} <span ng-if="k=='memory'">(in MBytes)</span></label>
							</td>
							<td ng-if="k!='deploy'"> {{v}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</accordion-group>
	<accordion-group ng-show="wizard.nginx.deploy">
		<accordion-heading>
			Nginx Server
		</accordion-heading>
		<fieldset ng-if="wizard.nginx" class="addEnvTable">
			<legend>
				Container
			</legend>
			<table>
				<tbody>
					<tr ng-repeat="(k,v) in wizard.nginx">
						<td ng-if="k!='norecipe' && k!='deploy' && k!='customUi' && k!='certsGit' && k!='recipe'">
							<label class="text-capitalize">{{k}}
								<span ng-if="k=='memory'">(in MBytes)</span></label>
						</td>
						<td ng-if="k!='norecipe' && k!='deploy' && k!='customUi' && k!='certsGit' && k!='recipe'"> {{v}}</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
		<fieldset ng-if="wizard.nginx.customUi" class="addEnvTable">
			<legend>
				Custom UI
			</legend>
			<div>
				<table>
					<tbody>
						<tr ng-repeat="(k,v) in wizard.nginx.customUi">
							<td><label class="text-capitalize">{{k}}
								<span ng-if="k=='memory'">(in MBytes)</span></label>
							</td>
							<td> {{v}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<fieldset ng-if="wizard.nginx.certsGit" class="addEnvTable">
			<legend>
				Certificates
			</legend>
			<div>
				<table>
					<tbody>
						<tr ng-repeat="(k,v) in wizard.nginx.certsGit">
							<td><label class="text-capitalize">{{k}}
								<span ng-if="k=='memory'">(in MBytes)</span></label>
							</td>
							<td> {{v}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>

	</accordion-group>
</accordion>

<div id="progressAddEnv" ng-show="showProgress">
		<alert ng-if="statusMsg" type="{{statusType}}">
			{{statusMsg}}
		</alert>
		<br />
		<progressbar ng-show="progressCounter >0" class="progress-striped active" value="progressCounter/maxCounter*100" type="info">{{(progressCounter/maxCounter*100).toFixed(2)}}%</progressbar>
		<span ng-if="status.createEnvironment">
			<span class="icon icon-checkmark green"></span> Environment Created ...<br>
		</span>
		<span ng-if="status.certificates">
			<span ng-if="!status.certificates.done">
				<span class="icon icon-loop2 yellow"></span> Storing Deployer Certificates ...<br>
			</span>
			<span ng-if="status.certificates.done">
				<span class="icon icon-checkmark green"></span> Deployer Certificates Stored ...<br>
				<alert type="warning" ng-if="status.certificates.exception">{{status.certificates.exception}}</alert>
			</span>
		</span>
		<span ng-if="status.productize">
			<span ng-if="!status.productize.done">
				<span class="icon icon-loop2 yellow"></span> Creating Portal Product & Tenant ...<br>
			</span>
			<span ng-if="status.productize.done">
				<span class="icon icon-checkmark green"></span> Portal Product & Tenant Created ...<br>
				<alert type="warning" ng-if="status.productize.exception">{{status.productize.exception}}</alert>
			</span>
		</span>
		<span ng-if="status.cluster">
			<span ng-if="!status.cluster.done">
				<span class="icon icon-loop2 yellow"></span> Creating MongoDB Server ...<br>
			</span>
			<span ng-if="status.cluster.done">
				<span class="icon icon-checkmark green"></span> MongoDB Server Created ...<br>
				<alert type="warning" ng-if="status.cluster.exception">{{status.cluster.exception}}</alert>
			</span>
		</span>
		<span ng-if="status.controller">
			<span ng-if="!status.controller.done">
				<span class="icon icon-loop2 yellow"></span> Deploying Controller ...<br>
			</span>
			<span ng-if="status.controller.done">
				<span class="icon icon-checkmark green"></span> Controller Deployed ...<br>
				<alert type="warning" ng-if="status.controller.exception">{{status.controller.exception}}</alert>
			</span>
		</span>
		<span ng-if="status.urac">
			<span ng-if="!status.urac.done">
				<span class="icon icon-loop2 yellow"></span> Deploying URAC ...<br>
			</span>
			<span ng-if="status.urac.done">
				<span class="icon icon-checkmark green"></span> URAC Deployed ...<br>
				<alert type="warning" ng-if="status.urac.exception">{{status.urac.exception}}</alert>
			</span>
		</span>
		<span ng-if="status.oauth">
			<span ng-if="!status.oauth.done">
				<span class="icon icon-loop2 yellow"></span> Deploying oAuth ...<br>
			</span>
			<span ng-if="status.oauth.done">
				<span class="icon icon-checkmark green"></span> oAuth Deployed ...<br>
				<alert type="warning" ng-if="status.oauth.exception">{{status.oauth.exception}}</alert>
			</span>
		</span>
		<span ng-if="status.nginx">
			<span ng-if="!status.nginx.done">
				<span class="icon icon-loop2 yellow"></span> Deploying Nginx ...<br>
			</span>
			<span ng-if="status.nginx.done">
				<span class="icon icon-checkmark green"></span> Nginx Deployed ...<br>
				<alert type="warning" ng-if="status.nginx.exception">{{status.nginx.exception}}</alert>
			</span>
		</span>
		<span ng-if="status.user">
			<span ng-if="!status.user.done">
				<span class="icon icon-loop2 yellow"></span> Creating User Account for Portal ...<br>
			</span>
			<span ng-if="status.user.done">
				<span class="icon icon-checkmark  green"></span> User Account for Portal Created ...<br>
				<alert type="warning" ng-if="status.user.exception">{{status.user.exception}}</alert>
			</span>
		</span>
</div>
