<section ng-controller="addEnvironmentCtrl">
	
	<div ng-if="showIntro">
		<br/><br/>
		
		<div ng-repeat="template in templates">
			<div class="text-center col-md-4 col-lg-4">
				<div class="environmentBox" ng-click="iwantenvironment(template._id);">
					<h4>{{template.name}}</h4>
					<hr>
					<p class="fieldMsg">{{template.description}}
					</p>
				</div>
			</div>
		</div>
		
		<!--<div class="text-center col-md-4 col-lg-4">-->
		<!--<div class="environmentBox" ng-click="iwantenvironment(1);">-->
		<!--<h4>Empty Environment</h4>-->
		<!--<hr>-->
		<!--<p class="fieldMsg">Specify your deployment platform technology using either Docker or Kubernetes.</p>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="text-center col-md-4 col-lg-4">-->
		<!--<div class="environmentBox"  ng-click="iwantenvironment(2);">-->
		<!--<h4>SOAJS Environment</h4>-->
		<!--<hr>-->
		<!--<p class="fieldMsg">Turn on API management, lifecycle, security, multi tenancy, multi version & awareness support.</p>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class="text-center col-md-4 col-lg-4">-->
		<!--<div class="environmentBox"  ng-click="iwantenvironment(3);">-->
		<!--<h4>SOAJS & Nginx Environment</h4>-->
		<!--<hr>-->
		<!--<p class="fieldMsg">SOAJS environment & web server serving static UI content as well as forwarding requests to your APIs.</p>-->
		<!--</div>-->
		<!--</div>-->
	</div>
	
	<div ng-if="!showIntro">
		<ngform></ngform>
	</div>
</section>