<section ng-controller="addEnvironmentCtrl">
	<ngform></ngform>
</section>

<script type="text/ng-template" id="progressAddEnv.tmpl">
	<div class="form">
		<div class="modal-header">
			<h3 class="modal-title">Creating Environment</h3>
		</div>
		<div class="modal-body">
			<progressbar class="progress-striped active" value="progressCounter/maxCounter*100" type="info">{{progressCounter/maxCounter*100}}%</progressbar>
			<span ng-if="createEnvironment">
				<span class="icon icon-checkmark green"></span> Created Environment.
			</span><br>
			<span ng-if="uploadEnvCertificates">
				<span class="icon icon-checkmark green"></span> Environment Certificates Uploaded.
			</span><br>
			<span ng-if="productize">
				<span class="icon icon-checkmark green"></span> Added Product.
			</span><br>
			<span ng-if="deployController">
				<span class="icon icon-checkmark green"></span> Deployed Controller.
			</span><br>
			<span ng-if="deployUrac">
				<span class="icon icon-checkmark green"></span> Deployed Urac.
			</span><br>
			<span ng-if="deployOauth">
				<span class="icon icon-checkmark green"></span> Deployed oAuth.
			</span><br>
			<span ng-if="createNginxRecipe">
				<span class="icon icon-checkmark green"></span> Created Nginx Recipe.
			</span><br>
			<span ng-if="deployNginx">
				<span class="icon icon-checkmark green"></span> Deployed Nginx.
			</span><br>
		</div>
	</div>
</script>