<section  ng-controller="cloudsCtrl">
	<div ng-if="directiveToLoad && directiveToLoad === 'list-cloud.tmpl'" ng-include="'modules/dashboard/environments/directives/list-cloud.tmpl'"></div>
	<div ng-if="directiveToLoad && directiveToLoad === 'list-hosts.tmpl'" ng-include="'modules/dashboard/environments/directives/list-hosts.tmpl'"></div>
</section>