<br />
<accordion close-others="false" ng-show="!form.formData.norecipe">
	<accordion-group class="custom-fieldset" ng-if="sourceCodeConfig[currentServiceName].configuration.isEnabled" is-open="sourceCodeConfig[currentServiceName].configuration.isOpened">
		<accordion-heading>{{selectedSourceCode.configuration.label}}</accordion-heading>
		<div>
			<label>Repository</label>
			<select class="form-control" ng-required="sourceCodeConfig[currentServiceName].configuration.repoAndBranch.required" ng-options="repo.name as repo.name group by repo.owner for repo in configRepos.config" ng-model="form.formData.custom.sourceCode.configuration.repo" ng-change="fetchBranches('conf')" ng-disabled="sourceCodeConfig[currentServiceName].configuration.repoAndBranch.disabled"></select>
			<label class="fieldMsg">Choose your configuration repository</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.configuration.repo && form.formData.custom.sourceCode.configuration.repo !== '-- Leave Empty --'">
			<label>Branch<img class="loadingImage" ng-src="themes/default/img/loading.gif" ng-if="configReposBranchesStatus[form.formData.custom.sourceCode.configuration.repo]==='loading'"></label>
			<select class="form-control" ng-required="sourceCodeConfig[currentServiceName].configuration.repoAndBranch.required" ng-options="branch.name as branch.name for branch in configReposBranches[form.formData.custom.sourceCode.configuration.repo]" ng-model="form.formData.custom.sourceCode.configuration.branch" ng-disabled="sourceCodeConfig[currentServiceName].configuration.repoAndBranch.disabled"></select>
			<label class="fieldMsg">Choose your branch</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.configuration.repo && form.formData.custom.sourceCode.configuration.repo !== '-- Leave Empty --'">
			<label>Path</label>
			<input type="text" class="form-control" ng-model="form.formData.custom.sourceCode.configuration.path" ng-required="false"/>
			<label class="fieldMsg">Unless specified, the root will be used</label>
		</div>
	</accordion-group>
	
	<accordion-group class="custom-fieldset" ng-if="sourceCodeConfig[currentServiceName].custom.isEnabled" is-open="sourceCodeConfig[currentServiceName].custom.isOpened">
		<accordion-heading>{{selectedSourceCode.custom.label}}</accordion-heading>
		<div>
			<label>Repository</label>
			<select class="form-control" ng-required="sourceCodeConfig[currentServiceName].custom.repoAndBranch.required" ng-options="(repo.name + '__SOAJS_DELIMITER__' + repo.subName) as (repo.subName?(repo.name + ' - ' + repo.subName):repo.name) group by repo.owner for repo in configRepos.customType" ng-model="form.formData.custom.sourceCode.custom.repo" ng-change="fetchBranches('cust')" ng-disabled="sourceCodeConfig[currentServiceName].custom.repoAndBranch.disabled"></select>
			<label class="fieldMsg">Choose your custom repository</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.custom.repo && selectedCustomClear !== '-- Leave Empty --'">
			<label>Branch<img class="loadingImage" ng-src="themes/default/img/loading.gif" ng-if="configReposBranchesStatus[selectedCustomClear]==='loading'"></label>
			<select class="form-control" ng-required="sourceCodeConfig[currentServiceName].custom.repoAndBranch.required" ng-options="branch.name as branch.name for branch in configReposBranches[selectedCustomClear]" ng-model="form.formData.custom.sourceCode.custom.branch" ng-disabled="sourceCodeConfig[currentServiceName].custom.repoAndBranch.disabled"></select>
			<label class="fieldMsg">Choose your branch</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.custom.repo && selectedCustomClear !== '-- Leave Empty --'">
			<label>Path</label>
			<input type="text" class="form-control" ng-model="form.formData.custom.sourceCode.custom.path" ng-required="false" ng-disabled="sourceCodeConfig[currentServiceName].custom.repoPath.disabled"/>
			<label class="fieldMsg">Unless specified, the root will be used</label>
		</div>
	</accordion-group>
	
	<accordion-group ng-show="tempFormEntries.imagePrefix">
		<accordion-heading>Image Properties</accordion-heading>
		
		<div ng-show="tempFormEntries.imagePrefix">
			<label>Image Prefix</label>
			<input type="text" class="form-control" ng-model="form.formData.imagePrefix" ng-required="tempFormEntries.imagePrefix.required"/>
			<div class="fieldMsg hint">Override the image prefix if you want</div>
			<br/>
		</div>
		<div ng-show="tempFormEntries.imageName">
			<label>Image Name</label>
			<input type="text" class="form-control" ng-model="form.formData.imageName" ng-required="tempFormEntries.imageName.required"/>
			<div class="fieldMsg hint">Override the image name if you want</div>
			<br/>
		</div>
		<div ng-show="tempFormEntries.imageTag">
			<label>Image Tag</label>
			<input type="text" class="form-control" ng-model="form.formData.imageTag" ng-required="tempFormEntries.imageName.required"/>
			<div class="fieldMsg hint">Override the image tag if you want</div>
			<br/>
		</div>
	
	</accordion-group>
	<accordion-group ng-show="tempFormEntries.custom" is-open="true">
		<accordion-heading>Custom Inputs</accordion-heading>
		<div ng-repeat="(userInputName,userInput) in tempFormEntries.custom">
			<label>{{userInput.label || userInput.name}}</label>
			<input type="text" class="form-control" ng-model="form.formData.custom[userInputName].value" value="{{userInput.value}}" ng-required="userInput.required"/>
			<div class="fieldMsg hint">{{userInput.fieldMsg}}</div>
			<br/>
		</div>
	</accordion-group>
</accordion>

<accordion close-others="false" ng-show="form.formData.norecipe">
	<accordion-group is-open="true">
		<accordion-heading>Expose my Nginx to Port</accordion-heading>
		<div>
			<label>HTTP Port</label>
			<input ng-if = "wizard.deploy.selectedDriver !== 'kubernetes'" type="number" class="form-control" ng-model="form.formData.http" placeholder="80" ng-required="tempFormEntries.http.required"/>
			<input ng-if = "wizard.deploy.selectedDriver === 'kubernetes'" type="number" class="form-control" ng-model="form.formData.http" placeholder="80" ng-required="tempFormEntries.http.required"  min="1" max="2767"/>
			<div class="fieldMsg hint">Enter the port value to which the Nginx should be exposed to</div>
			<div ng-if = "wizard.deploy.selectedDriver === 'kubernetes'">
				<br>
				<alert type="info">
					The deployer will automatically add a value of 30000 to the port value you enter because you have selected Kubernetes as a deployment platform.<br>
					The allowed port values you can use in this case are restricted between 1 and 2767.
				</alert>
			</div>
			<br/>
		</div>
	</accordion-group>
	<accordion-group  ng-show="supportSSL" is-open="true">
		<accordion-heading>Secure My Nginx when you deploy it</accordion-heading>
		<div>
			<label>Tun on SSL</label>
			<input type="checkbox" ng-model="form.formData.ssl" ng-required="tempFormEntries.ssl.required" ng-change="tempFormEntries.ssl.onAction()"/>
			<div class="fieldMsg hint">Check the box if you want to turn on SSL and enforce all requests to use https
			</div>
			<br/>
		</div>
		<div ng-show="form.formData.ssl">
			<div>
				<label>HTTPS Port</label>
				<input ng-if = "wizard.deploy.selectedDriver !== 'kubernetes'" type="number" class="form-control" ng-model="form.formData.https" placeholder="443" ng-required="tempFormEntries.https.required"/>
				<input ng-if = "wizard.deploy.selectedDriver === 'kubernetes'" type="number" class="form-control" ng-model="form.formData.https" placeholder="443" ng-required="tempFormEntries.https.required"  min="1" max="2767"/>
				<div class="fieldMsg hint">Enter the secured port value to which the Nginx should be exposed to</div>
				<div ng-if = "wizard.deploy.selectedDriver === 'kubernetes'">
					<br>
					<alert type="info">
						The deployer will automatically add a value of 30000 to the port value you enter because you have selected Kubernetes as a deployment platform.<br>
						The allowed port values you can use in this case are restricted between 1 and 2767.
					</alert>
				</div>
				<br/>
			</div>
		</div>
	</accordion-group>
	
	<accordion-group is-open="sourceCodeConfig[currentServiceName].configuration.isOpened">
		<accordion-heading>I have a Custom configuration in a repo and i want to associate with my Nginx</accordion-heading>
		<div>
			<label>Repository</label>
			<select class="form-control" ng-required="false" ng-options="repo.name as repo.name group by repo.owner for repo in configRepos.config" ng-model="form.formData.custom.sourceCode.configuration.repo" ng-change="fetchBranches('conf')"></select>
			<label class="fieldMsg">Choose your configuration repository</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.configuration.repo">
			<label>Branch</label>
			<select class="form-control" ng-required="false" ng-options="branch.name as branch.name for branch in configReposBranches[form.formData.custom.sourceCode.configuration.repo]" ng-model="form.formData.custom.sourceCode.configuration.branch"></select>
			<label class="fieldMsg">Choose your branch</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.configuration.repo">
			<label>Path</label>
			<input type="text" class="form-control" ng-model="form.formData.custom.sourceCode.configuration.path" ng-required="false"/>
			<label class="fieldMsg">Unless specified, the root will be used</label>
		</div>
	</accordion-group>
	
	<accordion-group is-open="sourceCodeConfig[currentServiceName].custom.isOpened">
		<accordion-heading>I have a Custom UI i want to associate with my Nginx</accordion-heading>
		<div>
			<label>Repository</label>
			<select class="form-control" ng-required="false" ng-options="(repo.name + '__SOAJS_DELIMITER__' + repo.subName) as (repo.subName?(repo.name + ' - ' + repo.subName):repo.name) group by repo.owner for repo in configRepos.nginxCustom" ng-model="form.formData.custom.sourceCode.custom.repo" ng-change="fetchBranches('nginxCustom')"></select>
			<label class="fieldMsg">Choose your configuration repository</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.custom.repo">
			<label>Branch</label>
			<select class="form-control" ng-required="false" ng-options="branch.name as branch.name for branch in configReposBranches[selectedCustomClear]" ng-model="form.formData.custom.sourceCode.custom.branch"></select>
			<label class="fieldMsg">Choose your branch</label>
			<br>
		</div>
		
		<div ng-if="form.formData.custom.sourceCode.custom.repo">
			<label>Path</label>
			<input type="text" class="form-control" ng-model="form.formData.custom.sourceCode.custom.path" ng-required="false" ng-disabled="sourceCodeConfig[currentServiceName].custom.repoPath.disabled"/>
			<label class="fieldMsg">Unless specified, the root will be used</label>
		</div>
	</accordion-group>
</accordion>