<div ng-show="form.formData.deploy">
	<hr />
	<alert type="info">
		<div ng-show="currentServiceName === 'controller'">
			<h4>SOAJS Controller</h4>
			<hr/>
			<p>Turns on API management, lifecycle, security, multi tenancy, multi version, awareness, ...</p>
		</div>
		<div ng-show="currentServiceName === 'urac'">
			<h4>SOAJS URAC</h4>
			<hr/>
			<p>Ready Made Service that provides all the APIs needed to perform User Registration and Access Control Management Operations.</p>
		</div>
		<div ng-show="currentServiceName === 'oauth'">
			<h4>SOAJS oAuth</h4>
			<hr/>
			<p>Secures the services deployed in this environment using Open Authentication 2.0.</p>
		</div>
	</alert>
	
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr>
				<td>
					<div>
						<label class="ng-binding"><span class="capitalize">{{currentServiceName}}</span> Deployment Mode</label>
						<select ng-model="form.formData.mode" ng-change="tempFormEntries.mode.onAction()" class="form-control" ng-required="tempFormEntries.mode.required">
							<option ng-repeat="mode in allowedModes" value="{{mode.v}}">{{mode.l}}</option>
						</select>
						<div class="fieldMsg hint">
							Global/Daemonset mode deploys one replica of the service on each node.<br>Replicated/Deployment
							mode deploys the specified number of replicas based on the availability of
							resources.
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div ng-show="form.formData.mode ==='replicated' || form.formData.mode ==='deployment'">
						<label class="ng-binding">Number of <span class="capitalize">{{currentServiceName}}</span> Instances</label>
						<input class="form-control" ng-model="form.formData.number" type="number" ng-required="tempFormEntries.number.required"/>
						<div ng-show="entry.fieldMsg" class="fieldMsg hint ng-binding" ng-bind-html="entry.fieldMsg|toTrustedHtml">
							Choose how many {{currentServiceName}}(s) to deploy
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<label class="ng-binding">Memory Limit Per Instance for <span class="capitalize">{{currentServiceName}}</span> (in MBytes)</label>
						<input class="form-control" ng-model="form.formData.memory" type="number" placeholder="500" ng-required="tempFormEntries.memory.required"/>
						<div class="fieldMsg hint">
							Set a custom memory limit for {{currentServiceName}} instances
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<label class="ng-binding"><span class="capitalize">{{currentServiceName}}</span> Catalog Recipe</label>
						<select ng-model="form.formData.catalog" class="form-control" ng-required="tempFormEntries.catalog.required" ng-change="tempFormEntries.catalog.onAction()">
							<option ng-repeat="oneRecipe in serviceRecipes" value="{{oneRecipe._id}}">
								{{oneRecipe.name}}
							</option>
						</select>
						<div class="fieldMsg hint"></div>
					</div>
					
					<div ng-include="'modules/dashboard/environments/directives/deploy-service-customCatalogInputs.tmpl'"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>