<br />
<accordion close-others="false" ng-show="!form.formData.norecipe">
	<accordion-group ng-show="tempFormEntries.imagePrefix">
		<accordion-heading>Image Properties</accordion-heading>
		
		<div ng-show="tempFormEntries.imagePrefix">
			<label>Image Prefix</label>
			<input type="text" class="form-control" ng-model="form.formData.imagePrefix" ng-required="tempFormEntries.imagePrefix.required"/>
			<div class="fieldMsg hint">Override the image prefix if you want</div>
			<br/>
		</div>
		<div ng-show="tempFormEntries.imageName">
			<label>Image Name</label>
			<input type="text" class="form-control" ng-model="form.formData.imageName" ng-required="tempFormEntries.imageName.required"/>
			<div class="fieldMsg hint">Override the image name if you want</div>
			<br/>
		</div>
		<div ng-show="tempFormEntries.imageTag">
			<label>Image Tag</label>
			<input type="text" class="form-control" ng-model="form.formData.imageTag" ng-required="tempFormEntries.imageName.required"/>
			<div class="fieldMsg hint">Override the image tag if you want</div>
			<br/>
		</div>
	
	</accordion-group>
	<accordion-group ng-show="tempFormEntries.custom" is-open="true">
		<accordion-heading>Custom Inputs</accordion-heading>
		<div ng-repeat="(userInputName,userInput) in tempFormEntries.custom">
			<label>{{userInput.label || userInput.name}}</label>
			<input type="text" class="form-control" ng-model="form.formData.custom[userInputName].value" value="{{userInput.value}}" ng-required="userInput.required"/>
			<div class="fieldMsg hint">{{userInput.fieldMsg}}</div>
			<br/>
		</div>
	</accordion-group>
</accordion>

<accordion close-others="false" ng-show="form.formData.norecipe">
	<accordion-group is-open="true">
		<accordion-heading>Expose my Nginx to Port</accordion-heading>
		<div>
			<label>HTTP Port</label>
			<input ng-if = "wizard.deploy.selectedDriver !== 'kubernetes'" type="number" class="form-control" ng-model="form.formData.http" placeholder="80" ng-required="tempFormEntries.http.required"/>
			<input ng-if = "wizard.deploy.selectedDriver === 'kubernetes'" type="number" class="form-control" ng-model="form.formData.http" placeholder="80" ng-required="tempFormEntries.http.required"  min="1" max="2767"/>
			<div class="fieldMsg hint">Enter the port value to which the Nginx should be exposed to</div>
			<div ng-if = "wizard.deploy.selectedDriver === 'kubernetes'">
				<br>
				<alert type="info">
					The deployer will automatically add a value of 30000 to the port value you enter because you have selected Kubernetes as a deployment platform.<br>
					The allowed port values you can use in this case are restricted between 1 and 2767.
				</alert>
			</div>
			<br/>
		</div>
	</accordion-group>
	<accordion-group  ng-show="supportSSL" is-open="true">
		<accordion-heading>Secure My Nginx when you deploy it</accordion-heading>
		<div>
			<label>Tun on SSL</label>
			<input type="checkbox" ng-model="form.formData.ssl" ng-required="tempFormEntries.ssl.required" ng-change="tempFormEntries.ssl.onAction()"/>
			<div class="fieldMsg hint">Check the box if you want to turn on SSL and enforce all requests to use https
			</div>
			<br/>
		</div>
		<div ng-show="form.formData.ssl">
			<div>
				<label>HTTPS Port</label>
				<input ng-if = "wizard.deploy.selectedDriver !== 'kubernetes'" type="number" class="form-control" ng-model="form.formData.https" placeholder="443" ng-required="tempFormEntries.https.required"/>
				<input ng-if = "wizard.deploy.selectedDriver === 'kubernetes'" type="number" class="form-control" ng-model="form.formData.https" placeholder="443" ng-required="tempFormEntries.https.required"  min="1" max="2767"/>
				<div class="fieldMsg hint">Enter the secured port value to which the Nginx should be exposed to</div>
				<div ng-if = "wizard.deploy.selectedDriver === 'kubernetes'">
					<alert type="info">
						The deployer will automatically add a value of 30000 to the port value you enter because you have selected Kubernetes as a deployment platform.<br>
						The allowed port values you can use in this case are restricted between 1 and 2767.
					</alert>
				</div>
				<br/>
			</div>
			
			<div>
				<label>I have an nginx certificate in a repository, here's its location</label>
				<label class="toggleSwitch">
					<input type="checkbox" ng-model="form.formData.certs" ng-required="tempFormEntries.certs.required"/><span class="buttonSlider round"></span>
				</label>
				<div class="fieldMsg hint">
					Turn this on if you already purchased a certificate and placed in a git repo. The deployer will pull
					it and use it.<br/>
					Otherwise the deployer will generate self-signed certificates and use when when deploying the nginx.
				</div>
			</div>
			
			<div ng-show="form.formData.certs">
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td>
								<label>Provider</label>
								<select class="form-control" ng-model="form.formData.certsGit.provider" ng-required="form.formData.certs">
									<option value="github">Github</option>
									<option value="bitbucket">Bitbucket</option>
								</select>
								<div class="fieldMsg hint">Select the Source of your Repo.</div>
							</td>
						</tr>
						<tr>
							<td>
								<label>Git Domain</label>
								<input type="text" class="form-control" ng-model="form.formData.certsGit.domain" placeholder="github.com" ng-required="form.formData.certs"/>
								<div class="fieldMsg hint">Specify the domain of the repo.</div>
							</td>
						</tr>
						<tr>
							<td>
								<label>Git Owner</label>
								<input type="text" class="form-control" ng-model="form.formData.certsGit.owner" placeholder="soajs" ng-required="form.formData.certs"/>
								<div class="fieldMsg hint">Specify the owner of the git repo.</div>
							</td>
						</tr>
						<tr>
							<td>
								<label>Git Repository</label>
								<input type="text" class="form-control" ng-model="form.formData.certsGit.repo" placeholder="customUI" ng-required="form.formData.certs"/>
								<div class="fieldMsg hint">Specify the name of the git repo.</div>
							</td>
						</tr>
						<tr>
							<td>
								<label>Git Branch</label>
								<input type="text" class="form-control" ng-model="form.formData.certsGit.branch" placeholder="master" ng-required="form.formData.certs"/>
								<div class="fieldMsg hint">Specify the branch to use.</div>
							</td>
						</tr>
						<tr>
							<td>
								<label>Git Token</label>
								<input type="text" class="form-control" ng-model="form.formData.certsGit.token" placeholder="Token ID" ng-required="form.formData.certs"/>
								<div class="fieldMsg hint">Specify the token of the git repo.</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</accordion-group>
	<accordion-group>
		<accordion-heading>I have a Custom UI i want to associate with my Nginx</accordion-heading>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td>
						<label>Provider</label>
						<select class="form-control" ng-model="form.formData.customUi.source">
							<option value="github">Github</option>
							<option value="bitbucket">Bitbucket</option>
						</select>
						<div class="fieldMsg hint">Select the custom UI Source.</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Git Domain</label>
						<input type="text" ng-required="false" class="form-control" ng-model="form.formData.customUi.provider" placeholder="github.com"/>
						<div class="fieldMsg hint">Specify the domain of the custom UI repo.</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Git Owner</label>
						<input type="text" ng-required="false" class="form-control" ng-model="form.formData.customUi.owner" placeholder="soajs"/>
						<div class="fieldMsg hint">Specify the owner of the git repository.</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Git Repository</label>
						<input type="text" ng-required="false" class="form-control" ng-model="form.formData.customUi.repo" placeholder="customUI"/>
						<div class="fieldMsg hint">Specify the name of the git repository.</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Git Branch</label>
						<input type="text" ng-required="false" class="form-control" ng-model="form.formData.customUi.branch" placeholder="master"/>
						<div class="fieldMsg hint">Specify the branch to use.</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Git Token</label>
						<input type="text" ng-required="false" class="form-control" ng-model="form.formData.customUi.token" placeholder="Token ID"/>
						<div class="fieldMsg hint">Specify the token of the git repository.</div>
					</td>
				</tr>
				<tr>
					<td>
						<label>Git Path</label>
						<input type="text" ng-required="false" class="form-control" ng-model="form.formData.customUi.path" placeholder="/"/>
						<div class="fieldMsg hint">Specify the path of the git repository.</div>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion-group>
</accordion>