<!--<div ng-include="'modules/dashboard/resources/directives/resource.tmpl'"></div>-->

<div ng-include="'modules/dashboard/environments/directives/customRegistry.tmpl'"></div>

<!--<div ng-include="'modules/dashboard/environments/directives/secrets.tmpl'"></div>-->

