<div class="modal-body">
	<h4 style="text-align: center;">{{translation.tenantSecurityUpdated[LANG]}}</h4>

	<div ng-if="currentScope.newKeys && currentScope.newKeys.length!==0" class="grid" style="width:100%">
		<label>{{translation.theFollowingKeysWereGenerated[LANG]}}:</label>
		<table cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<th>{{translation.appPackage[LANG]}}</th>
					<th>{{translation.key[LANG]}}</th>
					<th>{{translation.externalKey[LANG]}}</th>
				</tr>
				<tr ng-repeat="entry in currentScope.newKeys" ng-class-even="'even'" ng-class-odd="'odd'">
					<td>{{entry.appPackage}}</td>
					<td>{{entry.key}}</td>
					<td>{{entry.extKey}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div ng-if="!currentScope.isDashEnv">
		<alert type="info">
			You need to reload the registry of the controller for this environment.
		</alert>
		<!--{{translation.keySecurityHasBeenUpdated[LANG]}}-->
	</div>
	<div ng-if="currentScope.isDashEnv">
		<alert type="info" ng-if="currentScope.formEnvironment.deployer.type!=='manual'">
			Follow the following steps for <b>Container</b> deployment:
			<ol class="">
				<li>
					Redeploy your Nginx container
				</li>
				<li>
					Reload registry for the controller service
				</li>
				<li>
					Login again
				</li>
			</ol>
		</alert>

		<alert type="info" ng-if="currentScope.formEnvironment.deployer.type==='manual'">
			Follow the following steps for <b>Manual</b> deployment:
			<div class="">
				<ol>
					<li>
						Update the config file to include the key generated for "DSBRD_MAIN" package
					</li>
					<li>
						Reload registry for the controller service
					</li>
					<li>
						Login again
					</li>
				</ol>
			</div>
		</alert>
	</div>
</div>
<div class="modal-footer">
	<button ng-if="currentScope.isDashEnv" class="btn btn-primary" ng-click="reloadDashboard()">{{translation.reloadDashboard[LANG]}}</button>
</div>