<accordion close-others="false">
	<accordion-group is-open="$first" ng-repeat="(infra, infraInfo) in vms">
		<accordion-heading>{{infraInfo.label}}</accordion-heading>
		
		<div class="entryBoxes" ng-show="infraInfo.list">
			<div class="entryBox mb20" ng-repeat="service in infraInfo.list">
				<div class="header table">
					<span class="serviceLabelBox">
						<span ng-show="service.labels['soajs.service.name'] !== 'controller'">{{service.labels['soajs.service.name']}}</span>
						<span ng-show="service.labels['soajs.service.name'] === 'controller'">SOAJS API Gateway</span>
						/
						<span style="margin-left: 0;" ng-if="service.ip && service.ip !== ''"> / IP Address: {{service.ip}}</span>&nbsp;
					</span>
					
					<div class="dropdown serviceOpsDropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Service Operations
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="serviceOpsDropdown">
							<li><a href="" ng-click="inspectService(service)"><span class="icon icon-info"></span>&nbsp;Inspect</a>
							</li>
							<li>
								<a href="" ng-if="access.hacloud.services.delete && ((envCode.toLowerCase() === 'dashboard' && ((service.namespace && service.namespace !== 'soajs') || service.labels['soajs.service.group'] !== 'soajs-core-services')) || (envCode.toLowerCase() !== 'dashboard'))" ng-click="deleteService(service, groupName)" ng-confirm-click="Are you sure you want to delete this service?"><span class="icon icon-cross"></span>&nbsp;Delete
									Service</a></li>
						</ul>
					</div>
					<!---->
					<!--<span class="serviceLabelBox autoscaleBox f-right" ng-if="envPlatform === 'kubernetes' && service.autoscaler && service.autoscaler.replicas.min && service.autoscaler.replicas.max">-->
											<!--<span class="icon icon-checkmark"></span>&nbsp;Autoscaled&nbsp;({{service.tasks.length}}/{{service.autoscaler.replicas.max}})-->
										<!--</span>-->
				</div>
				<div class="body">
					<div class="grid">
						<table cellspacing="0" cellpadding="0" border="1" width="100%" class="customTable">
							<thead>
								<tr class="header">
									<!--<td class="logsHeader">Logs</td>-->
									<td class="nameHeader">Container Name</td>
									<td class="maintenanceHeader">Started On</td>
									<td ng-show="oneSubType === 'soajs'" class="maintenanceHeader">Last Check On</td>
									<td class="statusHeader">
										Status
									</td>
									<td ng-class="{metricsHeader : envPlatform !== 'kubernetes' , metricsHeader2 : envPlatform === 'kubernetes'}" ng-if="isMetricsServerDeployed">
										Metrics
									</td>
								</tr>
							</thead>
							<tbody ng-repeat="instance in service.tasks" ng-hide="instance.hideIt && !service.hideIt" ng-init="instanceName = (envPlatform === 'kubernetes') ? instance.name : (service.labels['soajs.service.mode'] === 'global') ? instance.name + '.' + instance.ref.node.id + '.' + instance.id  : instance.name + '.' + instance.id">
								<tr class="cloud-tr-bgColor">
									<td>
										<a href="" ng-if="access.hacloud.services.logs">
											<span ng-click="hostLogs(service, instance)" class="icon icon-terminal" title="{{translation.getContainerLogs[LANG]}}"></span>
										</a>
									</td>
									<td>{{instance.name}}</td>
									<td>{{instance.status.ts | prettyLocalDate}}</td>
									<td ng-show="oneSubType === 'soajs' && instance.status.lastTs">
										{{instance.status.lastTs| prettyLocalDate}}
									</td>
									<td ng-show="oneSubType === 'soajs' && !instance.status.lastTs">N/A</td>
									<td>
										<span ng-show="instance.status.state === 'Unreachable'" tooltip-class="ctrl-tooltip" tooltip-placement="left" tooltip-html="instance.status.error" class="red"><b>{{instance.status.state}}</b></span>
										<span ng-show="instance.status.state !== 'Unreachable'" ng-class="{'green': instance.status.state ==='running', 'red': instance.status.state !=='running'}"><b>{{instance.status.state}}</b></span>
									</td>
									<td ng-if="isMetricsServerDeployed">
										<div style="width:93px; float : left; text-align: left; padding-left: 2px;">
											<span ng-if="servicesMetrics[instanceName].hasOwnProperty('currentCpu')">
												<b>CPU:</b>&nbsp;{{servicesMetrics[instanceName].currentCpu}}m
											</span>
											<span ng-if="servicesMetrics[instanceName].hasOwnProperty('currentCpuPercent')">
												<b>CPU:</b>&nbsp;{{servicesMetrics[instanceName].currentCpuPercent}}%
											</span>
											<span ng-if="!servicesMetrics[instanceName].hasOwnProperty('currentCpuPercent') && !servicesMetrics[instanceName].hasOwnProperty('currentCpu')">
												<b>CPU:</b> N/A
											</span>
										</div>
										<div style=" float : left; text-align: left">
											<span ng-if="servicesMetrics[instanceName].hasOwnProperty('currentMemory')">
												<b>Memory:</b>&nbsp;{{servicesMetrics[instanceName].currentMemory}}
												<span ng-if="servicesMetrics[instanceName].hasOwnProperty('memoryLimit')">
													&nbsp;/&nbsp;{{servicesMetrics[instanceName].memoryLimit}}
												</span>
												<span ng-if="servicesMetrics[instanceName].currentMemPercent">
													&nbsp;({{servicesMetrics[instanceName].currentMemPercent}}%)
												</span>
											</span>
											<span ng-if="!servicesMetrics[instanceName].hasOwnProperty('currentMemory')">
												<b>Memory:</b> N/A
											</span>
										</div>
										<!--<a href="" ng-if="servicesMetrics[instanceName].memory || servicesMetrics[instanceName].cpu ||  servicesMetrics[instanceName].cpuPercent || servicesMetrics[instanceName].blkIO || servicesMetrics[instanceName].netIO" class="tooltipToggle f-right" ng-click="showHideMetrics(instanceName)">-->
											<!--<span class="icon" ng-class="{'icon-circle-down': !ShowMetrics[instanceName], 'icon-circle-up': ShowMetrics[instanceName] }"></span>-->
										<!--</a>-->
									</td>
								</tr>
								<!--<tr ng-if="ShowMetrics[instanceName] && isMetricsServerDeployed">-->
									<!--<td colspan="6">-->
										<!--<div class="col-md-6" ng-if="servicesMetrics[instanceName].cpuPercent">-->
											<!--<canvas id="cpuPercent{{instanceName}}" class="chart chart-line" chart-data="servicesMetrics[instanceName].cpuPercent"-->
											        <!--chart-labels="servicesMetrics[instanceName].timestamp" chart-options="chartOptions[instanceName].cpuPercent.options" chart-dataset-override="chartOptions[instanceName].cpuPercent.override">-->
											<!--</canvas>-->
										<!--</div>-->
										<!--<div class="col-md-6" ng-if="!servicesMetrics[instanceName].cpuPercent && servicesMetrics[instanceName].cpu">-->
											<!--<canvas id="cpu{{instanceName}}" class="chart chart-line" chart-data="servicesMetrics[instanceName].cpu"-->
											        <!--chart-labels="servicesMetrics[instanceName].timestamp" chart-options="chartOptions[instanceName].cpu.options" chart-dataset-override="chartOptions[instanceName].cpu.override">-->
											<!--</canvas>-->
										<!--</div>-->
										<!--<div class="col-md-6" ng-if="servicesMetrics[instanceName].memory">-->
											<!--<canvas id="memory{{instanceName}}" class="chart chart-line" chart-data="servicesMetrics[instanceName].memory"-->
											        <!--chart-labels="servicesMetrics[instanceName].timestamp" chart-options="chartOptions[instanceName].memory.options" chart-dataset-override="chartOptions[instanceName].memory.override">-->
											<!--</canvas>-->
										<!--</div>-->
										<!--<div class="col-md-6" ng-if="!servicesMetrics[instanceName].memory && servicesMetrics[instanceName].memPercent">-->
											<!--<canvas id="memPercent{{instanceName}}" class="chart chart-line" chart-data="servicesMetrics[instanceName].memPercent"-->
											        <!--chart-labels="servicesMetrics[instanceName].timestamp" chart-options="chartOptions[instanceName].memPercent.options" chart-dataset-override="chartOptions[instanceName].memPercent.override">-->
											<!--</canvas>-->
										<!--</div>-->
										<!--<div class="col-md-6" ng-if="servicesMetrics[instanceName].blkIO">-->
											<!--<canvas id="blkIO{{instanceName}}" class="chart chart-line" chart-data="servicesMetrics[instanceName].blkIO"-->
											        <!--chart-labels="servicesMetrics[instanceName].timestamp" chart-series="chartOptions[instanceName].blkIO.series" chart-options="chartOptions[instanceName].blkIO.options" chart-dataset-override="chartOptions[instanceName].blkIO.override">-->
											<!--</canvas>-->
										<!--</div>-->
										<!--<div class="col-md-6" ng-if="servicesMetrics[instanceName].netIO">-->
											<!--<canvas id="netIO{{instanceName}}" class="chart chart-line" chart-data="servicesMetrics[instanceName].netIO"-->
											        <!--chart-labels="servicesMetrics[instanceName].timestamp" chart-series="chartOptions[instanceName].netIO.series" chart-options="chartOptions[instanceName].netIO.options" chart-dataset-override="chartOptions[instanceName].netIO.override">-->
											<!--</canvas>-->
										<!--</div>-->
									<!--</td>-->
								<!--</tr>-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</accordion-group>
</accordion>