<section ng-controller="platformsCtrl">
	<fieldset>
        <legend>
            <img ng-if="platform === 'docker'" ng-src="{{dockerImagePath}}" height="80px" alt="Docker Logo"/>
            <img ng-if="platform === 'kubernetes'" ng-src="{{kubernetesImagePath}}" height="80px" alt="Kubernetes Logo"/>
        </legend>
		<br />
        <div class="entryBoxes entryBoxesGrid">
            <div class="entryBox driverEntryBox">
                <div class="header">
                    {{driver|uppercase}}
                    <span class="rightActions">
                        <a href="" ng-if="access.platforms.certs.upload && platform === 'docker' && driver ==='remote' && config.certs.length < 3" ng-click="uploadCerts(platform, driver)">
                            <span class="icon icon-attachment" tooltip="{{translation.uploadCertificates[LANG]}}"></span>
                        </a>
                        <a href="" ng-if="platform === 'kubernetes'" ng-click="updateNamespaceConfig(driver)">
                            <span class="icon icon-cog" tooltip="ConfigureDriver"></span>
                        </a>
                        <a href="" ng-if="platform === 'docker' && driver ==='remote'" ng-click="updateDockerConfiguration(driver)">
                            <span class="icon icon-cog" tooltip="ConfigureDriver"></span>
                        </a>
                    </span>
                </div>
                <div class="body">
                    <div ng-if="platform === 'docker'">
                        <div class="grid" ng-if="config.socketPath">
	                        <table width="100%" cellspacing="10">
		                        <tr class="odd first last">
			                        <td width="50%">
				                        <b>Docker Socket</b>
			                        </td>
			                        <td>{{config.socketPath}}</td>
		                        </tr>
	                        </table>
                        </div>
                        <div class="grid" ng-if="!config.socketPath">
                            <table width="100%" cellspacing="10">
	                            <tr class="odd first">
		                            <td width="50%">
			                            <b>Master Node IP</b>
		                            </td>
		                            <td>{{config.nodes}}</td>
	                            </tr>
	                            <tr class="even">
		                            <td width="50%">
			                            <b>Docker Port</b>
		                            </td>
		                            <td>{{config.apiPort}}</td>
	                            </tr>
	                            <tr class="odd">
		                            <td colspan="2"><b>Certificates</b></td>
	                            </tr>
	                            <tr class="even last">
		                            <td colspan="2">
			                            <div class="staticDiv">
				                            <div ng-style="{'padding-top': '10px'}" ng-if="config.certs.length > 0">
					                            <div class="entryBox blueBox greyBoxCustom" ng-repeat="cert in config.certs" style="width:32% !important;">
						                            <b>{{cert.filename}} [{{cert.certType}}]</b>
						                            <a href="" ng-if="access.platforms.certs.delete" ng-click="removeCert(cert._id, platform, driver)" tooltip="{{translation.removeCertificate[LANG]}}">
							                            <span class="icon icon-bin pull-right"></span>
						                            </a>
					                            </div>
				                            </div>
				                            <alert type="warning" ng-if="!config.certs || config.certs.length === 0">{{translation.noCertificatesUploadedYet[LANG]}}</alert>
			                            </div>
		                            </td>
	                            </tr>
                            </table>
                        </div>
                    </div>
                    <div class="grid" ng-if="platform === 'kubernetes'">
                        <table width="100%" cellspacing="10">
	                        <tr class="odd first">
		                        <td width="50%">
			                        <b>Master Node IP</b>
		                        </td>
		                        <td>{{config.nodes}}</td>
	                        </tr>
	                        <tr class="even">
                                <td width="50%">
                                    <b>Namespace Configuration</b>
                                </td>
	                            <td>{{config.namespace.default}}</td>
                            </tr>
	                        <tr class="odd">
		                        <td><b>Namespace Type</b></td>
		                        <td>{{(config.namespace.perService ? 'Per Service' : 'Global')}}</td>
	                        </tr>
	                        <tr class="even">
                                <td>
                                    <b>Nginx Deployment Type</b>
                                </td>
		                        <td>{{config.nginxDeployType}}</td>
                            </tr>
	                        <tr class="odd">
		                        <td colspan="2">
			                        <b>Kubernetes Token</b>
		                        </td>
	                        </tr>
	                        <tr class="even last">
		                        <td colspan="2">
			                        <div style="overflow: auto;">
				                        {{config.auth.token | trimmed}}
			                        </div>
		                        </td>
	                        </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</section>

<script type="text/ng-template" id="uploadCertsInfo.html">
    <div class="modal-body">
        <div ng-bind-html="text"></div>
    </div>
    <div class="modal-footer" ng-if="data">
        <button class="btn btn-primary" ng-click="ok()">{{translation.ok[LANG]}}</button>
    </div>
</script>

<script type="text/ng-template" id="uploadCerts.tmpl">
    <div ng-include="'modules/dashboard/environments/directives/uploadCerts.tmpl'"></div>
</script>

<script type="text/ng-template" id="updateNamespaceConfig.tmpl">
    <div ng-include="'modules/dashboard/environments/directives/updateNamespaceConfig.tmpl'"></div>
</script>

<script type="text/ng-template" id="updateDockerConfiguration.tmpl">
    <div ng-include="'modules/dashboard/environments/directives/updateDockerConfiguration.tmpl'"></div>
</script>
