<div class="form">
	<div class="modal-header">
		<h3 class="modal-title">Old Resources Schemas Detected</h3>
	</div>
	<div class="modal-body">
		<alert type="danger">
			<h3 style="margin-top:5px;">Warning</h3>
			<hr>
			Some of the Resources have not been upgraded yet in this environment, they still use a configuration from
			previous SOAJS version(s).<br/>
			This prevents you from managing the databases section. Please upgrade these resources to the latest version
			<a href="" ng-click="upgradeResources()">[ Upgrade ]</a>
		</alert>
	</div>
</div>
