<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<form name="deploy" id="deploy" ng-submit="deploy.$valid && onSubmit()">
<div class="modal-body">
    <div class="form">
        <alert type="danger" ng-if="message.danger">{{message.danger}}</alert>
        
            <div class="form-group">
	            <div>
		            <label>Master Node IP</label>
		            <input type="text" class="form-control" ng-required="true" ng-model="data.nodes" />
		            <br />
	            </div>
                <div>
                    <label>Docker Port</label>
	                <input type="number" class="form-control" ng-required="true" ng-model="data.apiPort" />
                    <br />
                </div>
	            <div>
		            <label>Docker Token</label>
		            <textarea rows="5" ng-required="true" ng-model="data.token" class="form-control"></textarea>
		            <br />
	            </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary">Update</button>
    <button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
</div>
</form>