.travis a {
    background-image: url(/themes/default/img/travis_icon.png);
    background-position: 2px 5px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 35px !important;
}

.drone a {
    background-image: url(/themes/default/img/drone_logo.png);
    background-position: 5px 8px;
    background-repeat: no-repeat;
    background-size: 27px 25px;
    padding-left: 35px !important;
}

.ciFormHeader {
    background-color: #458673 !important;
    border: solid 1px #458673 !important;
    border-radius: 5px;
    width: 98%;
    margin: 10px auto;
    color: white;
}

.customEntryBox {
    width: 100% !important;
    /*min-height: 196px !important;*/
    /*height: auto;*/
    padding-left: 0px !important;
}

.entryBox {
    border: solid 1px #cccccc;
    position: relative;
    border-radius: 8px;
    margin-bottom: 15px;
}

.blueLi.active {
    background-color: #DFF0D8 !important;
    border-color: #3C763D !important;
    color: #3c763d !important;
}

.blueLi.deleted {
    background-color: #F2DEDE !important;
    border-color: #a94442 !important;
    color: #a94442 !important;
}

.blueLi.outOfSync {
    background-color: #FCF8E3 !important;
    border-color: #8a6d3b !important;
    color: #8a6d3b !important;
}

.repoHeader {
    width: 50px !important;
}

.nameHeader {
    width: 20% !important;
}

.typeHeader {
    width: 15% !important;
}

.linkHeader {
    width: 15% !important;
}

.loadingImageLarge {
    display: block;
    margin: 0 auto;
}

.alignCenter {
    text-align: center !important;
}

li.accountType {
    list-style-type: none;
    padding-left: 10px;
}

#activeRepos .grid table {
    min-width: 100%
}

#syncedRepos .grid table {
    min-width: 100%
}

.loadMore {
    width: 98%
}

.loadMore:hover {
    border-radius: 5px;
    border: solid 1px #337ab7;
}

#loadingNotification {
    height: 290px;
    width: 100%;
    padding-top: 40px;
}

.mr11 {
    margin-right: 11% !important;
}

.mr9 {
    margin-right: 9% !important;
}

#repoSettings #allow_push-wrapper label,
#repoSettings #allow_pr-wrapper label,
#repoSettings #allow_tags-wrapper label,
#repoSettings #allow_deploys-wrapper label,
#repoSettings #trusted-wrapper label,
#repoSettings #gated-wrapper label,
#repoSettings #maximum_number_of_builds-wrapper label,
#repoSettings #builds_only_with_travis_yml-wrapper label,
#repoSettings #build_pushes-wrapper label,
#repoSettings #build_pull_requests-wrapper label {
    width: 255px;
}

#repoSettings #allow_push-wrapper label,
#repoSettings #allow_push-wrapper ul li,
#repoSettings #allow_pr-wrapper label,
#repoSettings #allow_pr-wrapper ul li,
#repoSettings #allow_tags-wrapper label,
#repoSettings #allow_tags-wrapper ul li,
#repoSettings #allow_deploys-wrapper label,
#repoSettings #allow_deploys-wrapper ul li,
#repoSettings #trusted-wrapper label,
#repoSettings #trusted-wrapper ul li,
#repoSettings #gated-wrapper label,
#repoSettings #gated-wrapper ul li,
#repoSettings #maximum_number_of_builds-wrapper label,
#repoSettings #builds_only_with_travis_yml-wrapper label,
#repoSettings #builds_only_with_travis_yml-wrapper ul,
#repoSettings #builds_only_with_travis_yml-wrapper ul li,
#repoSettings #build_pushes-wrapper label,
#repoSettings #build_pushes-wrapper ul,
#repoSettings #build_pushes-wrapper ul li,
#repoSettings #build_pull_requests-wrapper label,
#repoSettings #build_pull_requests-wrapper ul,
#repoSettings #build_pull_requests-wrapper ul li {
    float: left;
}

#repoSettings #allow_push-wrapper ul,
#repoSettings #allow_pr-wrapper ul,
#repoSettings #allow_tags-wrapper ul,
#repoSettings #allow_deploys-wrapper ul,
#repoSettings #trusted-wrapper ul,
#repoSettings #gated-wrapper ul,
#repoSettings #builds_only_with_travis_yml-wrapper ul,
#repoSettings #build_pushes-wrapper ul,
#repoSettings #build_pull_requests-wrapper ul {
    margin-top: 15px;
    list-style-type: none;
}

#repoSettings #allow_push-wrapper ul li,
#repoSettings #allow_pr-wrapper ul li,
#repoSettings #allow_tags-wrapper ul li,
#repoSettings #allow_deploys-wrapper ul li,
#repoSettings #trusted-wrapper ul li,
#repoSettings #gated-wrapper ul li,
#repoSettings #maximum_number_of_builds-wrapper input,
#repoSettings #builds_only_with_travis_yml-wrapper ul li,
#repoSettings #build_pushes-wrapper ul li,
#repoSettings #build_pull_requests-wrapper ul li {
    margin-left: 10px;
}

#repoSettings #maximum_number_of_builds-wrapper input {
    float: left;
    width: 50px;
    margin-left: 46px;
}

#repoSettings #envs tr[class^="form-group tr-envName"] {
    width: 40%;
    float: left;
}

#repoSettings #envs tr[class^="form-group tr-envVal"] {
    width: 40%;
    float: left;
}

#repoSettings #envs tr[class^="form-group tr-envType"] {
    width: 15%;
    float: left;
    margin-top: 25px;
}

#repoSettings #envs tr[class^="form-group tr-removeEnv"] {
    width: 5%;
    float: left;
}

#repoSettings #envs tr td {
    display: block;
    width: 95%;
}

#repoSettings #envs tr[class^="form-group tr-removeEnv"] td {
    padding-top: 45px;
}

#repoSettings .recipeButtons {
    margin: 0 0 5px 0;
    width: 100%;
    text-align: left;
}

#repoSettings .recipeButtons span {
    position: relative;
    top: 2px;
}

#repoSettings legend {
    text-transform: capitalize;
}

.configCd .entryServiceBoxes .service-container .serviceNameHead {
    background-color: white;
    border-bottom: none;
}

.configCd .serviceNameHead .serviceName {
    width: 30%;
}

.configCd .form-control {
    display: inline;
    width: 65%;
    height: auto;
    padding-bottom: 3px;
    padding-top: 4px;
}

.configCd .entryServiceBoxes {
    margin-top: 10px;
}

.configCd label,
.configCd .entryServiceBoxes .service-container label {
    font-weight: bold;
    padding-bottom: 2px;
    width: 30%;
}

.configCd label.fieldMsg {
    width: 100%;
    clear: both;
    font-weight: normal;
}

.configCd select.form-control {
    margin-top: 3px;
    margin-bottom: 5px;
    min-width: 120px;
}

.configCd .halfPage {
    float: left;
    width: 35%;
}

.configCd .branchLabel {
    padding-top: 8px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.loadingImage {
    height: 18px !important;
    margin-left: 5px !important;
    margin-top: -3px !important;
    width: 18px !important;
}

.deployed {
    color: #3c763d;
    font-weight: bold;
}

.gitRepos-search {
    width: 70%;
    height: 25px;
    display: inline;
    margin-right: 10px;
}

.ace_editor {
    height: 600px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
}

.successBuild {
    padding: 20px;
    border: solid 1px #efefef;
    border-top: solid 3px green;
}

.failBuild {
    padding: 20px;
    border: solid 1px #efefef;
    border-top: solid 3px red;
}

.runningBuild {
    padding: 20px;
    border: solid 1px #efefef;
    border-top: solid 3px #EA9632;
}

.darkYellow {
    color: #EA9632;
}

.ace_text-input {
    position: absolute !important
}

.gitBox {
    width: 100% !important;
    float: unset !important;
}

.gitBranchesBox {
    width: 25% !important;
    /*min-height: 196px !important;*/
    /*height: auto;*/
    float: left !important;
}

.mr16 {
    margin-right: 16% !important;
}

.activeRepoWithBranches {
    background-color: #dff0d8 !important;
}

.greenBoxHeader {
    background-color: #dff0d8 !important;
    border-bottom-color: #3c763d !important;
}

.activeBranchAccordion {
    border-radius: 4px;
    margin: 15px 15px 0;
}

#reposListGithub .blueLi.active {
    background-color: white !important;
}

#reposList .blueLi.active {
    background-color: white !important;
}

.searchBarFieldSet {
    background-color: #F8F8F8;
}

.tabFieldSetHeight {
    height: 250px;
}

.searchLabel {
    color: #3279B6;
}

.searchInput90 {
    width: 90%
}

.searchRepoBar::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.42857143;
    color: grey;
}

.scrollableOrgs {
    max-height: 145px;
    overflow-y: scroll;
}

.scrollableValues {
    overflow-x: auto;
    max-width: 75%;
}

.marginTopRep {
    margin-top: 15px;
}

.limitSelect {
    width: 25%;
    margin: 0 5%;
}

.inputLength {
    width: 17%;
}

.removeMarginCheckBox {
    margin: 0px !important;
}

.activeRepoCheck {
    margin: 10px !important;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blueListing li.versionControlTab a{
    margin-left: 0px !important;
}