<div ng-show="alerts.length >0">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">
		{{alert.msg}}
	</alert>
	<br>
</div>
<div>
	<div class="f-right">
		<input type="button" class="btn btn-sm btn-danger" value="Go Back" ng-click="cancel();"/>
	</div>
	<tabset>
		<div ng-if="noCiConfig">
			<alert type="warning">No Continuous Integration Configuration Found. Please visit
				<a href="" ng-click="goTOCI()">Continuous Integration</a> Section and configure a provider before you
				can proceed.
				<input class="btn btn-sm btn-warning" value="Refresh" ng-click="configureRepo(myCurrentRepo, gitAccount)">
			</alert>
		</div>
		<tab ng-if="!noCiConfig" ng-repeat="oneProvider in ciProviders" class="{{oneProvider.provider}}" heading="{{oneProvider.provider}}" ng-click="showCIConfigForm(oneProvider)">
			<br />
			<div ng-show="access.enableDisableCIRepo && activatedRepo">
				<div class="table w100 c-both">
					<div class="f-left">
						Continuous Integration has been detected however, this repository has not been activated yet.
					</div>
					<div class="f-right">
						<a href="" ng-click="toggleStatus(oneProvider, true)" class="btn btn-sm btn-success">
							<span class="icon icon-switch"></span>&nbsp;Turn On
						</a>
					</div>
				</div>
			</div>
			<div ng-show="access.enableDisableCIRepo && !activatedRepo" id="ciRepo">
				<div class="c-both w100 table">
					<div class="f-left">
						Repository <b>{{ciRepoName}}</b> is active, you can configure its settings.
					</div>
					<div class="f-right">
						<a href="" ng-click="toggleStatus(oneProvider, false)" class="btn btn-sm btn-danger">
							<span class="icon icon-switch"></span>&nbsp;Turn Off
						</a>
					</div>
				</div>
				<hr>
				<tabset>
					<tab heading="Build Information" ng-if="oneProvider.repoBuildHistory">
						<br />
						<div ng-repeat="(branch, build) in oneProvider.repoBuildHistory">
							<div ng-class="{
								'successBuild': (build.result === 0 && build.state === 'finished'),
								'failBuild' : (build.result !== 0 && build.state === 'finished'),
								'runningBuild' : (build.state !== 'finished')
								}">
								<table width="100%">
									<tr>
										<td width="35%" valign="top">
											<div>
												<span ng-class="{
													'green': (build.result === 0 && build.state === 'finished'),
													'red': (build.result !== 0 && build.state === 'finished'),
													'darkYellow': (build.state !== 'finished')
													}">
													<span class="icon" ng-class="{
														'icon-checkmark': (build.result === 0 && build.state === 'finished'),
														'icon-cross': (build.result !== 0 && build.state === 'finished'),
														'icon-spinner4': (build.state !== 'finished')
														}"></span>&nbsp;&nbsp;
													<b>{{branch}}</b><br />
													<span>{{build.message}}</span>
												</span>
											</div><br />
											
											<div style="margin-bottom: 5px;"><span class="icon icon-git"></span> Commit: <a href="{{build.commitLink}}" target="_blank">{{build.commit.substring(0, 6)}}</a></div>
											<div><span class="icon icon-user"></span> Committed By: <b>{{build.committer_name}}</b></div>
										</td>
										<td width="25%" valign="top">
											<div>
												<a style="cursor:pointer;" ng-class="{
													'green': (build.result === 0 && build.state === 'finished'),
													'red': (build.result !== 0 && build.state === 'finished'),
													'darkYellow': (build.state !== 'finished')
													}" ng-click="showBuildLogs(build)">
													<span class="icon icon-hammer"></span>
													<span># {{build.number}}</span>&nbsp;
													<span ng-if="build.result === 0 && build.state === 'finished'" class="green">passed</span>
													<span ng-if="build.result !== 0 && build.state === 'finished'" class="red">failed</span>
												</a>
											</div><br /><br />
											
											
											<div style="margin-bottom: 5px;"><span class="icon icon-clock"></span> Ran for {{build.duration}}</div>
											<div><span class="icon icon-calendar"></span> {{build.started_at | date : 'medium'}}</div><br /><br />
										</td>
										<td width="25%" valign="top">
											<span ng-if="build.deploy && build.state === 'finished' && build.result === 0">
												<div><label class="green" style="margin:0;">Deployed:</label></div><br /><br />
												<div style="margin-bottom: 5px;" ng-repeat="(env, strategy) in build.deploy">
													In <span class="text-uppercase"><b>{{env}}</b></span> with Strategy: <b>{{strategy}}</b><br />
												</div>
											</span>
										</td>
										<td width="15%" valign="top" align="right">
											<a ng-if="build.hide" class="btn btn-info btn-sm" href="" ng-click="showBuildLogs(build)">
												<span class="icon icon-eye"></span>&nbsp;Logs
											</a>
											<a ng-if="!build.hide" href="" class="btn btn-danger btn-sm" ng-click="showBuildLogs(build)">
												<span class="icon icon-cross"></span>&nbsp;Logs
											</a>
											&nbsp;
											<a href="{{build.buildHistory}}" class="btn btn-warning btn-sm" target="_blank">
												<span class="icon icon-history"></span>&nbsp;History
											</a>
										</td>
									</tr>
									<tr>
										<td colspan="4" id="build_{{build.id}}" style="display:none;">
											<tabset>
												<tab heading="Build Logs">
													<br />
													<a href="" class="btn btn-sm btn-success f-right" style="margin: 10px;" ng-click="refreshBuildInformation(oneProvider)">
														<span class="icon icon-undo"></span>&nbsp;Refresh
													</a>
													<div ui-ace="{useWrapMode : true, showGutter: true, mode: 'sh', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded}" ng-model="build.logs"></div>
												</tab>
												<tab heading="Build Configuration" ng-if="build.config">
													<br />
													<div ui-ace="{useWrapMode : true, showGutter: true, mode: 'javascript', theme:'twilight', firstLineNumber: 1, onLoad: aceLoaded}" ng-model="build.config"></div>
												</tab>
											</tabset>
										</td>
									</tr>
								</table>
							</div>
							<br /><br /><br />
						</div>
					</tab>
					<tab heading="Repo Configuration">
						<br />
						<ngform></ngform>
					</tab>
				</tabset>
				
			</div>
		</tab>
	</tabset>
</div>